* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Century Gothic";
}
body {
  scroll-behavior: smooth;
  color: var(--Grey-dark-1);
  background-color: var(--primary-light);
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--Grey-dark-1);
  background-color: var(--primary-light);
}

section {
  margin: 10rem 0;
  height: 80vh;
  color: var(--Grey-dark-1);
  background-color: var(--primary-light);
}

.tab-panel {
  color: var(--Grey-dark-1);
  background-color: var(--primary-light);
}
.lead {
  background-position: top;
  background-attachment: fixed;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-image: url(../../img/teams_potraits/tile.jpg); */
}
.lead .lead_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: var(--Grey-dark-1);
  background-color: var(--primary-light);
}
.lead_title {
  width: 40%;
}
.lead_title h1 {
  font-size: 8rem;
  line-height: 8rem;
  font-weight: 900;
}
.lead_title p {
  font-family: "Times New Roman", Times, serifs;
  font-size: 2rem;
  /* transform: translateY(50px); */
}
.lead_container .lead_about {
  font-size: 1.2rem;
}
.lead_card {
  display: flex;
  justify-content: center;
}
.lead_card img {
  width: 80%;
  border-radius: 50%;
}
.firstleadname {
  font-weight: 100;
  font-size: 6rem;
}
.mainbg {
  position: absolute;
  width: 20%;
  bottom: 0%;
  left: 0%;
}
.mainbg img {
  z-index: -10;
}

.mainbgdsc {
  position: absolute;
  width: 20%;
  bottom: 0%;
  align-self: center;
}
.mainbgdsc img {
  z-index: -10;
}

.mainone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.maindsc {
  margin-top: -20vh;
}
.discoverone {
  display: flex;
  font-size: 5rem;
  font-family: "Montserrat";
  font-weight: 600;
  padding: 1rem;
  text-align: center;
  align-self: baseline;
  /* font-style: italic; */
}

.discovertwo {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  padding: 1rem;
  width: 40%;
  align-self: center;
  text-align: center;
}

.first {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  order: 1;
}

main .banner {
  font-size: 15rem;
  opacity: 0.08;
  font-weight: bolder;
}

.heading {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  text-align: center;
  color: #333;
  position: relative;
}

.heading2 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 3px;
  text-align: center;
  color: var(--Grey-dark-1);
  position: relative;
  margin-right: 100vw;
  transform: rotate(90deg) translateY(-100%);
}

.heading2::after {
  content: "";
  width: 10rem;
  height: 0.8rem;
  background-color: #45e19f;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  border-radius: 2rem;
}

.category_item {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.card_holder {
  align-self: center;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 3rem;
  padding: 6rem 0;
}
@media screen and (max-width: 1100px) {
  .lead {
    margin-top: 5rem;
    height: 80vh;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
  }
  .firstleadname {
    font-size: 3rem;
    text-align: center;
  }
  .lead .lead_container {
    flex-direction: column !important;
  }
  .lead_title {
    width: 100%;
    text-align: center;
  }
  .lead_title h1 {
    width: auto;
    line-height: normal;
    font-size: 3rem !important;
  }
  .lead_title p {
    font-family: "Times New Roman", Times, serifs;
    font-size: 2rem;
    /* transform: translateY(50px); */
  }
  .lead_container .lead_about {
    font-size: 1.2rem;
  }
  .lead_card {
    order: -1;
  }
  .lead_card img {
    width: 15rem;
    border-radius: 50%;
  }
}

@media screen and (max-width: 768px) {
  .mainone {
    flex-direction: column;
    align-content: center;
  }
  .first {
    font-size: 1rem !important;
    order: 0;
  }
  .discoverone {
    text-align: center;
    font-size: 4rem;
    align-self: center;
  }
  .discovertwo {
    text-align: center;
    width: 100%;
  }
  .mainbg {
    pointer-events: none;
    opacity: 0;
  }
  .mainbgdsc {
    pointer-events: none;
    opacity: 1;
    width: 50%;
  }
  .maindsc {
    margin-top: 0;
  }

  .heading2 {
    margin: 0;
    font-size: 2rem;
    transform: rotate(0) translateY(0);
  }
  .heading2::after {
    opacity: 0;
  }
  .game {
    margin: 4rem 0;
    width: 90%;
  }
  section {
    margin-bottom: 8rem;
  }
  .card_holder {
    padding: 0 0;
  }

  .game:hover .background {
    transform: scale(1.1, 1.2) translateY(1%);
  }
  .game:hover .rank {
    transform: translate(35%, -70%);
  }
}
