// ----
// Module base
// ----
.tab-container {
  margin-bottom: 1.5em;
}

.tab-buttons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: 30em) {
    justify-content: center;
  }
}

// ----
// Styling types
// ----

// Tab Basic
.tab-buttons--basic {
  border-bottom: 1px solid #ddd;
}

// Tab Basic: Link
.tab-buttons--basic .tab-button {
  border-bottom: 1px solid transparent;
}

// Tab Basic: Active
.tab-buttons--basic .tab-button--is-active {
  border-color: #08c;
}

// Tab Boxed
.tab-buttons--boxed {
  border-bottom: 1px solid #ddd;
}

// Tab Boxed: Link
.tab-buttons--boxed .tab-button {
  border: 1px solid transparent;
  border-radius: 0.3em 0.3em 0 0;
  padding-left: 30px;
  padding-right: 30px;

  &:not(.tab-button--is-active):hover,
  &:not(.tab-button--is-active):focus {
    background: #f9f9f9;
    border-bottom-color: #ddd;
  }
}

// Tab Boxed: Active
.tab-buttons--boxed .tab-button--is-active {
  background: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}

// Tab Toggle
.tab-buttons--toggle .tab-button-item:not(:first-child) {
  margin-left: -1px;
}

// Tab Toggle: Link
.tab-buttons--toggle .tab-button {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px 20px;

  &:not(.tab-button--is-active):hover,
  &:not(.tab-button--is-active):focus {
    background: #f9f9f9;
  }
}

// Tab Toggle: Active
.tab-buttons--toggle .tab-button--is-active {
  background: mix(#fff, #08c, 90%);
}

// ----
// Alignment
// ----
@media (min-width: 30em) {
  .tab-buttons--left {
    justify-content: flex-start;
  }

  .tab-buttons--right {
    justify-content: flex-end;
  }

  .tab-buttons--center {
    justify-content: center;
    text-align: center;
  }

  .tab-buttons--justify {
    justify-content: center;
    text-align: center;
  }

  .tab-buttons--justify .tab-button-item {
    flex: 1 0 auto;
  }
}

// ----
// Tab button items
// ----
.tab-button-item {
  @media (max-width: 30em) {
    text-align: center;
    width: 100%;
  }

  &:not(:first-child) {
    margin-left: 5px;
  }
}

.tab-button {
  color: #666;
  display: block;
  margin-bottom: -1px;
  padding: 10px;
  text-decoration: none;
}

.tab-button--is-active {
  color: #08c;
}

// ----
// Tab panels
// ----
.tab-panels {
  // border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 0.3em 0.3em;
  position: relative;
  z-index: 1;
  background-color: var(--white);
}

.tab-panel {
  //   padding: 1em;
}

.tab-buttons--toggle ~ .tab-panels {
  border: 1px solid #ddd;
  border-radius: 0.3em;
  margin-top: 1em;
}

.tab-panel--is-disabled {
  display: none;
}

.tab-panel--is-active {
  display: block;
}

// ----
// Layout setup
// ----
.panel {
  background: #f7f7f7;
  border: 1px solid #ddd;
  padding: 5em 3em;

  &:nth-child(even) {
    background: #fff;
  }

  &:not(:last-child) {
    margin-bottom: -1px;
  }
}

// Header and description area
.panel-header {
  margin-bottom: 4em;
  text-align: center;
}

// Center description on large screens
@media (min-width: 40em) {
  .panel-text {
    margin: auto;
    max-width: 700px;
  }
}

kbd {
  background: #ddd;
  border-radius: 0.2em;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.25);
  padding-left: 0.2em;
  padding-right: 0.2em;
}
