<footer class="-bg-footer" id="footer">
  <div class="container-fluid">
      <div class="row footer-align">
          <div class="col-md-4 col-sm-4">
              <h5>AntenaGames</h5>
              <hr class="hr-foot">
              <div class="footer-items">
                  <p class="footer">
                      AntenaGames is small indie game studio based in Croatia. Founded in 2020, on a mission to make beautiful, fun and popular mobile games. 
                  </p>
                  <ul class="social-networks">
                      <a href="https://www.facebook.com/AntenaGamesPlay/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                      <a href="https://www.pinterest.com/antenagames10/" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                                                                                                   <a href="https://twitter.com/antenagames_com" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                  </ul>
              </div>
          </div>
          <div class="col-md-4 col-sm-4">
              <h5>Our contact</h5>
              <hr class="hr-foot">
              <div class="footer-items">
                  <address>
                          10 000 Zagreb, Zagreb
                          <br>
                          Zagreb, Zagreb
                          <br>
                          Croatia
                          <br>
                          <i class="fa fa-phone address"></i> www.antenagames.com
                          <br>
                          <i class="fa fa-fax address"></i> www.antenagames.com
                          <br>
                          <i class="fa fa-envelope address"></i> <a href="http://www.antenagames.com" target="_blank">www.antenagames.com</a>
                  </address>
              </div>
          </div>
          <div class="col-md-4 col-sm-4">
              <h5>Open hours</h5>
              <hr class="hr-foot">
              <div class="footer-items">
                  <ul>
                      <li>Mon-Fri: 08:00-16:00</li>
                      <li>Sat    : Closed</li>
                      <li>Sun    : Closed</li> 
                  </ul>
              </div>
          </div>
      </div>
  </div>
  
  <a class="to-top" href="#myPage" title="toTop">
      <i class="fa fa-chevron-up"></i>
  </a>
</footer>

<div class="footer-copyright">
      <p>&copy 2020 Copyright <a href="http://www.antenagames.com" target="blank"> AntenaGames</a></p>
</div>