<div class="nav_main">
  <div class="nav_mainmenu">
    <div class="nav_column">
      <div class="contentnav">
        <p class="nav_heading">Navigation</p>
        <a href="/dsc">Home</a>
        <a href="/dsc/#about" class="nav-items-a">About Us</a>
        <a href="/dsc/members" class="nav-items-a">Members</a>
        <a href="/dsc/#schedule" class="nav-items-a">Announcement</a>
        <a href="/dsc/blog" class="nav-items-a">Blogs</a>
        <a href="/dsc/#features">Features</a>
      </div>
      <% if(user){ %>
      <div class="divider"></div>
      <div class="contentnav">
        <p class="nav_heading">Actions</p>
        <a href="/dsc/user/profile">Dashboard</a>
        <a href="/dsc/user/logout">Log Out</a>
        <!-- <a href="/dsc/user/profile/#panel01">Timeline</a>
        <a href="/dsc/user/profile/#panel02">Experience</a>
        <a href="/dsc/user/profile/#panel03">Skills</a>
        <a href="/dsc/user/profile/#panel04">Projects</a>
        <a href="/dsc/user/profile/#panel05">Achievement</a> -->
      </div>
      <% } %> <% if(!user){ %>
      <div class="contentnav">
        <p class="nav_heading">Actions</p>
        <a href="/dsc/user/register">Sign Up</a>
        <a href="/dsc/user/register?type=login">Login</a>
      </div>
      <% } %>
      <div class="divider"></div>
      <div class="contentnav">
        <p class="nav_heading">Communuty</p>
        <a href="/dsc/blog" class="nav-items-a">Blogs</a>
        <a href="/dsc/projects/" class="nav-items-a">DSC Projects</a>
        <!-- <a href="/">Trendings</a> -->
        <a
          href="https://dsc.community.dev/national-institute-of-technology-silchar/"
          >Google Developer's Page</a
        >
      </div>
      <div class="contentnav">
        <p class="nav_heading">Contact-Us</p>
        <a href="https://www.facebook.com/dscnits">Follow on Facebook</a>
        <a href="http://www.nits.ac.in/">Visit Institute Website</a>
      </div>
      <div class="divider"></div>
      <div class="contentnav">
        <p class="nav_heading">Address</p>

        <p class="x">Google's Developer Club, NIT Silchar</p>
        <p class="x">
          NIT Silchar, NIT Road, Fakiratilla,<br />
          Silchar, Assam 788010
        </p>
        <p class="x">5432788469</p>
      </div>
    </div>
  </div>
  <div class="nav_google">
    <img src="/official-logo/DSC3(T).png" style="width: 30%" alt="" />
  </div>
  <div class="nav_google">
    <p class="nav_heading fadedText" style="text-align: center">
      Made by the developers, of the developers and for the developers.<br /><br />
      Copyright © 2020 Google. All Rights Reserved.
    </p>
  </div>
</div>
