<div class="footer">
    <div class="inner-footer">
        <div class="footer-items">
  
            <h1>
                Connect Us
            </h1>
  
             <div class="border"></div>
             <ul>
                 <li><h2>Google's Developer<br>Club</h2></li>
                 <li><h2>Address-<br>Fakirtila NIT Silchar</h2></li>
                 <li><h2>Contact-<br>5432788469</h2></li>
                
             </ul>
  
             <div class="social-icons">
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
             </div>
                
     </div>
  
        <div class="footer-items">
  
            <div class="image">
                <img class="logo" src="/img/logo/DSC_trans.png">
                <h2>NIT Silchar</h2>
            </div>
               
        </div>
        <div class="footer-items">
  
            <h1>
                QUICK LINKS
            </h1>
  
             <div class="border"></div>
             <ul>
                 <a href="/"><li>Home</li></a>
                 <a href="/"><li>Features</li></a>
                 <a href="/"><li>Profile</li></a>
                 <a href="/"><li>About us</li></a>
                 <a href="/"><li>Developers</li></a>
                 <a href="/"><li>Sign Up</li></a>
                 <a href="/"><li>Log In</li></a>
                 <a href="/"><li>Log Out</li></a>
             </ul>
                
                    
         </div>
  
         
        
    </div>
  
    <div class="footer-bottom">
        copyright:DSC.nits .All Rights Reserved
    </div>
  