<div class="nav_main">
  <div class="nav_mainmenu">
    <div class="nav_column">
      <div class="contentnav">
        <p class="nav_heading">Navigation</p>
        <a href="/">Home</a>
        <a href="/">Features</a>
        <a href="/">Profile</a>
        <a href="/">Developers</a>
      </div>
      <div class="divider"></div>
      <div class="contentnav">
        <p class="nav_heading">Profile</p>
        <a href="/">Dashboard</a>
        <a href="/">Leaderboards</a>
        <a href="/">Acheivements</a>
        <a href="/">Skills</a>
      </div>
      <div class="contentnav">
        <p class="nav_heading">Quick Links</p>
        <a href="/">About us</a>
        <a href="/">Sign Up</a>
      </div>
      <div class="contentnav">
        <p class="nav_heading">Actions</p>
        <a href="/">Log In</a>
        <a href="/">Log Out</a>
      </div>
      <div class="divider"></div>
      <div class="contentnav">
        <p class="nav_heading">Communuty</p>
        <a href="/">Blog</a>
        <a href="/">Trendings</a>
        <a href="/">Follow on Facebook</a>
        <a href="/">Join our Discord</a>
      </div>
      <div class="contentnav">
        <p class="nav_heading">Contact-Us</p>
        <a href="/">Facebook</a>
        <a href="/">Official Website</a>
      </div>
      <div class="divider"></div>
      <div class="contentnav">
        <p class="nav_heading">Address</p>
        <a href="/">Google's Developer Club</a>
        <a href="/"
          >NIT Silchar, NIT Road, Fakiratilla,<br />
          Silchar, Assam 788010</a
        >
        <a href="/">5432788469</a>
      </div>
    </div>
  </div>
  <div class="nav_google">
    <p class="nav_heading fadedText">
      Copyright © 2020 NIT Silchar. All Rights Reserved.
    </p>
  </div>
</div>
