<!-- <div class="footer">
  <div class="inner-footer">
    <div class="footer-items">
      <h1>QUICK LINKS</h1>

      <div class="border"></div>
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/"><li>Features</li></a>
        <a href="/"><li>Profile</li></a>
        <a href="/"><li>About us</li></a>
        <a href="/"><li>Developers</li></a>
        <a href="/"><li>Sign Up</li></a>
        <a href="/"><li>Log In</li></a>
        <a href="/"><li>Log Out</li></a>
      </ul>
    </div>
    <div class="footer-items">
      <div class="image">
        <img class="logo" src="/img/logo/DSC_trans.png" />
        <h2>NIT Silchar</h2>
      </div>
    </div>
    <div class="footer-items">
      <h1>Connect Us</h1>

      <div class="border"></div>
      <ul>
        <li>
          <h2>Google's Developer<br />Club</h2>
        </li>
        <li>
          <h2>Address-<br />Fakirtila NIT Silchar</h2>
        </li>
        <li>
          <h2>Contact-<br />5432788469</h2>
        </li>
      </ul>

      <div class="social-icons">
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">copyright:DSC.nits .All Rights Reserved</div> -->

<div class="nav_main">
  <div class="nav_mainmenu">
    <div class="nav_column_left">
      <!-- <p class="nav_heading">Quick Links</p> -->

      <div class="contentnav">
        <a href="/">Home</a>
        <a href="/">Features</a>
        <a href="/">Profile</a>
        <a href="/">Developers</a>
      </div>
      <div class="contentnav">
        <a href="/">About us</a>
        <a href="/">Sign Up</a>
        <a href="/">Log In</a>
        <a href="/">Log Out</a>
      </div>
    </div>

    <img src="/img/logo/logo_textT.png" style="border-radius: 50%" />
    <div class="nav_column">
      <!-- <p class="nav_heading">Connect Us</p> -->
      <div class="contentnav">
        <h3>Google's Developer Club</h3>
        <h3>NIT Silchar, NIT Road, Fakiratilla, Silchar, Assam 788010</h3>
        <h3>5432788469</h3>
      </div>
    </div>
  </div>

  <hr size="1" background="#f7f7f7" />
  <div class="nav_google">
    <img
      src="https://www.gstatic.com/devrel-devsite/prod/v425077d6c7be97246d05a953898cb9591a173a3cef753a451b8729896196bc0a/developers/images/lockup-developers.svg"
      alt=""
      style="height: 3rem"
    />
    <p>© National Institute of Technology, Silchar 2020</p>
  </div>
</div>
