<div class="page-wrapper">
  <div class="nav-wrapper">
    <nav class="navbar">
      <div class="box">
        <input
          class="search-input"
          id="search1"
          type="text"
          placeholder="Search People"
          autofocus
        />
        <div class="search" id="srh1"></div>
        <ul class="search-view" id="search_list1">
          <% found.forEach((user)=>{ %>
          <li class="collection-item2">
            <a
              href="/user/public-profile/<%= user.dscHandle%> "
              class="usersearch"
              style="text-decoration: none"
              ><%= user.name%></a
            >
          </li>
          <% }) %>
        </ul>
      </div>
      <a href="/"> <img src="/img/logo/DSC-trans-new.png" alt="favicon" /></a>

      <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="nav no-search">
        <li class="nav-item"><a href="/" class="nav-items-a">Home</a></li>
        <li class="nav-item">
          <a href="/#about" class="nav-items-a">About Us</a>
        </li>
        <li class="nav-item">
          <a href="/project/" class="nav-items-a">DSC Projects</a>
        </li>
        <li class="nav-item">
          <a href="/#schedule" class="nav-items-a">Events</a>
        </li>
        <li class="nav-item">
          <a href="/blog" class="nav-items-a">Blogs</a>
        </li>
        <!-- <li id="dmodeGLOBAL" class="nav-item">
          <a href="#" class="nav-items-a">Dark Mode</a>
        </li> -->

        <% if(!user){ %>
        <li class="nav-item">
          <a href="/user/register" class="nav-items-a">SignUp</a>
        </li>
        <li class="nav-item">
          <a href="/user/register?type=login" class="nav-items-a">Log In</a>
        </li>
        <% }else{ %>
        <li class="nav-item">
          <div class="dropdown">
            <a href="#" class="nav-items-a dropbtn"
              ><%=user.name%> <i class="fa fa-caret-down"></i
            ></a>
            <div class="dropdown-content">
              <a href="/user/profile">My Profile</a>
              <a href="/user/logout">Logout</a>
            </div>
          </div>
        </li>
        <% } %>
        <li class="nav-item">
          <input
            class="type-checkbox"
            id="toogle"
            type="checkbox"
            name="name"
          />
          <label class="estado" for="toogle">
            <span class="aprobado">Light</span>
            <span class="desaprobado">Dark</span>
          </label>
        </li>
      </ul>
    </nav>
  </div>

  <script></script>
</div>
