:root {
    --modal-duration: 1s;
    --modal-color: #f4f4f4;
}

/* body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    font-size: 17px;
    line-height: 1.6;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
} */

.button {
    background: #428bca;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    margin-top: 100px;

    height: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #3876ac;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: 10% auto;
    width: 40%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    opacity: 1;
}

.modal-header h2,
.modal-footer h3 {
    margin: 0;
}

.modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-body {
    padding: 10px 10px;
    background: #fff;
    opacity:1;
}

.modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity:1;
}

.close {
    color: rgba(0, 0, 0, 0.5);
    float: right;
    font-size: 30px;
    color: #fff;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}