// Image Modal
.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  top: 0;
}
#uniqueness {
  color: #303030;
  text-align: center;
  margin: 0.5rem 0;
}

.modal img {
  width: 50%;
}

.modal_open {
  opacity: 1 !important;
  pointer-events: all;
}

// Edit Profile Modal
.editProfileModal,
.addSkillsModal,
.addProjectsModal,
.addAchievementModal {
  border: 1px solid;
  background-color: var(--white);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  padding-top: 0 !important;
  padding: 2rem;
  overflow: auto;
  width: 70vw;
  opacity: 0;
  pointer-events: none;
  z-index: 500;
  display: flex;
  transition: all 0.5s;
}
.addExperienceModal {
  border: 1px solid;
  background-color: var(--white);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 70vw;
  opacity: 0;
  pointer-events: none;
  z-index: 50;
  display: flex;
  transition: all 0.5s;
}
@media (max-height: 800px) {
  .editProfileModal {
    margin-top: 10%;
  }
  .addProjectsModal {
    margin-top: 10%;
  }
}
@media (max-height: 1000px) {
  .backPart {
    width: 10% !important;
  }
  .editProfileModal,
  .addSkillsModal,
  .addAchievementModal,
  .addProjectsModal,
  .addExperienceModal {
    top: 50%;
    width: 70%;
    position: absolute;
    overflow: auto;
    font-size: 0.8rem !important;
    height: auto;
  }
  .wrapper {
    padding: 0rem;
    height: auto !important;
  }
}

@media (max-width: 700px) {
  .editProfileModal,
  .addAchievementModal,
  .addExperienceModal,
  .addProjectsModal,
  .addSkillsModal .backPart {
    width: 100% !important;
  }
  .editProfileModal,
  .addSkillsModal,
  .addAchievementModal,
  .addProjectsModal,
  .addExperienceModal {
    top: 0%;
    left: 0%;
    transform: translate(0%, 80px);
    width: 100%;
    position: absolute;
    flex-direction: column;
    overflow: auto;
    font-size: 0.8rem !important;
    height: auto;
  }
  .wrapper {
    padding: 1rem 0;
    height: auto !important;
  }
  .editProfileModal,
  .addAchievementModal,
  .addExperienceModal,
  .addProjectsModal,
  .addSkillsModal #subscribeBox {
    align-items: center;
  }
  .subscribeForm {
    width: 100%;
  }
  .submit {
    width: 100% !important;
  }

  .flexRow {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  .edill {
    display: none;
  }
  .backlogo,
  .backlogo1 {
    transform: translateX(-3rem);
  }

  select {
    padding: 12px 0 0 0;
  }
}
.contentEdit {
  height: 100%;
  width: 100%;
  display: flex;
}

// Profile FORM
.editProfileModal,
.addExperienceModal,
.addProjectsModal,
.addAchievementModal,
.addSkillsModal {
  label {
    font-family: "Open Sans", sans-serif;
    width: 25%;
    font-size: 0.8rem;
    color: black;
  }
  input,
  textarea,
  select {
    border: 2px solid #eeeeee;
    height: 46px;
    margin: 10px 0 0 0;
    margin-bottom: 15px;
    padding: 1%;
    font-size: 1.2em;
    line-height: 1.5em;
    // color: var(--Grey-light-1) !important;
    letter-spacing: 0.01em;
    font-style: normal;
    font-weight: 300;
    font-family: "Times New Roman", Times;

    width: 100%;
    border-radius: 2px;
    option {
      border-radius: 2px;
    }
    &:focus {
      border: 2px solid black;
    }
  }
  select {
    color: black !important;
  }

  .fullwidth {
    height: 46px;
    width: 100%;

    a {
      text-decoration: underline;
      color: #3d589a;
    }
  }

  input[type="checkbox"] {
    visibility: hidden;
  }

  #checkbox {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
  }

  .customCheck {
    width: 90%;
    float: left;
    margin-top: 20px;
    position: relative;
  }

  .customCheck label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #eee;
    border: 1px solid #ddd;
  }

  .customCheck label:after {
    opacity: 0.2;
    content: "";
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 5px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .customCheck label:hover::after {
    opacity: 0.5;
  }

  .customCheck input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .robot {
    display: inline-block;
    position: relative;
    width: 60%;
    margin: 0 0 0 30px;
    line-height: 1em;
  }

  .submit {
    display: block;
    border: 0;
    width: 40%;
    height: 60px;
    background: orangered;
    color: white !important;
    text-align: center;
    border: 0;
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: 0.01em;
    font-style: normal;
    font-weight: 300;
    font-family: sans-serif;
    transition: all 0.2s;
  }

  .submit:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  /* Top-level Styling */

  .wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #fff;
    // margin: 0px auto 0;
    // padding: 20px;
  }

  /* Div Layout Styling */
  .backPart {
    width: 5%;

    background-color: white !important;
    padding-left: 2rem !important;
    .backlogo,
    .backlogo1 {
      width: 3rem;
      height: 3rem;
    }
  }
  #subscribeBox {
    position: relative;
    margin: 0 auto;
    padding: 2rem 0;
    height: auto !important;
    width: 80%;
    // min-width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  *:focus {
    outline: none;
  }

  .subscribeForm {
    display: block;
    margin: 20px 0 0 0;
    // width: 90%;
  }
  /* Text Styling for h2, p, a */

  //   h2 {
  //     font-weight: 500;
  //     letter-spacing: 0.05em;
  //     color: #333333;
  //     font-style: normal;
  //     font-family: source-sans-pro, sans-serif;
  //   }

  .thin {
    font-weight: 200;
  }

  // .upload-btn-wrapper {
  //   position: relative;
  //   overflow: hidden;
  //   display: inline-block;
  // }

  // .btn {
  //   border: 2px solid gray;
  //   color: gray;
  //   background-color: white;
  //   padding: 8px 20px;
  //   border-radius: 8px;
  //   font-size: 20px;
  //   font-weight: bold;
  // }
  .upload-btn-wrapper input {
    color: var(--Grey-light-1);
  }

  .upload-btn-wrapper input[type="file"] {
    border: none;
    // border-style: none;
    font-size: 12px;
    color: #303030 !important;
    background-color: rgb(238, 238, 238);
    position: relative;
    height: 100%;
    opacity: 1;
    width: 10rem;
  }
  .socials {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .items {
      // height: 3rem;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      margin: 1rem 0;
      font-weight: 600;
      transition: all 0.2s;
      border-radius: 10px;

      .submit_photo {
        width: 100%;
        transition: all 0.2s;
        &:hover {
          opacity: 0.8;
        }
      }
      .photo img {
        width: 10rem;
        height: 10rem;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: var(--white);
      }
      a {
        margin-left: 1rem;
        text-decoration: none;
        color: var(--white);
      }
      // &:hover {
      //   opacity: 0.9;
      // }
    }
    .blue {
      background-color: #3d589a;
    }
    .link {
      background-color: #0076b4;
      span {
        font-size: 10px;
      }
    }
    .twitter {
      background-color: #2ca6e0;
      span {
        font-size: 10px;
      }
    }
  }

  .edill {
    width: 70%;
    align-self: center;
  }
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  padding: 10px 5px;
  font-size: 1.3em;
  background: white;
  border-radius: 3px;
  color: black;
  transition: 0.4s;
  margin-top: 1rem;
  border: 1px solid #ccc;
}
.custom-file-upload > span {
  color: black;
  padding: 10px;
  font-size: 1.3em;
  font-weight: normal;
}
.custom-file-upload:hover {
  opacity: 0.8;
}
#fileSubmitButton {
  display: none;
}
.footnote {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.6rem;
  margin-bottom: 1rem;
}
