// Image Modal
.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  top: 0;
}

.modal img {
  width: 50%;
}

.modal_open {
  opacity: 1 !important;
  pointer-events: all;
}

// Edit Profile Modal
.editProfileModal,
.addSkillsModal,
.addProjectsModal,
.addAchievementModal {
  border: 1px solid;
  background-color: var(--white);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  overflow: auto;
  width: 70vw;
  opacity: 0;
  pointer-events: none;
  z-index: 50;
  display: flex;
  transition: all 0.5s;
}
.addExperienceModal {
  border: 1px solid;
  background-color: var(--white);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 70vw;
  opacity: 0;
  pointer-events: none;
  z-index: 50;
  display: flex;
  transition: all 0.5s;
}

@media (max-width: 1000px) {
  .editProfileModal,
  .addAchievementModal,
  .addExperienceModal,
  .addProjectsModal,
  .addSkillsModal .backPart {
    width: 100% !important;
  }
  .editProfileModal,
  .addSkillsModal,
  .addAchievementModal,
  .addProjectsModal,
  .addExperienceModal {
    top: 0%;
    left: 0%;
    transform: translate(0%, 80px);
    width: 100%;
    position: absolute;
    flex-direction: column;
    overflow: auto;
    font-size: 0.8rem !important;
    height: auto;
  }
  .wrapper {
    padding: 2rem 0;
    height: auto !important;
  }
  .editProfileModal,
  .addAchievementModal,
  .addExperienceModal,
  .addProjectsModal,
  .addSkillsModal #subscribeBox {
    align-items: center;
  }
  .subscribeForm {
    width: 100%;
  }
  #submit {
    width: 100% !important;
  }
  .flexRow {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  .edill {
    display: none;
  }
}
.contentEdit {
  height: 100%;
  width: 100%;
  display: flex;
}

// Profile FORM
.editProfileModal,
.addExperienceModal,
.addProjectsModal,
.addAchievementModal,
.addSkillsModal {
  label {
    width: 25%;
    font-size: 0.8rem;
    color: black;
  }
  input,
  textarea,
  select {
    border: 2px solid #eeeeee;
    height: 46px;
    margin: 10px 0 0 0;
    margin-bottom: 15px;
    padding: 1%;
    font-size: 1.2em;
    line-height: 1.5em;
    color: var(--Grey-light-1) !important;
    letter-spacing: 0.01em;
    font-style: normal;
    font-weight: 300;
    font-family: sans-serif;
    width: 100%;
    border-radius: 2px;
    option {
      border-radius: 2px;
    }
  }
  select {
    color: black !important;
  }

  .fullwidth {
    height: 46px;
    width: 100%;

    a {
      text-decoration: underline;
      color: #3d589a;
    }
  }

  input[type="checkbox"] {
    visibility: hidden;
  }

  #checkbox {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
  }

  .customCheck {
    width: 90%;
    float: left;
    margin-top: 20px;
    position: relative;
  }

  .customCheck label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #eee;
    border: 1px solid #ddd;
  }

  .customCheck label:after {
    opacity: 0.2;
    content: "";
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 5px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .customCheck label:hover::after {
    opacity: 0.5;
  }

  .customCheck input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .robot {
    display: inline-block;
    position: relative;
    width: 60%;
    margin: 0 0 0 30px;
    line-height: 1em;
  }

  #submit {
    display: block;
    border: 0;
    width: 35%;
    height: 60px;
    background: orangered;
    color: var(--white);
    text-align: center;
    border: 0;
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: 0.01em;
    font-style: normal;
    font-weight: 300;
    font-family: sans-serif;
    transition: all 0.2s;
  }

  #submit:hover {
    opacity: 0.8;
  }
  /* Top-level Styling */

  .wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #fff;
    // margin: 0px auto 0;
    // padding: 20px;
  }

  /* Div Layout Styling */
  .backPart {
    width: 5%;
    background-color: white !important;
    padding-left: 2rem !important;
    .backlogo,
    .backlogo1 {
      width: 3rem;
      height: 3rem;
    }
  }
  #subscribeBox {
    position: relative;
    margin: 0 auto;
    padding: 10px 0;
    height: 80%;
    width: 80%;
    // min-width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  *:focus {
    outline: none;
  }

  .subscribeForm {
    display: block;
    margin: 20px 0 0 0;
    // width: 90%;
  }
  /* Text Styling for h2, p, a */

  //   h2 {
  //     font-weight: 500;
  //     letter-spacing: 0.05em;
  //     color: #333333;
  //     font-style: normal;
  //     font-family: source-sans-pro, sans-serif;
  //   }

  .thin {
    font-weight: 200;
  }

  .socials {
    display: flex;
    flex-direction: column;
    height: 30%;
    .items {
      // height: 3rem;
      width: 20rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 1rem;
      margin: 1rem 0;
      font-weight: 600;
      transition: all 0.2s;
      border-radius: 10px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: var(--white);
      }
      a {
        margin-left: 1rem;
        text-decoration: none;
        color: var(--white);
      }
      &:hover {
        opacity: 0.9;
      }
    }
    .blue {
      background-color: #3d589a;
    }
    .link {
      background-color: #0076b4;
    }
    .twitter {
      background-color: #2ca6e0;
    }
  }

  .edill {
    width: 80%;
    align-self: flex-end;
  }
}
