.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: 0;
}

.modal img {
  width: 50%;
}

.modal_open {
  opacity: 1 !important;
  pointer-events: all;
}

.editProfileModal,
.addSkillsModal,
.addProjectsModal,
.addAchievementModal {
  border: 1px solid;
  background-color: var(--white);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  padding: 2rem;
  overflow: auto;
  width: 70vw;
  opacity: 0;
  pointer-events: none;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.addExperienceModal {
  border: 1px solid;
  background-color: var(--white);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 80vh;
  width: 70vw;
  opacity: 0;
  pointer-events: none;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 1000px), (max-height: 820px) {
  .editProfileModal,
  .addAchievementModal,
  .addExperienceModal,
  .addProjectsModal,
  .addSkillsModal .backPart {
    width: 100% !important;
  }
  .editProfileModal,
  .addSkillsModal,
  .addAchievementModal,
  .addProjectsModal,
  .addExperienceModal {
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 80px);
            transform: translate(0%, 80px);
    width: 100%;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
    font-size: 0.8rem !important;
    height: auto;
  }
  .wrapper {
    padding: 2rem 0;
    height: auto !important;
  }
  .editProfileModal,
  .addAchievementModal,
  .addExperienceModal,
  .addProjectsModal,
  .addSkillsModal #subscribeBox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribeForm {
    width: 100%;
  }
  .submit {
    width: 100% !important;
  }
  .flexRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .edill {
    display: none;
  }
  .backlogo,
  .backlogo1 {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
}

.contentEdit {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editProfileModal,
.addExperienceModal,
.addProjectsModal,
.addAchievementModal,
.addSkillsModal {
  /* Top-level Styling */
  /* Div Layout Styling */
  /* Text Styling for h2, p, a */
}

.editProfileModal label,
.addExperienceModal label,
.addProjectsModal label,
.addAchievementModal label,
.addSkillsModal label {
  width: 25%;
  font-size: 0.8rem;
  color: black;
}

.editProfileModal input,
.editProfileModal textarea,
.editProfileModal select,
.addExperienceModal input,
.addExperienceModal textarea,
.addExperienceModal select,
.addProjectsModal input,
.addProjectsModal textarea,
.addProjectsModal select,
.addAchievementModal input,
.addAchievementModal textarea,
.addAchievementModal select,
.addSkillsModal input,
.addSkillsModal textarea,
.addSkillsModal select {
  border: 2px solid #eeeeee;
  height: 46px;
  margin: 10px 0 0 0;
  margin-bottom: 15px;
  padding: 1%;
  font-size: 1.2em;
  line-height: 1.5em;
  color: var(--Grey-light-1) !important;
  letter-spacing: 0.01em;
  font-style: normal;
  font-weight: 300;
  font-family: sans-serif;
  width: 100%;
  border-radius: 2px;
}

.editProfileModal input option,
.editProfileModal textarea option,
.editProfileModal select option,
.addExperienceModal input option,
.addExperienceModal textarea option,
.addExperienceModal select option,
.addProjectsModal input option,
.addProjectsModal textarea option,
.addProjectsModal select option,
.addAchievementModal input option,
.addAchievementModal textarea option,
.addAchievementModal select option,
.addSkillsModal input option,
.addSkillsModal textarea option,
.addSkillsModal select option {
  border-radius: 2px;
}

.editProfileModal select,
.addExperienceModal select,
.addProjectsModal select,
.addAchievementModal select,
.addSkillsModal select {
  color: black !important;
}

.editProfileModal .fullwidth,
.addExperienceModal .fullwidth,
.addProjectsModal .fullwidth,
.addAchievementModal .fullwidth,
.addSkillsModal .fullwidth {
  height: 46px;
  width: 100%;
}

.editProfileModal .fullwidth a,
.addExperienceModal .fullwidth a,
.addProjectsModal .fullwidth a,
.addAchievementModal .fullwidth a,
.addSkillsModal .fullwidth a {
  text-decoration: underline;
  color: #3d589a;
}

.editProfileModal input[type="checkbox"],
.addExperienceModal input[type="checkbox"],
.addProjectsModal input[type="checkbox"],
.addAchievementModal input[type="checkbox"],
.addSkillsModal input[type="checkbox"] {
  visibility: hidden;
}

.editProfileModal #checkbox,
.addExperienceModal #checkbox,
.addProjectsModal #checkbox,
.addAchievementModal #checkbox,
.addSkillsModal #checkbox {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}

.editProfileModal .customCheck,
.addExperienceModal .customCheck,
.addProjectsModal .customCheck,
.addAchievementModal .customCheck,
.addSkillsModal .customCheck {
  width: 90%;
  float: left;
  margin-top: 20px;
  position: relative;
}

.editProfileModal .customCheck label,
.addExperienceModal .customCheck label,
.addProjectsModal .customCheck label,
.addAchievementModal .customCheck label,
.addSkillsModal .customCheck label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: #eee;
  border: 1px solid #ddd;
}

.editProfileModal .customCheck label:after,
.addExperienceModal .customCheck label:after,
.addProjectsModal .customCheck label:after,
.addAchievementModal .customCheck label:after,
.addSkillsModal .customCheck label:after {
  opacity: 0.2;
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.editProfileModal .customCheck label:hover::after,
.addExperienceModal .customCheck label:hover::after,
.addProjectsModal .customCheck label:hover::after,
.addAchievementModal .customCheck label:hover::after,
.addSkillsModal .customCheck label:hover::after {
  opacity: 0.5;
}

.editProfileModal .customCheck input[type="checkbox"]:checked + label:after,
.addExperienceModal .customCheck input[type="checkbox"]:checked + label:after,
.addProjectsModal .customCheck input[type="checkbox"]:checked + label:after,
.addAchievementModal .customCheck input[type="checkbox"]:checked + label:after,
.addSkillsModal .customCheck input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.editProfileModal .robot,
.addExperienceModal .robot,
.addProjectsModal .robot,
.addAchievementModal .robot,
.addSkillsModal .robot {
  display: inline-block;
  position: relative;
  width: 60%;
  margin: 0 0 0 30px;
  line-height: 1em;
}

.editProfileModal .submit,
.addExperienceModal .submit,
.addProjectsModal .submit,
.addAchievementModal .submit,
.addSkillsModal .submit {
  display: block;
  border: 0;
  width: 35%;
  height: 60px;
  background: orangered;
  color: white !important;
  text-align: center;
  border: 0;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.01em;
  font-style: normal;
  font-weight: 300;
  font-family: sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.editProfileModal .submit:hover,
.addExperienceModal .submit:hover,
.addProjectsModal .submit:hover,
.addAchievementModal .submit:hover,
.addSkillsModal .submit:hover {
  opacity: 0.8;
}

.editProfileModal .wrapper,
.addExperienceModal .wrapper,
.addProjectsModal .wrapper,
.addAchievementModal .wrapper,
.addSkillsModal .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: #fff;
}

.editProfileModal .backPart,
.addExperienceModal .backPart,
.addProjectsModal .backPart,
.addAchievementModal .backPart,
.addSkillsModal .backPart {
  width: 5%;
  background-color: white !important;
  padding-left: 2rem !important;
}

.editProfileModal .backPart .backlogo,
.editProfileModal .backPart .backlogo1,
.addExperienceModal .backPart .backlogo,
.addExperienceModal .backPart .backlogo1,
.addProjectsModal .backPart .backlogo,
.addProjectsModal .backPart .backlogo1,
.addAchievementModal .backPart .backlogo,
.addAchievementModal .backPart .backlogo1,
.addSkillsModal .backPart .backlogo,
.addSkillsModal .backPart .backlogo1 {
  width: 3rem;
  height: 3rem;
}

.editProfileModal #subscribeBox,
.addExperienceModal #subscribeBox,
.addProjectsModal #subscribeBox,
.addAchievementModal #subscribeBox,
.addSkillsModal #subscribeBox {
  position: relative;
  margin: 0 auto;
  padding: 2rem 0;
  height: auto !important;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.editProfileModal *:focus,
.addExperienceModal *:focus,
.addProjectsModal *:focus,
.addAchievementModal *:focus,
.addSkillsModal *:focus {
  outline: none;
}

.editProfileModal .subscribeForm,
.addExperienceModal .subscribeForm,
.addProjectsModal .subscribeForm,
.addAchievementModal .subscribeForm,
.addSkillsModal .subscribeForm {
  display: block;
  margin: 20px 0 0 0;
}

.editProfileModal .thin,
.addExperienceModal .thin,
.addProjectsModal .thin,
.addAchievementModal .thin,
.addSkillsModal .thin {
  font-weight: 200;
}

.editProfileModal .upload-btn-wrapper input,
.addExperienceModal .upload-btn-wrapper input,
.addProjectsModal .upload-btn-wrapper input,
.addAchievementModal .upload-btn-wrapper input,
.addSkillsModal .upload-btn-wrapper input {
  color: var(--Grey-light-1);
}

.editProfileModal .upload-btn-wrapper input[type="file"],
.addExperienceModal .upload-btn-wrapper input[type="file"],
.addProjectsModal .upload-btn-wrapper input[type="file"],
.addAchievementModal .upload-btn-wrapper input[type="file"],
.addSkillsModal .upload-btn-wrapper input[type="file"] {
  border: none;
  font-size: 12px;
  color: #303030 !important;
  background-color: #eeeeee;
  position: relative;
  height: 100%;
  opacity: 1;
  width: 10rem;
}

.editProfileModal .socials,
.addExperienceModal .socials,
.addProjectsModal .socials,
.addAchievementModal .socials,
.addSkillsModal .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editProfileModal .socials .items,
.addExperienceModal .socials .items,
.addProjectsModal .socials .items,
.addAchievementModal .socials .items,
.addSkillsModal .socials .items {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 1rem 0;
  font-weight: 600;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 10px;
}

.editProfileModal .socials .items .submit_photo,
.addExperienceModal .socials .items .submit_photo,
.addProjectsModal .socials .items .submit_photo,
.addAchievementModal .socials .items .submit_photo,
.addSkillsModal .socials .items .submit_photo {
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.editProfileModal .socials .items .submit_photo:hover,
.addExperienceModal .socials .items .submit_photo:hover,
.addProjectsModal .socials .items .submit_photo:hover,
.addAchievementModal .socials .items .submit_photo:hover,
.addSkillsModal .socials .items .submit_photo:hover {
  opacity: 0.8;
}

.editProfileModal .socials .items .photo img,
.addExperienceModal .socials .items .photo img,
.addProjectsModal .socials .items .photo img,
.addAchievementModal .socials .items .photo img,
.addSkillsModal .socials .items .photo img {
  width: 10rem;
  height: 10rem;
}

.editProfileModal .socials .items img,
.addExperienceModal .socials .items img,
.addProjectsModal .socials .items img,
.addAchievementModal .socials .items img,
.addSkillsModal .socials .items img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: var(--white);
}

.editProfileModal .socials .items a,
.addExperienceModal .socials .items a,
.addProjectsModal .socials .items a,
.addAchievementModal .socials .items a,
.addSkillsModal .socials .items a {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--white);
}

.editProfileModal .socials .blue,
.addExperienceModal .socials .blue,
.addProjectsModal .socials .blue,
.addAchievementModal .socials .blue,
.addSkillsModal .socials .blue {
  background-color: #3d589a;
}

.editProfileModal .socials .link,
.addExperienceModal .socials .link,
.addProjectsModal .socials .link,
.addAchievementModal .socials .link,
.addSkillsModal .socials .link {
  background-color: #0076b4;
}

.editProfileModal .socials .link span,
.addExperienceModal .socials .link span,
.addProjectsModal .socials .link span,
.addAchievementModal .socials .link span,
.addSkillsModal .socials .link span {
  font-size: 10px;
}

.editProfileModal .socials .twitter,
.addExperienceModal .socials .twitter,
.addProjectsModal .socials .twitter,
.addAchievementModal .socials .twitter,
.addSkillsModal .socials .twitter {
  background-color: #2ca6e0;
}

.editProfileModal .socials .twitter span,
.addExperienceModal .socials .twitter span,
.addProjectsModal .socials .twitter span,
.addAchievementModal .socials .twitter span,
.addSkillsModal .socials .twitter span {
  font-size: 10px;
}

.editProfileModal .edill,
.addExperienceModal .edill,
.addProjectsModal .edill,
.addAchievementModal .edill,
.addSkillsModal .edill {
  width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  padding: 10px 5px;
  font-size: 1.3em;
  background: white;
  border-radius: 3px;
  color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 1rem;
  border: 1px solid #ccc;
}

.custom-file-upload > span {
  color: black;
  padding: 10px;
  font-size: 1.3em;
  font-weight: normal;
}

.custom-file-upload:hover {
  opacity: 0.8;
}

#fileSubmitButton {
  display: none;
}
/*# sourceMappingURL=modal.css.map */