.cards .card .skill-description {
  margin-right: auto;
}

.cards .card .skill-name {
  font-weight: bold;
  text-transform: uppercase;
}

.cards .card .skill-time {
  font-weight: lighter;
  margin-top: 10px;
}

.cards .card .skill-level {
  margin-top: auto;
}

.cards .card .skill-icon {
  padding-right: 20px;
}
.cards .card .skill-icon .icon {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.skill-add {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#btn {
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: ease 0.1s;
  font-size: 18px;
  text-transform: uppercase;
}

#btn:hover{
  background-color: rgb(73, 73, 238);
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.addSkill {
  background-color: transparent;
  border: none;
  margin: 1rem;
  font-size: 0.8rem;
  font-family: sans-serif;
  transition: all 0.2s;
  padding: 0.5rem;
  text-decoration: underline;
}

.addSkill:hover {
  cursor: pointer;
  color: var(--Grey-dark-2);

  /* border-color: var(--Grey-dark-1); */
}