.cards {
  color: var(--Grey-dark-1);
}

.cards .card .skill-description {
  margin-right: auto;
}

.cards .card .skill-name {
  font-weight: bold;
  text-transform: uppercase;
}

.cards .card .skill-time {
  font-weight: lighter;
  margin-top: 10px;
}

.cards .card .skill-level {
  margin-top: auto;
  line-height: -7px;
  /* position: absolute; */
  right: 16rem;
}

.cards .card .skill-icon {
  padding-right: 20px;
}
.cards .card .skill-icon .icon {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.skill-add {
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn {
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: ease 0.1s;
  font-size: 18px;
  text-transform: uppercase;
}

#btn:hover {
  background-color: rgb(73, 73, 238);
}
.delete-ski img {
  size: 5px;
  width: 42px;
  height: 42px;
  border: 0px;
}

.edit-ski img {
  size: 5px;
  width: 39px;
  height: 39px;
  border: 0px;
}
.delete-ski a {
  background: none;
}

.card button img {
  padding-bottom: 5px;
}
.card button {
  border: none;
  color: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
