.row-ach {
  border-bottom-color: rgba(186, 190, 189, 0.2);
  border-bottom-style: groove;
  border-bottom-width: 0.04rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(221, 220, 220, 0.297);
  border-radius: 6px;
  height: 5rem;
}
@media (max-width: 822px) {
  .row-ach .column-ach .button {
    display: none;
  }
  #mention {
    display: none;
  }
  .accordion {
    font-size: 10px;
  }
  .panelexp {
    width: 100%;
    padding-left: 0rem;
    padding-top: 1rem;
  }
}
.logoandcompany {
  width: auto;
}
.row-ach .column-ach {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
.row-ach .column-ach h3 {
  color: rgb(100, 105, 103);
  overflow: auto;
}
.tab-ach {
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

#mention {
}
#mention b {
  color: rgb(13, 56, 196) !important;
}
.row-ach img {
  size: 5px;
  width: 4rem;
  height: 3rem;
  padding-right: 1rem;
}
.card_ach span {
  color: rgb(158, 157, 157);
  font-weight: 0.5rem;
  letter-spacing: 4px;
  padding-left: 2rem;
}
.cards_ach {
  padding-left: 5rem;
  width: 93%;
}

.bookmarks {
  padding-top: 4px;
  position: absolute;
  right: 20px;
}
.bookmarks img {
  size: 5px;
  width: 2rem;
  height: auto;
}

.content {
  display: none;
  overflow: hidden;
}
.row-ach h3 {
  font-size: 1rem;
}
.row-ach p {
  font-size: 15px;
  color: rgb(124, 120, 120);
  font-family: Arial, Helvetica, sans-serif;
}
#date {
  color: rgb(6, 30, 107);
  height: 1.4375rem;
  line-height: 1rem;
  padding: 0 1.25rem;
  position: absolute;
  right: 15rem;
  border-radius: 10px;
  font-size: 0.8rem;
  padding-top: 1rem;
  align-self: start;
}

.tooltip {
  position: absolute;
  display: inline-block;
  height: 1.4375rem;
  line-height: 1.4375rem;
  padding: 0 1.25rem;
  right: 10rem;
  border-radius: 10px;
  font-size: 0.7rem;
  justify-self: flex-end;
}
.tooltip img {
  size: 5px;
  height: 2rem;
  width: 2rem;
  padding-top: 1rem;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: rgb(5, 54, 95);
  color: blanchedalmond;
  text-align: center;
  position: absolute;
  z-index: 1;
  padding: 0 1.25rem;
  right: 15rem;
  border-radius: 10px;
  font-size: 0.5rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* @media (max-width: 800px) {
  .tooltip,
  #date {
    position: relative;
  }
} */
