<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DSC-Blogs</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/css/blogs/all.css">
    <link rel="stylesheet" href="/css/index/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- --------- Owl-Carousel ------------------->
    <link rel="stylesheet" href="/css/blogs/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/blogs/owl.theme.default.min.css">

    <!-- ------------ AOS Library ------------------------- -->
    <link rel="stylesheet" href="/css/blogs/aos.css">

    <!-- Custom Style   -->
    <link rel="stylesheet" href="/css/index/colors.css" />
    <link rel="stylesheet" href="/css/blogs/blogs-new.css">
    <link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />
    <link rel="stylesheet" href="/css/index/footer.css">

</head>
<body id="">

    <!-- ----------------------------  Navigation ---------------------------------------------- -->
    <%-include('partials/navbar')%>
    <!-- ------------x---------------  Navigation --------------------------x------------------- -->

    <!----------------------------- Main Site Section ------------------------------>
    <main>
        <section class='cards'>
            
        </section>
        <section class='search'>
            
        </section>
        <section class='popular'>
            <div id="popular-post">
                <h2 id="heading"> Popular Posts</h2>
                <div>
                    <hr><br><div class="popular-posts">
                        <div class="numbering"> 01 </div>
                        <div class="content">
                            <span class="title"> Lorem ipsum dolor sit , cone tetur cone 
                            tetur Lorem ipsum dolor sit , cone tetur cone teturLorem ipsum dolor sit,
                             cone tetur cone tetur</span><br>
                            <span class="intro"> Lorem ipsum dolor sit</span><br>
                            <span class="date"> 20 sept, 2020 </span>
                        </div>
                </div>
                <div class="popular-posts">
                    <div class="numbering"> 02 </div>
                    <div class="content">
                        <span class="title"> Lorem ipsum dolor sit , cone tetur cone tetur </span><br>
                        <span class="intro"> Lorem ipsum dolor sit</span><br>
                        <span class="date"> 20 sept, 2020 </span>
                    </div>
                </div>
                <div class="popular-posts">
                    <div class="numbering"> 03 </div>
                    <div class="content">
                        <span class="title"> Lorem ipsum dolor sit , cone tetur cone tetur </span><br>
                        <span class="intro"> Lorem ipsum dolor sit</span><br>
                        <span class="date"> 20 sept, 2020 </span>
                    </div>
                </div>
                <div class="popular-posts">
                    <div class="numbering"> 04 </div>
                    <div class="content">
                        <span class="title"> Lorem ipsum dolor sit , cone tetur cone tetur </span><br>
                        <span class="intro"> Lorem ipsum dolor sit</span><br>
                        <span class="date"> 20 sept, 2020 </span>
                    </div>
                </div>
                <div class="popular-posts">
                    <div class="numbering"> 05 </div>
                    <div class="content">
                        <span class="title"> Lorem ipsum dolor sit , cone tetur cone tetur </span><br>
                        <span class="intro"> Lorem ipsum dolor sit</span><br>
                        <span class="date"> 20 sept, 2020 </span>
                    </div>
                </div>
              </div>
            </div>
        </section>
    </main>

    <!---------------x------------- Main Site Section ---------------x-------------->

    <!-- --------------------------- Footer ---------------------------------------- -->
    <%-include('partials/footer')%>

    <!-- -------------x------------- Footer --------------------x------------------- -->

    <!-- Jquery Library file -->
    <script src="/js/blogs/Jquery3.4.1.min.js"></script>

    <!-- --------- Owl-Carousel js ------------------->
    <script src="/js/blogs/owl.carousel.min.js"></script>

    <!-- ------------ AOS js Library  ------------------------- -->
    <script src="/js/blogs/aos.js"></script>

    <!-- Custom Javascript file -->
    <script src="/js/navbar.js"></script>
    <script src="/js/blogs/main.js"></script>

    <script>
        var bodydiv = document.getElementById('bodydiv');
        bodydiv.addEventListener('click', closeSearch)
        function closeSearch(){
            let search_list1= document.getElementById('search_list1');
            search_list1.style.display = 'none';
            let search_list2= document.getElementById('search_list2');
            search_list2.style.display = 'none';
        }
    </script>
</body>

</html>
