<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="DSC NIT Silchar is under Developer Students Club, which is a
    worldwide developers community initiated by Google.The DSC NITS website is open for
    all student developers, who wish to improve their skills.
    Each user has separate profile page, where one can add his/her skills,
    projects and accomplishments." />

    <meta name="keywords" content="DSC, DSC NITS, Developer Student Club NIT Silchar, Blogs, 
    Profile, Forum, Events, Developers, NIT Silchar" />

    <title>DSC NITS | Change Password</title>
    <link rel="stylesheet" href="/css/register/register.css" />
    <link
    rel="shortcut icon"
    type="image/x-icon"
    href="/img/logo/TransDSC.png"
  />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/index/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />
    <link rel="stylesheet" href="/css/index/colors.css" />
    <link rel="stylesheet" href="/css/index/flashMessage.css">
  </head>
  <body>
    <!-- Flash Message Body Start -->
    <%-include('partials/flashMessage')%>
    <!-- Flash Message body end -->
    <div class="container" id="container" style="height: 60%">
      <div class="heading-block">
        <h1 id="label" style="font-size: 35px">
          Create new Password
          <span style="color: #0f1923"></span>
        </h1>
      </div>
      <div class="signup-form" id="signupform">
        <h1 class="mobileheading">Create new Password</h1>
        <form
          action="/user/changepassword/<%=user._id%>"
          method="POST"
          onsubmit="return validate()"
          name="changepasswordform"
          id="changepasswordform"
        >
          <label for="sidearm">Password</label>
          <input
            type="password"
            id="password"
            type="password"
            name="password"
            placeholder="Password"
            required
          />

          <label for="sidearm">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            type="password"
            name="confirmPassword"
            placeholder="Retype Password"
            required
          />
          <br />
          <div
            class="flexRow"
            style="
              display: flex;
              align-items: center;
              height: auto;
              margin: -18px;
            "
          >
            <input
              onclick="showpasswordsignup()"
              type="checkbox"
              style="width: auto; margin: 0"
            />&nbsp&nbsp Show Password
          </div>
          <div class="button-box">
            <div class="button-mask button-mask-slide">
              <input type="submit" value="Change Password" id="" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="/js/signup-in/changepassword.js"></script>
  <script src="/js/navbar.js"></script>
</html>
