<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index/index_feature.css">
</head>
<style>
   
    
</style>
<body>
    <section style="height:100vh;"></section>
    <section class="features" id="features" style="position:relative;min-height:100vh;">
        <h1 id="feature-main-heading">Features</h1>
        <div class="feature-black" id="featured-black">
            <div class="card white feature-card-expanded" id="feature-card-expanded" >
                <div><a id="feature-close" >X</a></div>
            <div class="border featureBlack-border"></div>
            <img  id="image-expanded"src="">
            <h1 id="heading-expanded"></h1>
            <p id="para-expanded"></p>
          </div>
        </div>
   
        <div class="feature-card-container" id="feature-card-container">
            <div id="mini-feature-card-container">
            <div class="feature-card-column feature-column-0" >
                <div class="card featureBg-blue2 featured" id="1">
                  <div class="border featureBlack-border"></div>
                  <img class="featured-image1"src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/deathtostock-00.jpg" />
                  <h1 id="featured-heading1">Hey now, you're an allstar</h1>
                  <p class="featured-para1">Lorem ipsum dolor
                    sit amet consectetur adipisicing elit.
                     Similique, dolorum laboriosam. Molestiae,
                      hic non. Porro atque error ullam, ipsa,
                       recusandae quasi quos
                    consectetur vero aliquam, qui exercitationem
                     natus consequuntur beatae.</p>
                </div>
                <div class="card  featureBg-blue1 featured" id="2">
                  <div class="border featureBlack-border"></div>
                  <img class="featured-image2" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/deathtostock-02.jpg" />
                  <h1 id="featured-heading2">Hey now, you're a rock star</h1>
                  <p class="featured-para2">Lorem ipsum dolor
                    sit amet consectetur adipisicing elit.
                     Similique, dolorum laboriosam. Molestiae,
                      hic non. Porro atque error ullam, ipsa,
                       recusandae quasi quos
                    consectetur vero aliquam, qui exercitationem
                     natus consequuntur beatae.</p>
                </div>
                <div class="card  featureBg-blue featured" id="3">
                    <div class="border featureBlack-border"></div>
                    <img class="featured-image3" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/deathtostock-01.jpg" />
                    <h1 id="featured-heading3">Get your game on, go play</h1>
                    <p class="featured-para3">Lorem ipsum dolor
                      sit amet consectetur adipisicing elit.
                       Similique, dolorum laboriosam. Molestiae,
                        hic non. Porro atque error ullam, ipsa,
                         recusandae quasi quos
                      consectetur vero aliquam, qui exercitationem
                       natus consequuntur beatae.</p>
                  </div>
              </div>
              <div class="feature-card-column feature-column-1 ">
                <div class="card  featureBg-blue featured" id="4">
                  <div class="border featureBlack-border"></div>
                  <img class="featured-image4" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/deathtostock-03.jpg" />
                  <h1 id="featured-heading4">Get the show on, get paid</h1>
                  <p class="featured-para4">Lorem ipsum dolor
                    sit amet consectetur adipisicing elit.
                     Similique, dolorum laboriosam. Molestiae,
                      hic non. Porro atque error ullam, ipsa,
                       recusandae quasi quos
                    consectetur vero aliquam, qui exercitationem
                     natus consequuntur beatae.</p>
                </div>
                <div class="card  featureBg-blue2  featured" id="5">
                    <div class="border featureBlack-border"></div>
                    <img class="featured-image5" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/deathtostock-01.jpg" />
                    <h1 id="featured-heading5">Get your game on, go play</h1>
                    <p class="featured-para5">Lorem ipsum dolor
                      sit amet consectetur adipisicing elit.
                       Similique, dolorum laboriosam. Molestiae,
                        hic non. Porro atque error ullam, ipsa,
                         recusandae quasi quos
                      consectetur vero aliquam, qui exercitationem
                       natus consequuntur beatae.</p>
                  </div>
                  <div class="card  featureBg-blue1 featured" id="6">
                    <div class="border featureBlack-border"></div>
                    <img class="featured-image6" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/deathtostock-01.jpg" />
                    <h1 id="featured-heading6">Get your game on, go play</h1>
                    <p class="featured-para6">Lorem ipsum dolor
                      sit amet consectetur adipisicing elit.
                       Similique, dolorum laboriosam. Molestiae,
                        hic non. Porro atque error ullam, ipsa,
                         recusandae quasi quos
                      consectetur vero aliquam, qui exercitationem
                       natus consequuntur beatae.</p>
                  </div>
              </div>
          </div>
          </div>
        </section>
           <section style="min-height:100vh;background:gray;z-index:99"></section>
</body>
</html>