<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <meta name="description" content="DSC NIT Silchar is under Developer Students Club, which is a
    worldwide developers community initiated by Google.The DSC NITS website is open for
    all student developers, who wish to improve their skills.
    Each user has separate profile page, where one can add his/her skills,
    projects and accomplishments." />
  <meta name="keywords" content="DSC, DSC NITS, Developer Student Club NIT Silchar, Blogs, 
    Profile, Forum, Events, Developers, NIT Silchar" />
  <link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />

  <link rel="stylesheet" href="/css/index/colors.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/css/register/register.css" />
  <link rel="stylesheet" href="/css/register/forgotpassword.css" />
  <title>DSC NITS | Forgot Password</title>
  <link rel="shortcut icon" type="image/x-icon" href="/img/logo/dsc_trans_logo.png" />
</head>

<body>
  <!--Navbar Starts-->
  <%-include('partials/navbar')%>
  <!---Navbar Ends-->
  <div class="container forgot" id="container">
    <div class="heading-block">
      <div>
        <h1 id="label">
          Forgot Password
          <span style="color: #0f1923"></span>
        </h1>
      </div>
    </div>
    <div class="signup-form">
      <h1 class="mobileheading">Forgot Password</h1>
      <form action="/user/forgotpassword" method="POST" id="login-form">
        <label for="email">Email</label><input type="email" name="email" placeholder="Enter your Email Address"
          required />
        <div class="buttons-button-box" style="padding: 0; flex-direction: column;">
          <center>
            <br>
            <div class="button-box" style="width: 70%;">
              <div class="button-mask button-mask-slide">
                <input type="submit" value="Reset Password" id="" />
              </div>
            </div>
          </center>
          <center>

            <div class="button-mask button-mask-slide" id="switchtosignup">
              <a style="text-decoration: none; color: inherit" href="/user/register"><span>Don't have an account ?
                  SignUp</span></a>
            </div>
          </center>


        </div>
      </form>

      <!-- <p>or use social account</p> -->

      <!-- <div class="social-login">
          <a href="#">
            <img src="/img/logo/fb.png" alt="" />
            Login with facebook
          </a>
          <a href="#">
            <img src="/img/logo/Google.png" alt="" />
            Login with Google
          </a>
        </div> -->
    </div>
  </div>
</body>
<script src="/js/updatepassword/updatepassword.js"></script>
<script src="/js/darkmode.js"></script>
<script src="/js/navbar.js"></script>

</html>