<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />

    <link rel="stylesheet" href="/css/register/register.css" />
    <title>Forgot Password</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/img/logo/dsc_logo.png"
    />
  </head>

  <body>
    <div class="container forgot" id="container">
      <div class="heading-block">
        <div>
          <h1 id="label">
            Forgot Password
            <span style="color: #0f1923"></span>
          </h1>
        </div>
      </div>
      <div class="signup-form">
        <h1 class="mobileheading">Forgot Password</h1>
        <form action="/dsc/user/forgotpassword" method="POST">
          <label for="email">Email</label
          ><input
            type="email"
            name="email"
            placeholder="Enter your Email Address"
            required
          />

          <div class="button-box">
            <div class="button-mask button-mask-slide">
              <input type="submit" value="Reset Password" id="" />
            </div>
          </div>
          <div class="button-box">
            <div class="button-mask button-mask-slide" id="switchtosignup">
              <a
                style="text-decoration: none; color: inherit"
                href="/dsc/user/register"
                ><span>Don't have an account ? SignUp</span></a
              >
            </div>
          </div>
        </form>

        <p>or use social account</p>

        <div class="social-login">
          <a href="#">
            <img src="/img/logo/fb.png" alt="" />
            Login with facebook
          </a>
          <a href="#">
            <img src="/img/logo/Google.png" alt="" />
            Login with Google
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
