<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Developer Students Club | NIT Silchar</title>
    <!-- ######################################################################## -->
    <!-- Please try to use 4 different css file for convinience -->
    <link rel="stylesheet" href="../public/css/index/colors.css" />
    <link rel="stylesheet" href="../public/css/index/index_dashboard.css" />
    <link rel="stylesheet" href="../public/css/index/index_about.css" />
    <!-- ######################################################################## -->
  </head>
  <body>
    <nav class="nav">
      <img
        src="../public/img/logo/DSC_trans.png"
        alt="Logo"
        class="nav__logo"
      />
      <div class="nav__bar">
        <input type="button" class="nav__links" value="About" />
        <input type="button" class="nav__links" value="Gallery" />
        <input type="button" class="nav__links" value="Team" />
        <input type="button" class="nav__links" value="Projects" />
        <input type="button" class="nav__links" value="Login" />
      </div>
    </nav>
    <header class="header">
      <h1 class="heading__background">DSC</h1>
      <img
        src="../public/img/illustrations/dashboards.png"
        alt=""
        class="heading__illustration"
      />
      <img
        src="../public/img/logo/dsc_logo.png"
        alt="DSC_LOGO"
        class="dsclogo"
      />
      <h2 class="heading__secondary">
        Developer Students Club
      </h2>
      <h1 class="heading__primary"><span class="bold">NIT</span> Silchar</h1>
      <input type="button" class="getStarted" value="Get Started" />
    </header>
    <main class="main">
      <section class="about">
        <div class="background">
          <img
            src="../public/img/illustrations/about.png"
            alt=""
            class="background__image"
          />
        </div>
        <div class="content">
          <h1 class="heading__primary">About</h1>
          <h2 class="heading__secondary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
            dolorem officiis atque laboriosam quas quaerat quidem eius tempore
            corporis fugiat! Perferendis totam quos illo! Sed voluptatem
            necessitatibus ipsa mollitia ducimus rem exercitationem minima.
            Nulla rerum quam, soluta sed corrupti sint quisquam architecto modi
            blanditiis eos repudiandae, itaque provident enim nemo? Facere
            labore voluptatem natus sequi magni nostrum adipisci quo nam maxime!
            Cumque delectus magni adipisci quae atque alias provident aliquam
            pariatur quam laboriosam! Aliquid pariatur deleniti sunt,
            necessitatibus sapiente perferendis illum nam libero iusto
            exercitationem ab saepe fuga eveniet dolores id amet praesentium
            accusantium iste asperiores, beatae autem velit repudiandae?
          </h2>
        </div>
      </section>
    </main>
    <footer class="footer"></footer>
  </body>
</html>
