  
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index/notverify.css">
  <title>DSC - Email Verification</title>
</head>
    <body>
        <div class="card">
            <div class="inner-card">
                <div class="content">
                  <div class="verify-logo">
                    <img src="/img/logo/DSC_trans.png" />
                  </div>
                        <p>Your link has been expired.<br />You may try logging in to generate a new verify link.</p>
                        <div class="button">
                            <a href="/dsc/">Go back to the website</a>
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>
<!-- partial -->
  
</body>
</html>