<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index/notverify.css" />

    <meta name="description" content="DSC NIT Silchar is under Developer Students Club, which is a
    worldwide developers community initiated by Google.The DSC NITS website is open for
    all student developers, who wish to improve their skills.
    Each user has separate profile page, where one can add his/her skills,
    projects and accomplishments." />
    <meta name="keywords" content="DSC, DSC NITS, Developer Student Club NIT Silchar, Blogs, 
    Profile, Forum, Events, Developers, NIT Silchar" />

    <title>DSC NITS | Email Verification</title>
    <link
    rel="shortcut icon"
    type="image/x-icon"
    href="/img/logo/dsc_logo.png"
  />
  </head>
  <body>
    <div class="card">
      <div class="img-avatar">
        <img src="/img/logo/DSC-new.png" alt="dsc logo"/>
      </div>
      <div class="card-text">
        <div class="portada"></div>
        <div class="title-total">
          <div class="title">Email Verification</div>
          <h2>Your link has been expired.</h2>

          <div class="desc">
            You may try logging in to generate a new verify link.
          </div>
          <div class="actions">
            <button><a href="/">Home</a></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
