  
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index/notverify.css">
  <title>DSC - Email Verification</title>
</head>
    <body>
        <div class="card">
            <div class="img-avatar">
              <img src="/img/logo/DSC_trans.png">
            </div>
            <div class="card-text">
              <div class="portada">
    
              </div>
              <div class="title-total">   
                <div class="title">Email Verification</div>
                <h2>Your link has been expired.</h2>
    
            <div class="desc">You may try logging in to generate a new verify link.</div>
            <div class="actions">
              <button><a href="/dsc/">Home</a></button>
            </div></div>
    
            </div>
    
    
    
          </div>
        </body>
</html>