<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="../public/css/profile/profile_dashboard.css" />
    <link rel="stylesheet" href="../public/css/index/colors.css" />
  </head>
  <body>
    <div class="modal">
      <img class="fullview" src="" alt="" />
    </div>
    <div class="container">
      <section class="accountbar">
        <p></p>
        <!-- <img class="navlogo" src="../public/img/logo/dsc_logo.png" alt="" /> -->
        <!-- <input type="text" placeholder="Search" /> -->
        <div class="accountbar__shortcut">
          <div class="fndp">Find People</div>
          <img
            class="bell resone"
            src="../public/img/teams_potraits/rdj.jpg"
            alt="UserPhoto"
          />
          <img
            class="bell"
            src="../public/img/logo/bell.png"
            alt="Notification Logo"
          />
        </div>
      </section>
      <section class="accountdetails">
        <section class="dashboard__navbar">
          <ul class="side-nav">
            <li class="side-nav__item side-nav__item--active">
              <a href="#" class="side-nav__link">
                <span>Home</span>
              </a>
            </li>
            <li class="side-nav__item side-nav__item">
              <a href="#" class="side-nav__link">
                <span>Projects</span>
              </a>
            </li>
            <li class="side-nav__item side-nav__item">
              <a href="#" class="side-nav__link">
                <span>Achievements</span>
              </a>
            </li>
          </ul>
        </section>
        <section class="dashboard__main">
          <section class="main__profileinfo">
            <div class="pictureandbasic">
              <div class="photo">
                <img src="../public/img/teams_potraits/rdj.jpg" alt="" />
              </div>
              <div class="info">
                <div class="nameandedit">
                  <h2>Robert D. Junior</h2>
                  <div class="edit">Edit Profile</div>
                </div>
                <h3>
                  <img class="pin" src="../public/img/logo/pin.svg" /> Avenger's
                  Tower
                </h3>
                <p>Multimillionaire, Playboy, Genius</p>
                <div class="branchandyear">
                  <div class="collegeinfo">
                    <img class="s" src="../public/img/logo/fb.png" alt="" />
                  </div>
                  <div class="collegeinfo">
                    <img class="s" src="../public/img/logo/link.png" alt="" />
                  </div>
                  <div class="collegeinfo">
                    <img
                      class="s"
                      src="../public/img/logo/twitter.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="faint">ironMAN</div>
            </div>
          </section>
          <section class="main__detailedinfo">
            <div class="panel-body">
              <div class="tab-container">
                <ul class="tab-buttons tab-buttons--basic tab-buttons--left">
                  <li class="tab-button-item" role="presentation">
                    <a
                      href="#panel01"
                      id="tab01"
                      class="tab-button tab-button--is-active"
                      data-a11ytab-tab
                      >Timeline</a
                    >
                  </li>
                  <li class="tab-button-item" role="presentation">
                    <a
                      href="#panel02"
                      id="tab02"
                      class="tab-button"
                      data-a11ytab-tab
                      >Badges</a
                    >
                  </li>
                  <li class="tab-button-item" role="presentation">
                    <a
                      href="#panel03"
                      id="tab03"
                      class="tab-button"
                      data-a11ytab-tab
                      >Experience</a
                    >
                  </li>
                </ul>
                <div class="tab-panels">
                  <div id="panel01" class="tab-panel">
                    <div class="cards">
                      <div class="card">
                        <div class="socialactivity">
                          <img
                            src="../public/img/teams_potraits/rdj.jpg"
                            alt=""
                          />
                          <div class="sharable">
                            <p>Share on</p>
                            <img
                              class="s"
                              src="../public/img/logo/fb.png"
                              alt=""
                            />
                            <img
                              class="s"
                              src="../public/img/logo/link.png"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="content">
                          <h3 class="topic">Title 1</h3>
                          <p class="place">NIT Silchar</p>
                          <p class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Quidem non dolor mollitia minima voluptate
                            necessitatibus tempora amet aliquid reprehenderit
                            unde. Quidem non dolor mollitia minima voluptate
                            necessitatibus tempora amet aliquid reprehenderit
                            unde.
                          </p>
                          <div class="images">
                            <div class="image-container">
                              <img
                                class="post-images"
                                src="../public/img/profile/example_post.png"
                                alt=""
                                data-original="../public/img/profile/example_post.png"
                              />
                            </div>
                            <div class="image-container">
                              <img
                                class="post-images"
                                src="../public/img/profile/pl.jpg"
                                alt=""
                                data-original="../public/img/profile/pl.jpg"
                              />
                            </div>
                            <div class="image-container">
                              <img
                                class="post-images"
                                src="../public/img/profile/land.jpg"
                                alt=""
                                data-original="../public/img/profile/land.jpg"
                              />
                            </div>
                            <div class="image-container">
                              <img
                                class="post-images"
                                src="../public/img/profile/example_post.png"
                                data-original="../public/img/profile/example_post.png"
                                alt=""
                              />
                            </div>
                            <div class="image-container">
                              <img
                                class="post-images"
                                src="../public/img/profile/example_post.png"
                                data-original="../public/img/profile/example_post.png"
                                alt=""
                              />
                            </div>
                            <div class="image-container">
                              <img
                                class="post-images"
                                src="../public/img/profile/example_post.png"
                                data-original="../public/img/profile/example_post.png"
                                alt=""
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="socialactivity">
                          <img
                            src="../public/img/teams_potraits/rdj.jpg"
                            alt=""
                          />
                          <div class="sharable">
                            <p>Share on</p>
                            <img
                              class="s"
                              src="../public/img/logo/fb.png"
                              alt=""
                            />
                            <img
                              class="s"
                              src="../public/img/logo/link.png"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="content">
                          <h3 class="topic">Title 2</h3>
                          <p class="place">NIT Silchar</p>
                          <p class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Quidem non dolor mollitia minima voluptate
                            necessitatibus tempora amet aliquid reprehenderit
                            unde. Quidem non dolor mollitia minima voluptate
                            necessitatibus tempora amet aliquid reprehenderit
                            unde.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="panel02" class="tab-panel">
                    <div class="cards">
                      <div class="card">
                        <h3>Experience 1</h3>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Minus, adipisci.
                        </p>
                      </div>
                      <div class="card">
                        <h3>Experience 2</h3>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Minus, adipisci.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div id="panel03" class="tab-panel">
                    <div class="cards">
                      <div class="card">
                        <h3>Achievements 1</h3>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Minus, adipisci.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section>
        <section class="contests">
          <h1>Contests</h1>
          <div class="container">
            <div class="card">
              <p class="type">Hackathon</p>
              <hr />
              <p class="topic">Website Developement</p>
              <p class="details">
                Introducing Hack 1 of Microsoft Azure Champions League, a series
                of three hackathons.
              </p>
              <div class="timings">
                <div class="time">
                  <p class="stat">START</p>
                  <p>12 September</p>
                </div>
                <div class="time">
                  <p class="stat">END</p>
                  <p>22 September</p>
                </div>
              </div>
              <hr />
              <div class="timings">
                <button>Register</button> <button>Enter</button>
              </div>
            </div>
            <div class="card">
              <p class="type">Coding Contest</p>
              <hr />
              <p class="topic">C++ Marathon</p>
              <p class="details">
                Introducing Hack 1 of Microsoft Azure Champions League, a series
                of three hackathons.
              </p>
              <div class="timings">
                <div class="time">
                  <p class="stat">START</p>
                  <p>12 September</p>
                </div>
                <div class="time">
                  <p class="stat">END</p>
                  <p>22 September</p>
                </div>
              </div>
              <hr />
              <div class="timings">
                <button>Register</button> <button>Enter</button>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </body>
  <!-- <script>
    document.onkeypress = function (e) {
      e = e || window.event;
      if (e.keyCode === 13) {
        document.documentElement.classList.toggle("dark-mode");
      }
    };
  </script> -->

  <script src="../node_modules/a11ytab/dist/a11ytab.js"></script>
  <script src="../public/js/profile/profile.js"></script>
  <script src="../public/js/profile/modal.js"></script>
</html>
