<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link
    rel="shortcut icon"
    type="image/x-icon"
    href="/img/logo/dsc_logo.png"
  />
    <link rel="stylesheet" href="/css/project-page/dscprojects.css" />
    <link rel="stylesheet" href="/css/index/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- ######################################################################## -->
  </head>
  <body style="font-family: 'Roboto', sans-serif">
    <!--Navbar Starts-->
    <%-include('partials/navbar')%>
    <!---Navbar Ends-->
    <main>
      <div class="cards">
        <div class="contact">Ongoing</div>
        <div class="contact-form">
          <p>Registration Starts Soon</p>
        </div>

        <div class="card active" id="overview">
          <a class="card-toggle"><i class="fa fa-arrow-circle-left"></i></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>Easy Exchange <strong>App</strong></h2>

                <p>
                  Easy Exchange App aims at providing a platform to the students
                  of NIT Silchar, where they can exchange goods amongst
                  themselves. Using it students could seamlessly buy, rent, sell
                  or borrow accessories like: EGD tools, lab coats, books,
                  bicycles, etc., at reasonable prices within the campus of NIT
                  Silchar.
                </p>
              </div>
              <div class="right col">
                <img src="/img/Project/Easy Exchange Logo.png" alt="logo" />
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="dribbble">
          <a class="card-toggle"
            ><i><span class="fa fa-info"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>More <strong>Details</strong></h2>

                <p>
                  The app will help users to sell, buy, rent, or borrow
                  accessories like books, bicycles, EGD tools, lab coats, etc.
                  at an affordable price within the ​NIT SILCHAR​ campus. It
                  will have secure payment methods and encrypted user details.
                  This app will help all the students of NIT Silchar to buy and
                  borrow accessories like books, bicycles, EGD tools, lab coats,
                  etc. at an affordable price from their peers. This app will
                  also help the students to sell their bicycles, books, and
                  other accessories to their peers easily
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="behance">
          <a class="card-toggle"
            ><i><span class="fa fa-code"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>Tech <strong>Stacks</strong></h2>
                <p>
                  Language ​: Java/Kotlin <br />
                  Software ​: Android Studio
                  <br />
                  Database ​: Firebase <br />
                  Other Applications​: ​GitHub, Git
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card" id="linkedin">
          <a class="card-toggle"
            ><i><span class="fa fa-users"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2><strong>Members</strong></h2>

                <p>
                  ● Elvis Rahman<br />
                  ● Kazi Sahariah Rahi<br />
                  ● Manzil Hoque
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="contact">Ongoing</div>
        <div class="contact-form">
          <p>Registration Starts Soon</p>
        </div>

        <div class="card active" id="overview">
          <a class="card-toggle"><i class="fa fa-arrow-circle-left"></i></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>Alumni Tracking <strong>System</strong></h2>

                <p>
                  Acts as an ​interaction bridge​ between Alumni and the present
                  students of NIT Silchar.It is basically a multi-portal
                  application consisting of the Admin and Alumni Section.
                </p>
              </div>
              <div class="right col">
                <img src="/img/Project/ats.jpg" alt="logo" />
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="dribbble">
          <a class="card-toggle"
            ><i><span class="fa fa-info"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>More Details<strong></strong></h2>

                <p>
                  Acts as an ​interaction bridge​ between Alumni and the present
                  students of NIT Silchar.It is basically a multi-portal
                  application consisting of the Admin and Alumni Section. ●
                  Alumni Section consists of a user page for each registered
                  Alumni where they can fill their personal as well as
                  professional details. Moreover, there is a blog section where
                  they can share their views and experiences about the present
                  technological needs. Alumni will have chat rooms corresponding
                  to their batches and branches where they can
                  interact.Moreover, Alumni will get all the information about
                  the events happening in the college and also, we will directly
                  be able to invite them.From the Admin Section, we can keep a
                  check on all the on-going activities in the application and
                  admin can send/post important announcements in the Blog
                  sections.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="behance">
          <a class="card-toggle"
            ><i><span class="fa fa-code"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>Tech Stacks <strong></strong></h2>
                <p>
                  Front-End:​ For User Interface, we are using HTML , CSS, JS .
                  <br />
                  Back-End​: For all the server and networking purposes, we are
                  using NodeJs and ExpressJS as Frameworks and MongoDB as
                  Database. <br />
                  Other Applications​: GitHub, Git, Postman.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card" id="linkedin">
          <a class="card-toggle"
            ><i><span class="fa fa-users"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2><strong>Members</strong></h2>

                <p>
                  ● Rahul Kumar Gupta<br />
                  ● Anuva Bhattacharjee<br />
                  ● Pathikrit Chanda <br />● Ujjwal Jain
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="contact">Ongoing</div>
        <div class="contact-form">
          <p>Registration Starts Soon</p>
        </div>

        <div class="card active" id="overview">
          <a class="card-toggle"><i class="fa fa-arrow-circle-left"></i></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>Efficacy <strong>App</strong></h2>

                <p>
                  This app will keep a record of the scheduled club activities.
                  This will help club coordinators to organize their event in
                  such a way that no collision occurs with already scheduled
                  events. This will not only help clubs grow but will also
                  bridge the gap among other clubs.
                </p>
              </div>
              <div class="right col">
                <img src="/img/Project/IMG_20201004_163332.jpg" alt="logo" />
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="dribbble">
          <a class="card-toggle"
            ><i><span class="fa fa-info"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>More Details<strong></strong></h2>

                <p>
                  There are several clubs in our college and each club carries
                  out several events throughout the year. We have observed that
                  the events of one club tend tooverlapwith that of the other,
                  which mainly happens due to no coordination among the
                  moderators of different clubs, thus causing a lot of
                  confusionamongstudents,aswhich event should be given priority.
                  This also adversely
                  affectstheclub.Therefore,wethoughtofbringingallthe clubs under
                  one roof and develop an app to serve the purpose.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="behance">
          <a class="card-toggle"
            ><i><span class="fa fa-code"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>Tech Stacks <strong></strong></h2>
                <p>
                  ● Software:​ Flutter (for cross-platform compatibility).
                  <br />
                  ● Database:​ Firebase. <br />
                  ● Language:​ Dart <br /><br />
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card" id="linkedin">
          <a class="card-toggle"
            ><i><span class="fa fa-users"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2><strong>Members</strong></h2>

                <p>
                  ● Yash Srivastav <br />● Trishna Kalita <br />● Srinjoy Dutta
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cards">
        <div class="contact">Ongoing</div>
        <div class="contact-form">
          <p>Registration Starts Soon</p>
        </div>

        <div class="card active" id="overview">
          <a class="card-toggle"><i class="fa fa-arrow-circle-left"></i></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>NITS Result <strong>Portal</strong></h2>

                <p>
                  The aim of the project is to come up with a result portal for
                  the Institute where the record of provisional results of all
                  the semesters can be accessed simply by logging in using valid
                  credentials of the students which will maintain the privacy of
                  the result .
                </p>
              </div>
              <div class="right col">
                <img src="/img/Project/IMG-20201004-WA0012.jpg" alt="logo" />
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="dribbble">
          <a class="card-toggle"
            ><i><span class="fa fa-info"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>More Details<strong></strong></h2>

                <p>
                  The project will be a boon for the faculties as well as the
                  students. Faculties need not waste their time updating excel
                  sheets which also causes mistakes due toparallax instead they
                  canuse the website to store students' results.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="behance">
          <a class="card-toggle"
            ><i><span class="fa fa-code"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>Tech Stacks <strong></strong></h2>
                <p>
                  ● NodeJS <br />● ReactJS<br />
                  ● MongoDB<br />
                  ● Express <br />● Html <br />● CSS <br />● Javascript <br />
                  Our Implementation <br />
                  Creating REST API using Node.js and storing the data in a
                  NoSQL database (MongoDb) in the backend part.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card" id="linkedin">
          <a class="card-toggle"
            ><i><span class="fa fa-users"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2><strong>Members</strong></h2>

                <p>
                  ● Sameer Shrivastava<br />
                  ● Aditya Singh Sisodiya <br />● Nabanita Bania
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card" id="twitter">
          <a class="card-toggle"
            ><i><span class="fa fa-wrench"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2><strong>Implementation</strong></h2>

                <p>
                  Creating REST API using Node.js and storing the data in a
                  NoSQL database (MongoDb) in the backend part. <br />
                  ​Advantages of the project for administration​:- <br />●
                  Easier updating of result data ● Accessing any student’s
                  result will be easier for administration.<br />
                  ● Can upload results without writing data in huge excel
                  sheets.<br />
                  ● Students' results will be more secure. ● Only authorized
                  student can see his result.<br />
                  -​ ​Advantages of used tech stack​: ● Fast Rendering <br />●
                  Effective Responsiveness<br />
                  ● ​It boosts productivity and facilitates further
                  maintenance<br />
                  ● It is SEO friendly.<br />
                  ● It helps to build rich user interfaces and provide code
                  stability
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="contact">Ongoing</div>
        <div class="contact-form">
          <p>Registration Starts Soon</p>
        </div>

        <div class="card active" id="overview">
          <a class="card-toggle"><i class="fa fa-arrow-circle-left"></i></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>Medical Record Management <strong>Portal</strong></h2>

                <p>
                  The aim of the project is to come up with a result portal for
                  the Institute where the record of provisional results of all
                  the semesters can be accessed simply by logging in using valid
                  credentials of the students which will maintain the privacy of
                  the result as well as the cumulative result till date can be
                  handled properly.
                </p>
              </div>
              <div class="right col">
                <img src="/img/Project/medical.png" alt="logo" />
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="dribbble">
          <a class="card-toggle"
            ><i><span class="fa fa-info"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>More Details<strong></strong></h2>

                <p>
                  In the wake of Covid-19, it has become more important than
                  ever to have all the medical history and prescriptions handy.
                  This portal focuses on the collection and storage of medical
                  data.<br />
                  Features ​ :<br />
                  ● Hospitals and Users can sign up for the portal.<br />
                  ● To maintain uniqueness the users will have to provide their
                  Aadhar Number or Passport No.<br />
                  ● Hospitals can access the data if and only if the user
                  verifies the OTP.<br />
                  ● A patient can upload all his details and prescriptions.
                  Moreover, if he/she grants permission to a doctor/hospital,
                  then the same can be done by them.<br /><br />
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="behance">
          <a class="card-toggle"
            ><i><span class="fa fa-code"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>Tech Stacks <strong></strong></h2>
                <p>
                  Version Control: ​Github Backend<br />
                  MongoDB <br />
                  Node Js <br />
                  ​Html, CSS, JavaScript <br />
                  Templating Engine:​ EJS <br /><br />
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card" id="linkedin">
          <a class="card-toggle"
            ><i><span class="fa fa-users"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2><strong>Members</strong></h2>

                <p>
                  ● Ujjawal Jain <br />● Sameer Shrivastava<br />
                  ● Aditya Singh Sisodiya<br />
                  ● Arshita Narayan
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="cards">
        <div class="contact">Completed</div>
        <div class="contact-form">
          <p>Registration Starts Soon</p>
        </div>

        <div class="card active" id="overview">
          <a class="card-toggle"><i class="fa fa-arrow-circle-left"></i></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>Attendo <strong>app</strong></h2>

                <p>
                  Keep your class attendances high with the help of Attendo.
                  With an easy to use, yet efficient UI it makes keeping a track
                  of your attendance fairly simple. Risks of not making it to
                  the minimum attendance criteria will now be a thin of the past
                  as Attendo will keep you up-to-date with its timely reminders
                  and attendance records. It is even flexible enough to rectify
                  any miscalculations that might creep in.
                </p>
              </div>
              <div class="right col">
                <img src="/img/Project/attendo.png" alt="logo" />
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="dribbble">
          <a class="card-toggle"
            ><i><span class="fa fa-info"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>More Details<strong></strong></h2>

                <p>
                  ● With Attendo, you can keep a check on your attendance
                  status. Keep accidental low attendances at bay with​ Attendo
                  and ensure that you are benefitted the most out of it.<br />
                  ● Easy to use, and a simple yet efficient UI to manage each
                  subject away from all hassles and complications.<br />
                  ● Never forget to attend a test or an important discussion;
                  let Reminders do the job. ● Avoid unnecessary calculations to
                  fulfill your minimum attendance criteria; stay informed with
                  Attendo.<br />
                  ● Flexible to use app lets you rectify any error that might
                  creep in. <br />
                  ● You can also track the history of the subjects you
                  attended.<br />
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="behance">
          <a class="card-toggle"
            ><i><span class="fa fa-code"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2>Tech Stacks <strong></strong></h2>
                <p>
                  ●Retrofit <br />
                  ●Firebase<br />
                  ●SQLite (owing to which it works efficiently and data is
                  secured)
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card" id="linkedin">
          <a class="card-toggle"
            ><i><span class="fa fa-users"></span></i
          ></a>
          <div class="card-content">
            <div class="row">
              <div class="left col">
                <h2><strong>Members</strong></h2>

                <p>Rishiraj Paul Chowdhury <br />Nandini Agarwal</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
  <script src="/js/darkmode.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/dscprojects/dscprojects.js"></script>
</html>

