<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="/css/project-page/project.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/index/footer.css" />
   
    <link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- ######################################################################## -->

    <!---Icons Import-->
    
  </head>
<body>
  <!-- Main Content Starts -->
 
    
  
    <div class="page-wrapper">
    <div class="nav-wrapper">
      <nav class="navbar">
        <div class="box">
          <input class="type-checkbox" id="toogle" type="checkbox" name="name"   />
          <label class="estado" for="toogle" onclick="myfunction()">
            <button onclick="myfunction()"><span class="aprobado">Light</span></button>
            <button ><span class="desaprobado">Dark</span></button>
          </label>
        </div>
        <img src="/img/logo/DSC-trans-new.png" />
        <div class="menu-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="nav no-search">
          <li class="nav-item"><a href="/dsc" class="nav-items-a">Home</a></li>
          <li class="nav-item">
            <a href="/dsc/#about" class="nav-items-a">About Us</a>
          </li>
          <li class="nav-item">
            <a href="/dsc/projects" class="nav-items-a">Projects</a>
          </li>
          <li class="nav-item">
            <a href="/dsc/#schedule" class="nav-items-a">Events</a>
          </li>
          <li class="nav-item">
            <a href="/dsc/blog" class="nav-items-a">Blogs</a>
          </li>
          <!-- <li id="dmodeGLOBAL" class="nav-item">
            <a href="#" class="nav-items-a">Dark Mode</a>
          </li> -->
          <% if(!user){ %>
          <li class="nav-item">
            <a href="/dsc/user/register" class="nav-items-a">Log In/Sign Up</a>
          </li>
          <% }else{ %>
          <li class="nav-item">
            <a href="/dsc/user/profile" class="nav-items-a"><%=user.name%></a>
          </li>
          <% } %>
  
          <li class="nav-item">
            <input
              class="search-input"
              id="search1"
              type="text"
              placeholder="Search.."
              autofocus
            />
            <div class="search" id="srh1"></div>
            <ul class="search-view" id="search_list1">
              <% found.forEach((user)=>{ %>
              <li class="collection-item2"><a><%= user.name%></a></li>
              <% }) %>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  
    
  </div>
  
  <main>
  
  <!-- Main Content Starts -->
  <div class="container">
    <section class="heading">
      <div class="main-heading-proj">
        <h1>DSC PROJECT</h1>
            <div class="borderd"></div>
      </div>
      <div class="sub-heading-proj">
        <p><b>Ongoing</b></p>
         <!-- <button id="myBtn"> Add </button> -->
         <div id="myModal" class="modal">
    
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Add New Project</h3>
            <form class="NewProject">
              <div class="datainput">
                <input class="validate" id="wa_Name" name="Project" required="" type="name" value=''/>
                <span class="highlight"></span><span class="bar"></span>
                <label>Project Name</label>
                </div>
                <div class="datainput">
                  <input class="validate" id="wa_lead" name="Projectlead" required="" type="name" value=''/>
                  <span class="highlight"></span><span class="bar"></span>
                  <label>Team Lead</label>
                  </div>
              <div class="datainput">
              <input class="validate" id="wa_email" name="email" required="" type="email" value=''/>
              <span class="highlight"></span><span class="bar"></span>
              <label>Email Address</label>
              </div>
              <div class="datainput">
              <select id="wa_select">
                <option hidden='hidden' selected='selected' value='default'>Project Feild</option>
                <option value="1">Android</option>
                <option value="2">Web Development</option>
                <option value="3">Other</option>
              </select>
              </div>
              <div class="datainput">
              <input class="validate" id="wa_names" name="name" required="" type="name" value=''/>
              <span class="highlight"></span><span class="bar"></span>
              <label>Mention your Team Mates</label>
              </div>
              <div class="datainput">
              <input class="validate" id="wa_url" name="url" required="" type="url" value=''/>
              <span class="highlight"></span><span class="bar"></span>
              <label>URL/ GitHub Link</label>
             
              </div>
              <div class="datainput">
              <textarea id='wa_textarea' placeholder='' maxlength='5000' row='1' required=""></textarea>
              <span class="highlight"></span><span class="bar"></span>
              <label>Description</label>
              </div>
              <a class="send_form" href="javascript:void" type="submit" title="Send">Submit</a>
              <div id="text-info"></div>
              </form>
              
          </div>
       </div>
    </section>

    <div class="row-proj">
      <div class="column-proj">
          <div class="card-proj">

            <div class="logo">
              <img src="/img/Project/Easy Exchange Logo.png" alt="logo">
            </div>

            <div class="content-proj">
              <h2><b>Easy Exchange App</b></h2>
              <h6><b>Android</b></h6>
              <p>
                Easy Exchange App aims at providing a
                 platform to the students of NIT Silchar (seniors and freshmen alike), 
                 where they can exchange goods amongst themselves. 
                 Using it students could seamlessly buy, rent, 
                sell or borrow accessories like: EGD tools, lab coats, books,
                 bicycles, etc., at reasonable prices within the campus of NIT Silchar.
              </p>
            </div>

            <div class="base-card">
              <p>Status:<b class="ongoing" >Ongoing</b></p>
              <button onclick="showDetails1()"> Details</button>
            </div>

          </div>
      </div>
      <div class="details1" style="width:80%;margin:auto; display: none;">
        <!-- Detailview of first one -->
  
        <section class="heading">
            <div class="main-heading-proj">
                <div class="borderd"></div>
            </div>
            <div class="sub-heading-proj">
  
            </div>
        </section><br>
  
        <div class="detailview">
            <span style="position:relative; left:50px; display: none;">
        <h1 class="project-name" style="margin-bottom:0;"> </h1>
       <br><br>
        <a class="links"> </a>
        <a class="links">  </a>
     </span>
  
          <div class="content-box">
               <div class="image">
                  <img src="/img/Project/Easy Exchange Logo.png"  height="150" width="150">
              </div>
              <div class="description">
                ● The app will help users to sell, buy, rent, or borrow accessories like books, bicycles, EGD tools, lab coats, etc. at an 
                affordable price within the ​NIT SILCHAR​ campus.  <br>
                ● It will have secure payment methods and encrypted user details. <br>
                ● This app will help all the students of 
                NIT Silchar to buy and borrow accessories like books, 
                bicycles, EGD tools, lab coats, etc. at an affordable price
                 from their peers. <br>
                 ● This app will also help the students to sell their bicycles,
                 books, and other accessories to their peers easily
                  <br>
                  <br>
                  <h3>Tech Stacks :<h3>   
                    <br>● Language​:  Java/Kotlin
                    <br> ● Software​:  Android Studio 
                    <br>● Database​:  Firebase
                    <br> ● Other Applications​: ​GitHub, Git  
   <br><br>
                  <h3>Members:</h3>
              </div>
          </div>
        </div>
  
          <div class="x1" style="display:">
              <div class="membes-list">
  
                  <div class="member-card" style="margin-bottom: 20px;
    margin-left: 40%;
    margin-top: -20px;">
                    <p>● Elvis Rahman<br> ● Kazi Sahariah Rahi <br>● Manzil Hoque </p>
                     <!-- <img src="../public/img/Project/man.png" style="border-radius: 10px;width:45%">
                      <h3 style="line-height:0;"> Vishal Pandey </h3>
                      <h4 style="line-height:0;color:orange;"> BACKEND DEVELOPER </h4>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud.
                      </p>
                      <a class="github-link" href="https://github.com/vishalpandeyvip"> Github Link </a><br><br><br>
                      <div style="position:absolute;bottom:0;width:80%;">
                          <img style="border-radius: 10px;margin-right:10px;" src="../public/img/Project/facebook.png" height="40" width="40">
                          <img style="border-radius: 10px;margin-right:10px;"src="../public/img/Project/twitter.png" height="40" width="40">
                          <img style="border-radius: 10px;" src="../public/img/Project/linkedin.png" height="40" width="40">
                      </div>
                  </div>
                  <div class="member-card" style="margin:20px;">
                      <img src="../public/img/Project/man.png" style="border-radius: 10px;width:45%">
                      <h3 style="line-height:0;"> Vishal Pandey </h3>
                      <h4 style="line-height:0;color:orange;"> BACKEND DEVELOPER </h4>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud.
                      </p>
                      <a class="github-link" href="https://github.com/vishalpandeyvip"> Github Link </a><br><br><br>
                      <div style="position:absolute;bottom:0;width:80%;">
                          <img style="border-radius: 10px;margin-right:10px;" src="../public/img/Project/facebook.png" height="40" width="40">
                          <a href=""><img style="border-radius: 10px;margin-right:10px;"src="../public/img/Project/twitter.png" height="40" width="40">
                          <a href=""><img style="border-radius: 10px;" src="../public/img/Project/linkedin.png" height="40" width="40"></a>
                      </div>-->
                  </div>
              </div>
          </div>
  
      </div>
  
      <!-- Details view of first one -->
               
      <div class="column-proj">
          <div class="card-proj">

            <div class="logo">
              <img src="/img/Project/ats.jpg" alt="logo">
            </div>

            <div class="content-proj">
              <h2><b>Alumni Tracking System</b></h2>
              <h6><b>Web Development</b></h6>
              <p>
                DSC NITS is thriving to reduce the connection gap between the
                alumni and current students of NITS with the help of the 
                “Alumni Tracking System”. It will be robust portal where alumni 
                and students will have their personal accounts and they can connect 
                amongst themselves
                and share views on different topics ranging from latest tech news
              </p>
            </div>

            <div class="base-card">
              <p>Status: <b class="ongoing" >Ongoing</b></p>
              <button onclick="showDetails2()"> Details</button>
            </div>

          </div>
      </div>
    </div>
    <div class="details2" style="width:80%;margin:auto; display: none;">
      <!-- Detailview of first one -->

      <section class="heading">
          <div class="main-heading-proj">
              <div class="borderd"></div>
          </div>
          <div class="sub-heading-proj">

          </div>
      </section><br>

     <div class="detailview">
          <span style="position:relative; left:50px;">
      <h1 class="project-name" style="margin-bottom:0;"> </h1>
        <br><br>
      <a class="links"> </a>
      <a class="links">  </a>
   </span>

        <div class="content-box">
             <div class="image">
                <img src="/img/Project/ats.jpg"  height="150" width="150">
            </div>
            <div class="description">
              ● Acts as an ​interaction bridge​ between Alumni and the present 
              students of NIT Silchar. <br>
              ● It is basically a multi-portal application consisting of the Admin
               and Alumni Section.<br>
                ● Alumni Section consists of a user page for each registered 
                Alumni where they can fill their personal as well as professional details.
                 Moreover, there is a blog section where they can share their views 
                 and experiences about the present technological needs. 
                 Alumni will have chat rooms corresponding to their batches 
                 and branches where they can interact. <br>
                 ● Moreover, Alumni will get all the information
                  about the events happening in the college and also,
                   we will directly be able to invite them. <br>
                   ● From the Admin Section, we can keep a check 
                   on all the on-going activities in the application
                    and admin can send/post important announcements in the Blog sections. 
              <br>  
              <br>
              <h3>Tech Stacks ​:</h3><br>
               ● Front-End:​ For User Interface, we are using HTML (HyperText Markup Language), CSS (Cascading Style Sheets), JS (JavaScript). 
               <br>● Back-End​: For all the server and networking purposes, we are using NodeJs and ExpressJS as Frameworks and MongoDB as Database. <br>
              ● Other Applications​: GitHub, Git, Postman. <br><br>
                <h3>Members:</h3>
            </div>
        </div>
      </div>

        <div class="x2" style="display:">
            <div class="membrs-list">

                <div class="member-card" style="margin-bottom: 20px;
    margin-left: 40%;
    margin-top: -20px;">
                  <p>● Rahul Kumar Gupta <br>● Anuva Bhattacharjee <br>● Pathikrit Chanda<br> ● Ujjwal Jain </p>
                   <!-- <img src="../public/img/Project/man.png" style="border-radius: 10px;width:45%">
                    <h3 style="line-height:0;"> Vishal Pandey </h3>
                    <h4 style="line-height:0;color:orange;"> BACKEND DEVELOPER </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud.
                    </p>
                    <a class="github-link" href="https://github.com/vishalpandeyvip"> Github Link </a><br><br><br>
                    <div style="position:absolute;bottom:0;width:80%;">
                        <img style="border-radius: 10px;margin-right:10px;" src="../public/img/Project/facebook.png" height="40" width="40">
                        <img style="border-radius: 10px;margin-right:10px;"src="../public/img/Project/twitter.png" height="40" width="40">
                        <img style="border-radius: 10px;" src="../public/img/Project/linkedin.png" height="40" width="40">
                    </div>
                </div>
                <div class="member-card" style="margin:20px;">
                    <img src="../public/img/Project/man.png" style="border-radius: 10px;width:45%">
                    <h3 style="line-height:0;"> Vishal Pandey </h3>
                    <h4 style="line-height:0;color:orange;"> BACKEND DEVELOPER </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud.
                    </p>
                    <a class="github-link" href="https://github.com/vishalpandeyvip"> Github Link </a><br><br><br>
                    <div style="position:absolute;bottom:0;width:80%;">
                        <img style="border-radius: 10px;margin-right:10px;" src="../public/img/Project/facebook.png" height="40" width="40">
                        <a href=""><img style="border-radius: 10px;margin-right:10px;"src="../public/img/Project/twitter.png" height="40" width="40">
                        <a href=""><img style="border-radius: 10px;" src="../public/img/Project/linkedin.png" height="40" width="40"></a>
                    </div>-->
                </div>
            </div>
        </div>

    </div>

    
    <div class="row-proj">
      <div class="column-proj">
          <div class="card-proj">

            <div class="logo">
              <img src="/img/Project/IMG_20201004_163332.jpg" alt="logo">
            </div>

            <div class="content-proj">
              <h2><b>Efficacy</b></h2>
              <h6><b>Android</b></h6>
              <p>
                This app will keep a record of the 
                scheduled club activities. This will help club coordinators 
                to organize their event in such a way that no collision occurs
                with already scheduled events. This will not only help clubs grow
                but will also bridge the gap among other clubs.
              </p>
            </div>

            <div class="base-card">
              <p>Status:<b class="ongoing" >Ongoing</b></p>
              <button onclick="showDetails3()"> Details</button>
            </div>

          </div>
      </div>
      <div class="details3" style="width:80%;margin:auto; display: none;">
        <!-- Detailview of first one -->
  
        <section class="heading">
            <div class="main-heading-proj">
                <div class="borderd"></div>
            </div>
            <div class="sub-heading-proj">
  
            </div>
        </section><br>
  
        <div class="detailview">
            <span style="position:relative; left:50px; display: none;">
        <h1 class="project-name" style="margin-bottom:0;"> PROJECT NAME </h1>
         Android development <br><br>
        <a class="links">Host link </a>
        <a class="links"> Github Link </a>
     </span>
  
          <div class="content-box">
               <div class="image">
                  <img src="/img/Project/IMG_20201004_163332.jpg"  height="150" width="150">
              </div>
              <div class="description">
                There are several clubs in our college and each club          
                carries out several events throughout the year. We have        
                 observed that the events of one club tend tooverlapwith           
                 that of the other, which mainly happens due to no         
                  coordination among the moderators of different clubs,      
                   thus causing a lot of confusionamongstudents,aswhich         
                    event should be given priority. This also adversely        
                    affectstheclub.Therefore,wethoughtofbringingallthe         
                 clubs under one roof and develop an app to serve the    
                        purpose.<br><br> 
                        <h3>Tech Stacks</h3> ​ ​:<br> ● Software:​ Flutter (for cross-platform compatibility). <br>● Database:​ Firebase. <br>● Language:​ Dart  <br><br>
                  <h3>Members:</h3>
              </div>
          </div>
        </div>
  
          <div class="x3" style="display:">
              <div class="membrs-list">
  
                  <div class="member-card" style="margin-bottom: 20px;
    margin-left: 40%;
    margin-top: -20px;">
                    <p>● Yash Srivastav <br>● Trishna Kalita <br>● Srinjoy Dutta </p>
                     <!--- <img src="../public/img/Project/man.png" style="border-radius: 10px;width:45%">
                      <h3 style="line-height:0;"> Vishal Pandey </h3>
                      <h4 style="line-height:0;color:orange;"> BACKEND DEVELOPER </h4>
                      <p>
                          Lem ipsum dolor sit amet, consectetur adipiscing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud.
                      </p>
                      <a class="github-link" href="https://github.com/vishalpandeyvip"> Github Link </a><br><br><br>
                      <div style="position:absolute;bottom:0;width:80%;">
                          <img style="border-radius: 10px;margin-right:10px;" src="../public/img/Project/facebook.png" height="40" width="40">
                          <img style="border-radius: 10px;margin-right:10px;"src="../public/img/Project/twitter.png" height="40" width="40">
                          <img style="border-radius: 10px;" src="../public/img/Project/linkedin.png" height="40" width="40">
                      </div>
                  </div>
                  <!--<div class="member-card" style="margin:20px;">
                      <img src="../public/img/Project/man.png" style="border-radius: 10px;width:45%">
                      <h3 style="line-height:0;"> Vishal Pandey </h3>
                      <h4 style="line-height:0;color:orange;"> BACKEND DEVELOPER </h4>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud.
                      </p>
                      <a class="github-link" href="https://github.com/vishalpandeyvip"> Github Link </a><br><br><br>
                      <div style="position:absolute;bottom:0;width:80%;">
                          <img style="border-radius: 10px;margin-right:10px;" src="../public/img/Project/facebook.png" height="40" width="40">
                          <a href=""><img style="border-radius: 10px;margin-right:10px;"src="../public/img/Project/twitter.png" height="40" width="40">
                          <a href=""><img style="border-radius: 10px;" src="../public/img/Project/linkedin.png" height="40" width="40"></a>
                      </div>-->
                  </div>
              </div>
          </div>
  
      </div>
  
      <!-- Details view of first one -->
      <div class="column-proj">
          <div class="card-proj">

            <div class="logo">
              <img src="/img/Project/IMG-20201004-WA0012.jpg" alt="logo">
            </div>

            <div class="content-proj">
              <h2><b>NITS Result Portal</b></h2>
              <h6><b>Web Development</b></h6>
              <p>
                The aim of the project is to come up with a 
                result portal for the Institute where the record of 
                provisional results of all the semesters can be accessed 
                simply by logging in using valid credentials of the students 
                which will maintain the privacy of the result .
               
              </p>
            </div>

            <div class="base-card">
              <p>Status: <b class="ongoing" >Ongoing</b></p>
              <button onclick="showDetails4()"> Details</button>
            </div>

          </div>
      </div>
    </div>
    <div class="details4" style="width:80%;margin:auto; display: none;">
      <!-- Detailview of first one -->

      <section class="heading">
          <div class="main-heading-proj">
              <div class="borderd"></div>
          </div>
          <div class="sub-heading-proj">

          </div>
      </section><br>

      <div class="detailview">
          <span style="position:relative; left:50px; display: none;">
      <h1 class="project-name" style="margin-bottom:0;"> </h1>
       <br><br>
      <a class="links"> </a>
      <a class="links">  </a>
   </span>

        <div class="content-box">
             <div class="image">
                <img src="/img/Project/IMG-20201004-WA0012.jpg"  height="150" width="150">
            </div>
            <div class="description">
              The project will be a boon for the faculties as well as the             
              students. Faculties need not waste their time updating excel sheets          
              which also causes mistakesduetoparallaxinsteadtheycanusethe            
              website to store students' results. Students of theinstitutecanview        
                 and download a pdf of their result whenever they want to which            
                 also minimizes the work of administration in providing them a          
                 copy of results every time when they want to apply for an            
                 internship, loan, and others. Thus, this project will be a win-win           
              situation for the administration as well as students of this college. 
              <br><br><h3>Tech Stack required :</h3><br> ●  NodeJS <br>●  ReactJS<br> ●  MongoDB<br> ●  Express <br>●  Html <br>●  CSS <br>●  Javascript   <br>
              <h3>Our Implementation </h3><br>
               Creating REST API using Node.js and storing the data in a    
                       NoSQL database (MongoDb) in the backend part. 

Node.js will be used because of the reason that the callbacksand             
event loop in Node.js make the website faster. 
The frontend part will be based on React.js because of which we 
            will get enhanced User experience. <br>-  <h4>​Advantages of the project for administration​:-</h4> 
            <br>●  Easier updating of result data
            ● Accessing any student’s result will be easier for         administration.<br>
             ● Can upload results without writing data in huge excel          sheets.<br>
              ●  Students' results will be more secure.
               ●  Only authorized student can see his result.<br> <h4>-​ ​Advantages of used tech stack​: </h4>
               ●     Fast Rendering <br>●     Effective Responsiveness<br> ●        ​It boosts productivity and facilitates further maintenance<br> ●     It is SEO friendly.<br> ● It helps to build rich user interfaces and provide code stability
                <br>
                <h3>Members:</h3>
            </div>
        </div>
      </div>

        <div class="x4" style="display:">
            <div class="membrs-list">

                <div class="member-card" style="margin-bottom: 20px;
    margin-left: 40%;
    margin-top: -20px;">
                  <p>● Sameer Shrivastava<br> ● Aditya Singh Sisodiya <br>● Nabanita Bania </p>
                    <!--<img src="../public/img/Project/man.png" style="border-radius: 10px;width:45%">
                    <h3 style="line-height:0;"> Vishal Pandey </h3>
                    <h4 style="line-height:0;color:orange;"> BACKEND DEVELOPER </h4>
                    <p>
                        Lem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud.
                    </p>
                    <a class="github-link" href="https://github.com/vishalpandeyvip"> Github Link </a><br><br><br>
                    <div style="position:absolute;bottom:0;width:80%;">
                        <img style="border-radius: 10px;margin-right:10px;" src="../public/img/Project/facebook.png" height="40" width="40">
                        <img style="border-radius: 10px;margin-right:10px;"src="../public/img/Project/twitter.png" height="40" width="40">
                        <img style="border-radius: 10px;" src="../public/img/Project/linkedin.png" height="40" width="40">
                    </div>
                </div>
                <div class="member-card" style="margin:20px;">
                    <img src="../public/img/Project/man.png" style="border-radius: 10px;width:45%">
                    <h3 style="line-height:0;"> Vishal Pandey </h3>
                    <h4 style="line-height:0;color:orange;"> BACKEND DEVELOPER </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud.
                    </p>
                    <a class="github-link" href="https://github.com/vishalpandeyvip"> Github Link </a><br><br><br>
                    <div style="position:absolute;bottom:0;width:80%;">
                        <img style="border-radius: 10px;margin-right:10px;" src="../public/img/Project/facebook.png" height="40" width="40">
                        <a href=""><img style="border-radius: 10px;margin-right:10px;"src="../public/img/Project/twitter.png" height="40" width="40">
                        <a href=""><img style="border-radius: 10px;" src="../public/img/Project/linkedin.png" height="40" width="40"></a>
                    </div>-->
                </div>
            </div>
        </div>

    </div>

    <div class="column-proj">
      <div class="card-proj">

        <div class="logo">
          <img src="/img/Project/medical.png" alt="logo">
        </div>

        <div class="content-proj">
          <h2><b>Medical Record Management Portal</b></h2>
          <h6><b>Android</b></h6>
          <p>
            The aim of the project is to come up with a result
             portal for the Institute where the record of provisional 
             results of all the semesters can be accessed simply by logging
             in using valid credentials of the students which will maintain the 
             privacy of the result as well 
            as the cumulative result till date can be handled properly.
          </p>
        </div>

        <div class="base-card">
          <p>Status: <b class="ongoing" >Ongoing</b></p>
          <button onclick="showDetails5()"> Details</button>
        </div>

      </div>
  </div>
</div>
<div class="details5" style="width:80%;margin:auto; display: none;">
  <!-- Detailview of first one -->

  <section class="heading">
      <div class="main-heading-proj">
          <div class="borderd"></div>
      </div>
      <div class="sub-heading-proj">

      </div>
  </section><br>

  <div class="detailview">
      <span style="position:relative; left:50px; display: none;">
  <h1 class="project-name" style="margin-bottom:0;"> Medical Record Management Portal </h1>
   Android development <br><br>
  <a class="links">Host link </a>
  <a class="links"> Github Link </a>
</span>

    <div class="content-box">
         <div class="image">
            <img src="/img/Project/medical.png"  height="150" width="150">
        </div>
        <div class="description">
          In the wake of Covid-19, it has become more important than           ever to have all the medical history and prescriptions handy. 
                   This portal focuses on the collection and 
                   storage of medical          data.<br>Features ​ :<br> 
                    ●      Hospitals and Users can sign up for the portal.<br>
                     ● To maintain uniqueness the users will have to    
                          provide their Aadhar Number or Passport No.<br>
                           ● Hospitals can access the data if and only if the         
                             user verifies the OTP.<br> ● A patient can upload all his details 
                             and        
                              prescriptions. Moreover, if he/she grants permission to  
                                   a doctor/hospital, then the same can be done by them.
                                      <br><br>
                                      <h3>Tech Stack</h3> ​<br>
                                       Version Control: ​Github Backend<br> 
                                       MongoDB <br>
                                       Node Js <br>   
                                       ​Html, CSS, JavaScript <brr>Templating Engine:​    EJS   <br><br>
            <h3>Members:</h3>
        </div>
    </div>
  </div>

    <div class="x5" style="display">
        <div class="membrs-list">

            <div class="member-card" style="margin-bottom: 20px;
    margin-left: 40%;
    margin-top: -20px;">
                <!--<img src="../public/img/Project/man.png" style="border-radius: 10px;width:45%">-->
               
               <!-- <h4 style="line-height:0;color:orange;"> BACKEND DEVELOPER </h4>
                <p>
                    Lem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud.
                </p>
                <a class="github-link" href="https://github.com/vishalpandeyvip"> Github Link </a><br><br><br>
                <div style="position:absolute;bottom:0;width:80%;">
                    <img style="border-radius: 10px;margin-right:10px;" src="../public/img/Project/facebook.png" height="40" width="40">
                    <img style="border-radius: 10px;margin-right:10px;"src="../public/img/Project/twitter.png" height="40" width="40">
                    <img style="border-radius: 10px;" src="../public/img/Project/linkedin.png" height="40" width="40">
                </div>-->
            </div>
            <div class="member-card" style="margin-bottom: 20px;
    margin-left: 40%;
    margin-top: -20px;">
                <!--<img src="../public/img/Project/man.png" style="border-radius: 10px;width:45%">-->
               <p>  ● Ujjawal Jain <br>●  Sameer Shrivastava<br> ●      Aditya Singh Sisodiya<br> ●      Arshita Narayan </p>
                <!--<h4 style="line-height:0;color:orange;"> BACKEND DEVELOPER </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud.
                </p>
                <a class="github-link" href="https://github.com/vishalpandeyvip"> Github Link </a><br><br><br>
                <div style="position:absolute;bottom:0;width:80%;">
                    <img style="border-radius: 10px;margin-right:10px;" src="../public/img/Project/facebook.png" height="40" width="40">
                    <a href=""><img style="border-radius: 10px;margin-right:10px;"src="../public/img/Project/twitter.png" height="40" width="40">
                    <a href=""><img style="border-radius: 10px;" src="../public/img/Project/linkedin.png" height="40" width="40"></a>
                </div>-->
            </div>
        </div>
    </div>

</div>
    </div><br>

    <section class="heading">
      <div class="main-heading-proj">
            <div class="borderd"></div>
      </div>
      <div class="sub-heading-proj">
        <p><b class="Complete" >Completed</b>
       </div>
    </section>

                     
    <div class="row-proj">

      <div class="column-proj">
          <div class="card-proj">

            <div class="logo">
              <img src="/img/Project/attendo.png" alt="logo">
            </div>

            <div class="content-proj">
              <h2><b>Attendo</b></h2>
              <h6><b>Android</b></h6>
              <p>
                Keep your class attendances high with the 
                help of Attendo. With an easy to use, yet efficient UI 
                it makes keeping a track of your attendance fairly simple.
                 Risks of not making it to the minimum attendance criteria will 
                 now be a thin of the past as Attendo will keep you up-to-date with
                  its timely reminders and attendance records. It is even 
                flexible enough to rectify any miscalculations that might creep in.
              </p>
            </div>

            <div class="base-card">
              <p>Status:<b class="completed" >Completed</b></p>
              <button onclick="showDetails6()"> Details</button>
            </div>

          </div>
      </div>
               
      <div class="details6" style="width:80%;margin:auto; display: none;">
      <!-- Detailview of first one -->
    
      <section class="heading">
          <div class="main-heading-proj">
              <div class="borderd"></div>
          </div>
          <div class="sub-heading-proj">
    
          </div>
      </section><br>
    
      <div class="detailview">
          <span style="position:relative; left:50px; display: none;">
      <h1 class="project-name" style="margin-bottom:0;"> PROJECT NAME </h1>
       Android development <br><br>
      <a class="links">Host link </a>
      <a class="links"> Github Link </a>
    </span>
    
        <div class="content-box">
             <div class="image">
                <img src="/img/Project/attendo.png"  height="150" width="150">
            </div>
            <div class="description">
              ● With Attendo, you can keep a check on your attendance status. 
              Keep accidental low attendances at bay with​ Attendo and ensure that you are
               benefitted the most out of it.<br>
                ● Easy to use, and a simple yet efficient UI
                to manage each subject away from all hassles and complications.<br> 
                ● Never forget to attend a test or an important discussion;
                let Reminders do the job.  ● Avoid unnecessary calculations to 
                fulfill your minimum attendance criteria; stay informed with Attendo.<br>
                 ● Flexible to use app lets you rectify any error that might creep in. <br> 
              ● You can also track the history of the subjects you attended.<br> 
              <br>
              <h3>Techstack Used:</h3><br>
              ●Retrofit <br>
              ●Firebase<br> 
              ●SQLite (owing to which it works efficiently and data is secured) 
           <br><br>
                <h3>Members:</h3>
            </div>
        </div>
      </div>
    
        <div class="x6" style="display:">
            <div class="membrs-list">
    
                <div class="member-card" style="margin-bottom: 20px;
    margin-left: 40%;
    margin-top: -20px;">
                   <!-- <img src="../public/img/Project/man.png" style="border-radius: 10px;width:45%">-->
                   <p> Rishiraj Paul Chowdhury <br>Nandini Agarwal</p> 
                  
                    <!--<h4 style="line-height:0;color:orange;"> BACKEND DEVELOPER </h4>
                    <p>
                        Lem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud.
                    </p>
                    <a class="github-link" href="https://github.com/vishalpandeyvip"> Github Link </a><br><br><br>
                    <div style="position:absolute;bottom:0;width:80%;">
                        <img style="border-radius: 10px;margin-right:10px;" src="../public/img/Project/facebook.png" height="40" width="40">
                        <img style="border-radius: 10px;margin-right:10px;"src="../public/img/Project/twitter.png" height="40" width="40">
                        <img style="border-radius: 10px;" src="../public/img/Project/linkedin.png" height="40" width="40">
                    </div>-->
                </div>
                <div class="member-card" style="margin-bottom: 20px;
    margin-left: 40%;
    margin-top: -20px;">
                    <!--<img src="../public/img/Project/.png" style="border-radius: 10px;width:45%">-->
                    <h3 style="line-height:0;">  </h3>
                   <!---<h4 style="line-height:0;color:orange;"> BACKEND DEVELOPER </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud.
                    </p>
                    <a class="github-link" href="https://github.com/vishalpandeyvip"> Github Link </a><br><br><br>
                    <div style="position:absolute;bottom:0;width:80%;">
                        <img style="border-radius: 10px;margin-right:10px;" src="../public/img/Project/facebook.png" height="40" width="40">
                        <a href=""><img style="border-radius: 10px;margin-right:10px;"src="../public/img/Project/twitter.png" height="40" width="40">
                        <a href=""><img style="border-radius: 10px;" src="../public/img/Project/linkedin.png" height="40" width="40"></a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
   <!-- <button class="other-button">More Options </button> -->
  
  
   </main> 
  
  </body>
  <script src="/js/navbar.js"></script>
    <script>
       function myfunction() {
           var element = document.body;
           element.classList.toggle("dark-mode");
         }
        function toggleMembers(){
            elem = document.querySelector('.x1');
            k=elem.style.display=='none'?'block':'none';
            document.querySelector('.x1').style.display=k
        }
        function showDetails1(){
            elem = document.querySelector('.details1');
            k=elem.style.display=='none'?'block':'none';
            document.querySelector('.details1').style.display=k
        }  
        function toggleMembers(){
            elem = document.querySelector('.x2');
            k=elem.style.display=='none'?'block':'none';
            document.querySelector('.x2').style.display=k
        }
        function showDetails2(){
            elem = document.querySelector('.details2');
            k=elem.style.display=='none'?'block':'none';
            document.querySelector('.details2').style.display=k
        }  
        function toggleMembers(){
            elem = document.querySelector('.x3');
            k=elem.style.display=='none'?'block':'none';
            document.querySelector('.x3').style.display=k
        }
        function showDetails3(){
            elem = document.querySelector('.details3');
            k=elem.style.display=='none'?'block':'none';
            document.querySelector('.details3').style.display=k
        }  
        function toggleMembers(){
            elem = document.querySelector('.x4');
            k=elem.style.display=='none'?'block':'none';
            document.querySelector('.x4').style.display=k
        }
        function showDetails4(){
            elem = document.querySelector('.details4');
            k=elem.style.display=='none'?'block':'none';
            document.querySelector('.details4').style.display=k
        }  
        function toggleMembers5(){
            elem = document.querySelector('.x5');
            k=elem.style.display=='none'?'block':'none';
            document.querySelector('.x4').style.display=k
        }
        function showDetails5(){
            elem = document.querySelector('.details5');
            k=elem.style.display=='none'?'block':'none';
            document.querySelector('.details5').style.display=k
        }  
        function toggleMember6(){
            elem = document.querySelector('.x6');
            k=elem.style.display=='none'?'block':'none';
            document.querySelector('.x6').style.display=k
        }
        function showDetails6(){
            elem = document.querySelector('.details6');
            k=elem.style.display=='none'?'block':'none';
            document.querySelector('.details6').style.display=k;
            
        }  
var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close","send_form")[0];
btn.onclick = function() {
  modal.style.display = "block";
}
span.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

$(document).on('click','.send_form', function(){
var input_blanter = document.getElementById('wa_email');






if("" != input_blanter.value){

 /* Call Input Form */
var input_select1 = $("#wa_select :selected").text(),
    input_name1 = $("#wa_name").val(),
    input_email1 = $("#wa_email").val(),
    input_number1 = $("#wa_number").val(),
    input_url1 = $("#wa_url").val(),
    input_textarea1 = $("#wa_textarea").val();

var blanter= walink + '?phone=' + phone + '&text=' + walink2 + '%0A%0A' +
    '*Name* : ' + input_name1 + '%0A' +
    '*Email Address* : ' + input_email1 + '%0A' +
    '*Select Option* : ' + input_select1 + '%0A' +
    '*Input Number* : ' + input_number1 + '%0A' +
    '*URL/Link* : ' + input_url1 + '%0A' +
    '*Description* : ' + input_textarea1 + '%0A';

window.open(blanter,'_blank');
document.getElementById("text-info").innerHTML = '<span class="yes">'+text_yes+'</span>';
} else {
document.getElementById("text-info").innerHTML = '<span class="no">'+text_no+'</span>';
}
});
    </script>
</html>