<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta
			name="description"
			content="DSC NIT Silchar is under Developer Students Club, which is a
    worldwide developers community initiated by Google.The DSC NITS website is open for
    all student developers, who wish to improve their skills.
    Each user has separate profile page, where one can add his/her skills,
    projects and accomplishments."
		/>
		<meta
			name="keywords"
			content="DSC, DSC NITS, Developer Student Club NIT Silchar, Blogs, 
    Profile, Forum, Events, Developers, NIT Silchar"
		/>

		<title>DSC NITS | Projects</title>
		<link
			rel="shortcut icon"
			type="image/x-icon"
			href="/img/logo/dsc_logo.png"
		/>
		<link rel="stylesheet" href="/css/project-page/dscprojects.css" />
		<link rel="stylesheet" href="/css/index/footer.css" />
		<link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- ######################################################################## -->
	</head>
	<body >
		<!--Navbar Starts-->
		<%-include('partials/navbar')%>
		<!---Navbar Ends-->

		<main>

			<!--Resource Hub Starts-->
			<div class="cards">
				<div class="contact">Completed</div>
				<!-- <div class="contact-form">
          <p>Registration Starts Soon</p>
        </div> -->

				<div class="card active" id="overview">
					<a class="card-toggle"
						><i class="fa fa-arrow-circle-left"></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2>
									Resource <strong>Hub</strong> 
								</h2>
							</div>
							<div class="right col">
								<img
									src="/img/Project/resource-hub.png"
									alt="Resource Hub logo"
								/>
							</div>
						</div>
					<p class="details">
						Resource Hub is a common platform for
						uploading, downloading and requesting
						various notes, question papers etc related
						to our Institute Curriculum. Students having
						any kind of study materials or textbooks can
						upload them in PDF, PPT or Word Document
						form in this website, while the others can
						download them. For any requirement of
						material, user will only have to request for
						it in the hub area and everyone will be
						informed about the request.
					</p>
					</div>
				</div>

				<div class="card" id="dribbble">
					<a class="card-toggle"
						><i><span class="fa fa-info"></span></i
					></a>
					<div class="card-content">
						<div class="row" >
							<div class="left col">
								<h2 style="margin-left:30px;">More <strong>Details</strong></h2>
								<p class="more-details">
									Resource Hub provides hassle-free upload
									procedure where you just need to log in and then you can upload notes in PDF,
									Doc, PPT, DOCX Format. It has an easy-to-use user
									Interface where you can easily locate study materials of any
									particular subject you are looking for.
									Rating System has been provided for the
									materials uploaded which will help you
									identify the better ones and also which will
									rate the user. Apart from downloading and 
									uploading user can also request for particular 
									study materials.
									You can search particular notes in the
									notes section of the hub by  subject's or professor's name. Also 
									materials can be sorted by year or rating
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card" id="behance">
					<a class="card-toggle"
						><i><span class="fa fa-code"></span></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2>Tech  <strong>Stack</strong></h2>
								<p>
									●Backend: NodeJs <br />
									●Database: MongoDB<br />
									●Frontend: HTML, CSS, JavaScript
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card" id="linkedin">
					<a class="card-toggle"
						><i><span class="fa fa-users"></span></i
					></a>
					<div class="card-content">
						<center>
							<h2><strong> Members</strong></h2>
						</center>

						<div class="members-container">
							<div>
								<a class="lead-link" href="/user/public-profile/ank21"
									>Ankit Srivastava</a
								>
							
							</div>
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/ujjawal-1999"
									>Ujjawal Jain</a>
							</div><div>
								<a
									class="lead-link"
									href="/user/public-profile/anuva"
									>Anuva Bhattacharjee</a>
							</div>
						</div>

					  </div>
					</div>
					</div>
				</div>
			</div>
			<!--Resource Hub Ends-->

			<!--Attendo App Starts-->
			<div class="cards">
				<div class="contact">Completed</div>
				<!-- <div class="contact-form">
          <p>Registration Starts Soon</p>
        </div> -->

				<div class="card active" id="overview">
					<a class="card-toggle"
						><i class="fa fa-arrow-circle-left"></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2>Attendo <strong>App</strong></h2>
							</div>
							<div class="right col">
								<img
									src="/img/Project/attendo.png"
									alt="attendo logo"
								/>
							</div>
						</div>
						<p class="details">
							Keep your class attendances high with the
							help of Attendo. With an easy to use, yet
							efficient UI it makes keeping a track of
							your attendance fairly simple. Risks of not
							making it to the minimum attendance criteria
							will now be a thin of the past as Attendo
							will keep you up-to-date with its timely
							reminders and attendance records.
						</p>
					</div>
				</div>

				<div class="card" id="dribbble">
					<a class="card-toggle"
						><i><span class="fa fa-info"></span></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2 style="margin-left:30px;">More <strong>Details</strong></h2>

								<p class="more-details">
									With Attendo, We can keep a check on your
									attendance status. Keep accidental low
									attendances at bay with​ Attendo and ensure
									that we are benefitted the most out of
									it.It is Easy to use, and a simple yet efficient UI
									to manage each subject away from all hassles
									and complications.It reminds us to attend a test or an
									important discussion. With this app we can 
									avoid unnecessary calculations to fulfill
									our minimum attendance criteria. It is lexible to use
									and app lets you rectify any
									error that might creep in. We can also track the history of the
									subjects you attended.
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card" id="behance">
					<a class="card-toggle"
						><i><span class="fa fa-code"></span></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2>Tech <strong>Stack</strong></h2>
								<p>
									●Retrofit <br />
									●Firebase<br />
									●SQLite (owing to which it works efficiently
									and data is secured)
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card" id="linkedin">
					<a class="card-toggle"
						><i><span class="fa fa-users"></span></i
					></a>
					<div class="card-content">
							<div class="leads">
								<h3 style="text-align: center;">Mentors</h3>
								<div class="members-container">
									<div style="padding:0 30px;">
										<a
											class="lead-link"
											href="/user/public-profile/nand_20"
											>Nandini Agarwal</a
										>
									</div>
									<div>
										<a
											class="lead-link"
											href="/user/public-profile/getoxdev"
											>Rishiraj Paul Chowdhury</a
										>
									</div>
								</div>
							</div>
							<br>
							<div class="juniors">
								<h3 style="text-align:center;">Developers</h3>

								<div class="members-container">
									<div>
										<a
											class="lead-link"
											href="/user/public-profile/aman_aryan"
											>Aman Aryan</a
										>
										<a
											class="lead-link"
											href="/user/public-profile/jyotimoy-kashyap"
											>Jyotimoy Kashyap</a
										>
									</div>
									<div>
										<a
											class="lead-link"
											href="/user/public-profile/gauravdas"
											>Gaurav Das</a>
										<a class="lead-link"
											>Srishti Sharma</a
										>
									</div>
							    </div>
							</div>
						</div>
				</div>
			</div>
			<!--Attendo App Ends-->
			
			<div class="cards">
				<div class="contact">Ongoing</div>
				<!-- <div class="contact-form">
          <p>Registration Starts Soon</p>
        </div> -->

				<div class="card active" id="overview">
					<a class="card-toggle"
						><i class="fa fa-arrow-circle-left"></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2 style="font-size: 2.6em;">
									<nobr>Easy Exchange </nobr> <b>App</b>
								</h2>
							</div>
							<div class="right col">
								<img
									src="/img/Project/Easy Exchange Logo.png"
									alt="Easy Exchange Logo"
								/>
							</div>
						</div>
						<p class="details">
							Easy Exchange App aims at providing a
							platform to the students of NIT Silchar,
							where they can exchange goods amongst
							themselves. Using it students could
							seamlessly buy, rent, sell or borrow
							accessories like: EGD tools, lab coats,
							books, bicycles, etc., at reasonable prices
							within the campus of NIT Silchar.
						</p>
					</div>
				</div>

				<div class="card" id="dribbble">
					<a class="card-toggle"
						><i><span class="fa fa-info"></span></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2 style="margin-left:30px;">More <strong>Details</strong></h2>
								<p class="more-details">
									The app will help users to sell, buy, rent,
									or borrow accessories like books, bicycles,
									EGD tools, lab coats, etc. at an affordable
									price within the ​NIT SILCHAR​ campus. It
									will have secure payment methods and
									encrypted user details. This app will help
									all the students of NIT Silchar to buy and
									borrow accessories like books, bicycles, EGD
									tools, lab coats, etc. at an affordable
									price from their peers. This app will also
									help the students to sell their bicycles,
									books, and other accessories to their peers
									easily
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card" id="behance">
					<a class="card-toggle"
						><i><span class="fa fa-code"></span></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2>Tech <strong>Stack</strong></h2>
								<p>
									● Language ​: Java/Kotlin <br />
									● Software ​: Android Studio
									<br />
									● Database ​: Firebase <br />
									● Other Applications​: ​GitHub, Git
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card" id="linkedin">
					<a class="card-toggle"
						><i><span class="fa fa-users"></span></i
					></a>
					<div class="card-content">
						<h3 style="margin: 5px; text-align: center;">
							<strong>Mentors</strong>
						</h3>
						<div class="members-container">
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/elvisr"
									>Elvis Rahman</a
								>
							
							</div>	<div>
								<a
									class="lead-link"
									href="/user/public-profile/kazi"
									>Kazi Sahariar Rahi</a
								>
							</div>
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/manzilhoque"
									>Manzil Hoque</a
								>
							</div>
						</div><br>
							
						<h3 style="text-align: center;">
							<strong>Developers</strong>
						</h3>

						<div class="members-container">
							<div id="easy-exchange">
								<a
									class="lead-link"
									href="/user/public-profile/nightfury"
									>Nihar Jyoti Basisth</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/lovepreet"
									>Lovepreet Singh</a
								>
								<a class="lead-link">Sohan Paul</a>
								<a
									class="lead-link"
									href="/user/public-profile/sharmistha412"
									>Sharmistha Das</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/mriga14"
									>Mriganka Bharali</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/im_sahil"
									>Sahil Sarwar</a
								>
							</div>

							<div>
								<a
									class="lead-link"
									href="/user/public-profile/android-developer/"
									>Snehashish Karmakar</a
								>

								<a
									class="lead-link"
									href="/user/public-profile/_sanchayita_"
									>Sanchayita Purkayastha</a
								>
								<a class="lead-link">Jaariya Hussain</a>
								<a class="lead-link">Rontu Bharoi</a>
								<a class="lead-link">Zakir Alam</a>
							</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cards">
				<div class="contact">Ongoing</div>
				<!-- <div class="contact-form">
          <p>Registration Starts Soon</p>
        </div> -->

				<div class="card active" id="overview">
					<a class="card-toggle"
						><i class="fa fa-arrow-circle-left"></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2 style="font-size: 2.5em;;">
									<nobr> Alumni Tracking </nobr
									><strong>System</strong>
								</h2>
							</div>
							<div class="right col">
								<img
									src="/img/Project/ats.jpg"
									alt="ats logo"
								/>
							</div>
						</div>
						<p class="details">
							Acts as an ​interaction bridge​ between
							Alumni and the present students of NIT
							Silchar.It is basically a multi-portal
							application consisting of the Admin and
							Alumni Section.
						</p>
					</div>
				</div>

				<div class="card" id="dribbble">
					<a class="card-toggle"
						><i><span class="fa fa-info"></span></i
					></a>
					<div class="card-content">
						<div class="row">
							<div
								class="left col"
							>
								<h2 style="margin-left:30px;">More <strong>Details</strong></h2>
								<p class="more-details">
									Acts as an ​interaction bridge​ between
									Alumni and the present students of NIT
									Silchar.It is basically a multi-portal
									application consisting of the Admin and
									Alumni Section. Alumni Section consists of a
									user page for each registered Alumni where
									they can fill their personal as well as
									professional details. Moreover, there is a
									blog section where they can share their
									views and experiences about the present
									technological needs. Alumni will have chat
									rooms corresponding to their batches and
									branches where they can interact.Moreover,
									Alumni will get all the information about
									the events happening in the college and
									also, we will directly be able to invite
									them.
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card" id="behance">
					<a class="card-toggle"
						><i><span class="fa fa-code"></span></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2>Tech  <strong>Stack</strong></h2>
								<p>
									● Front-End:​ HTML , CSS, JS .
									<br />
									● Back-End​: NodeJs and ExpressJS<br />
									● Database: MongoDB.
									<br />
									● Other Applications​: Version Control: Git
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card" id="linkedin">
					<a class="card-toggle"
						><i><span class="fa fa-users"></span></i
					></a>
					<div class="card-content">
							<h3 style="text-align: center;">Mentors</h3>
							<div class="members-container">
								<div>
									<a
										class="lead-link"
										href="/user/public-profile/ujjawal-1999"
										>Ujjawal Jain</a
									>
									<a
										class="lead-link"
										href="/user/public-profile/technisrahulk"
										>Rahul Kumar Gupta</a
									>
								</div>

								<div>
									<a class="lead-link"
										href="/user/public-profile/pathikrit">
										Pathikrit Chanda
									</a>
									<a
										class="lead-link"
										href="/user/public-profile/anuva"
										>Anuva Bhattacharjee</a
									>
								</div>
							</div><br>

							<h3 style="text-align: center;">Developers</h3>
							<div class="members-container">
								<div class="juniors">
										<a
											class="lead-link"
											href="/user/public-profile/nightfury"
											>Nihar Jyoti Basisth</a
										>
										<a
											class="lead-link"
											href="/user/public-profile/sharmistha412"
											>Sharmistha Das</a
										>
										<a
											class="lead-link"
											href="/user/public-profile/sd15/"
											>Siddhartha Das</a
										>
										<a
											class="lead-link"
											href="/user/public-profile/biley02"
											>Biley Roy</a
										>
										<a class="lead-link">Kunal Modi</a>
										<a class="lead-link">Shuvrajit Das</a>
										<a
											class="lead-link"
											href="/user/public-profile/jitulteron7"
											>Jitul Teron</a
										>
								</div>

								<div>
										<a
											class="lead-link"
											href="/user/public-profile/pranjal123"
											>Pranjal das</a
										>
										<a
											class="lead-link"
											href="/user/public-profile/shivaomdsc02"
											>Shivam Kumar</a
										>
										<a
											class="lead-link"
											href="/user/public-profile/rajdeeppauldscnits"
											>Rajdeep Paul</a
										>
										<a
											class="lead-link"
											href="/user/public-profile/lovepreet"
											>Lovepreet Singh</a
										>
										<a
											class="lead-link"
											href="/user/public-profile/verticallychallenged"
											>Anusha Hazarika</a
										>
										<a
											class="lead-link"
											href="/user/public-profile/reeya"
											>Reeya Hazarika</a
										>
								</div>

							</div>
							</div>
				</div>
			</div>

			<div class="cards">
				<div class="contact">Ongoing</div>
				<!-- <div class="contact-form">
          <p>Registration Starts Soon</p>
        </div> -->

				<div class="card active" id="overview">
					<a class="card-toggle"
						><i class="fa fa-arrow-circle-left"></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2>Efficacy <strong>App</strong></h2>
							</div>
							<div class="right col">
								<img
									src="/img/Project/efficacy.jpeg"
									alt="efficacy logo"
								/>
							</div>
						</div>
						<p class="details">
							This app will keep a record of the scheduled
							club activities. This will help club
							coordinators to organize their event in such
							a way that no collision occurs with already
							scheduled events. This will not only help
							clubs grow but will also bridge the gap
							among other clubs.
						</p>
					</div>
				</div>

				<div class="card" id="dribbble">
					<a class="card-toggle"
						><i><span class="fa fa-info"></span></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2 style="margin-left:30px;">More <strong>Details</strong></h2>

								<p class="more-details">
									There are several clubs in our college and
									each club carries out several events
									throughout the year. We have observed that
									the events of one club tend too verlap with
									that of the other, which mainly happens due
									to no coordination among the moderators of
									different clubs, thus causing a lot of
									confusion among students,as which event
									should be given priority. This also
									adversely affects the club.Therefore,we
									thought of bringing all the clubs under one
									roof and develop an app to serve the
									purpose.
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card" id="behance">
					<a class="card-toggle"
						><i><span class="fa fa-code"></span></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2>Tech<strong>Stack</strong></h2>
								<p>
									● Software:​ Flutter (for cross-platform
									compatibility).
									<br />
									● Database:​ Firebase. <br />
									● Language:​ Dart <br /><br />
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card" id="linkedin">
					<a class="card-toggle"
						><i><span class="fa fa-users"></span></i
					></a>
					<div class="card-content">
						<h3 style="text-align: center;">Mentors</h3>
						<div class="members-container">
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/yash.srivastava"
									>Yash Srivastava</a
								>
							
							</div>

							<div>
								<a
									class="lead-link"
									href="/user/public-profile/trishna_kalita"
									>Trishna Kalita
								</a>
							</div>
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/moderator"
									>Srinjoy Dutta</a
								>
							</div>
						</div><br>

						<h3 style="text-align: center;">Developers</h3>
						<div class="members-container">
							<div>		
								<a class="lead-link">Shreya Mour</a>
								<a
									class="lead-link"
									href="/user/public-profile/arjunsah"
									>Arjun Kumar</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/aadarsh_apoorv"
									>Apoorv Adarsh</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/grvb15"
									>Gaurav Bhattacharjee</a
								>
							</div>
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/iamsrm"
									>Soumya Ranjan Mohapatra</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/digantdixit"
									>Digant Dixit</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/mayur726"
									>Mayur Mulchandani</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="cards">
				<div class="contact">Ongoing</div>
				<!-- <div class="contact-form">
          <p>Registration Starts Soon</p>
        </div> -->

				<div class="card active" id="overview">
					<a class="card-toggle"
						><i class="fa fa-arrow-circle-left"></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2><nobr>NITS Result </nobr> <strong>Portal</strong></h2>
							</div>
							<div class="right col">
								<img
									src="/img/Project/result-portal.jpg"
									alt="result-portal logo"
								/>
							</div>
						</div>
						<p class="details">
							The aim of the project is to come up with a
							result portal for the Institute where the
							record of provisional results of all the
							semesters can be accessed simply by logging
							in using valid credentials of the students
							which will maintain the privacy of the
							result .
						</p>
					</div>
				</div>

				<div class="card" id="dribbble">
					<a class="card-toggle"
						><i><span class="fa fa-info"></span></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2 style="margin-left:30px;">More <strong>Details</strong></h2>
								<p class="more-details">
									The project will be a boon for the faculties
									as well as the students. Faculties need not
									waste their time updating excel sheets which
									also causes mistakes due toparallax instead
									they canuse the website to store students'
									results.
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card" id="behance">
					<a class="card-toggle"
						><i><span class="fa fa-code"></span></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2>Tech <strong>Stack</strong></h2>
								<p>
									● NodeJS <br />● ReactJS<br />
									● MongoDB<br />
									● Express <br />● Html <br />● CSS <br />●
									Javascript <br />
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card" id="linkedin">
					<a class="card-toggle"
						><i><span class="fa fa-users"></span></i
					></a>
					<div class="card-content">
						<h3 style="text-align: center;">Mentors</h3>
						<div class="members-container">
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/sameer46"
									>Sameer Shrivastava</a
								>
							
							</div><div>
								<a
									class="lead-link"
									href="/user/public-profile/scortier"
									>Aditya Singh Sisodiya
								</a>
							</div>
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/nabanita"
									>Nabanita Bania</a
								>
							</div>
						</div><br>
						<h3 style="text-align: center;">Developers</h3>
						<div class="members-container">
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/__saurav/"
									>Saurav Das</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/reeya"
									>Reeya Hazarika</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/jitulteron7"
									>Jitul Teron</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/debojyoti1915001"
									>Debojyoti Das</a
								>
							</div>

							<div>
								<a
									class="lead-link"
									href="/user/public-profile/iamthedarwin"
									>Shashwat Priyadarshy</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/kavii_suri"
									>Kavii Suri</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/aditya"
									>Aditya Agarwal</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/gauravdas"
									>Gaurav Das</a
								>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!--- Result Portal Ends-->
			<!--- Medical Records Starts-->
			<div class="cards">
				<div class="contact">Ongoing</div>
				<!-- <div class="contact-form">
          <p>Registration Starts Soon</p>
        </div> -->

				<div class="card active" id="overview">
					<a class="card-toggle"
						><i class="fa fa-arrow-circle-left"></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2>
									<nobr>Medical Record </nobr><br>
									Management
									<strong>Portal</strong>
								</h2>
							</div>
							<div class="right col">
								<img
									src="/img/Project/medical.png"
									alt="medical records management logo"
								/>
							</div>
						</div>
						<p class="details">
							The aim of the project is to come up with a
							medical records management portal where the
							a user can upload and access his records by logging
							in using valid credentials.
							In the wake of Covid-19, it has become more
							important than ever to have all the medical
							history and prescriptions handy. This portal
							focuses on the collection and storage of
							medical data.
						</p>
					</div>
				</div>

				<div class="card" id="dribbble">
					<a class="card-toggle"
						><i><span class="fa fa-info"></span></i
					></a>
					<div class="card-content">
						<div class="row">
							<div
								style="position: relative;top:-30px;"
								class="left col"
							>
								<h2 style="margin-left:30px;">More <strong>Details</strong></h2>

								<p class="more-details">
									In the wake of Covid-19, it has become more
									important than ever to have all the medical
									history and prescriptions handy. This portal
									focuses on the collection and storage of
									medical data.This website has following features<br>
									● Hospitals and Users can sign up for the
									portal.<br />
									● To maintain uniqueness the users will have
									to provide their Aadhar Number or Passport
									No.<br />
									● Hospitals can access the data if and only
									if the user verifies the OTP.<br />
									● A patient can upload all his details and
									prescriptions. Moreover, if he/she grants
									permission to a doctor/hospital, then the
									same can be done by them.
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card" id="behance">
					<a class="card-toggle"
						><i><span class="fa fa-code"></span></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2>Tech<strong> Stack</strong></h2>
								<p>
									● Version Control: ​Github<br />
									● Database: MongoDB <br />
									● Backend: Node Js <br />
									● Frontend: ​Html, CSS, JavaScript <br />
									● Templating Engine:​ EJS <br /><br />
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card" id="linkedin">
					<a class="card-toggle"
						><i><span class="fa fa-users"></span></i
					></a>
					<div class="card-content">
						<h3 style="text-align:center;"> Mentors</h3>
						<div class="members-container">
							<div >
								<a
									class="lead-link"
									href="/user/public-profile/ujjawal-1999"
									>Ujjawal Jain</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/sameer46"
									>Sameer Shrivastava</a
								>
							</div>
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/scortier"
									>Aditya Singh Sisodiya</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/"
									>Arshita Narayan</a
								>
							</div>
						</div><br>
						<h3 style="text-align: center;">Developers</h3>
						<div class="members-container">
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/grvb15"
									>Gaurav Bhattacharjee</a
								>
								<a class="lead-link">Bhargab Nath</a>
								<a
									class="lead-link"
									href="/user/public-profile/rishiraj"
									>Rishiraj Kalita</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/debojyoti1915001"
									>Debojyoti Das</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/nishi_sekhani"
									>Nishi Sekhani</a
								>
							</div>
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/sujata_baroi"
									>Sujata Baroi</a
								>
								<a class="lead-link">Abhinash Gogoi</a>
								<a
									class="lead-link"
									href="/user/public-profile/aditya"
									>Aditya Agarwal</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/rishav17"
									>Rishav Anand</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/dhritiraj1"
									>Dhritiraj Borah</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Medical Records Management Ends -->
			<!-- CodeShare Starts-->
			<div class="cards">
				<div class="contact">Ongoing</div>
				<!-- <div class="contact-form">
          <p>Registration Starts Soon</p>
        </div> -->

				<div class="card active" id="overview">
					<a class="card-toggle"
						><i class="fa fa-arrow-circle-left"></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2><strong>Codeshare</strong></h2>
							</div>
							<div class="right col">
								<img
									src="/official-logo/DSC2.png"
									alt="Codeshare logo"
		
								/>
							</div>
						</div>
						<p class="details">
							It is a code sharing chat based website
							which will have a feature of sharing code
							and will have same indentations like the
							code appears in different code editors.
						</p>
					</div>
				</div>

				<div class="card" id="dribbble">
					<a class="card-toggle"
						><i><span class="fa fa-info"></span></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2 style="margin-left:30px;">More <strong>Details</strong></h2>
								<p class="more-details">
									It is a code sharing chat based website
									which will have a feature of sharing code
									and will have same indentations like the
									code appears in different code editors.
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card" id="behance">
					<a class="card-toggle"
						><i><span class="fa fa-code"></span></i
					></a>
					<div class="card-content">
						<div class="row">
							<div class="left col">
								<h2>Tech <strong>Stack</strong></h2>
								<p>
									●ReactJs <br />
									●NodeJs<br />
									●MongoDB<br />
									●TypeScript
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card" id="linkedin">
					<a class="card-toggle"
						><i><span class="fa fa-users"></span></i
					></a>
					<div class="card-content">
						<h3 style="text-align:center;">Mentors</h3>
						<div class="members-container">
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/sameer46/"
									>Sameer Shrivastava</a
								>
							
							</div><div>
								<a
									class="lead-link"
									href="/user/public-profile/imsubhra"
									>Subhra Sankha Sarma</a
								>
							</div>
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/trishna_kalita"
									>Trishna Kalita</a
								>
							</div>
						</div><br>

						<h3 style="text-align:center;"> Developers </h3>
						<div class="members-container">
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/vishalpandeynits/"
									>Vishal Pandey</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/satyik/"
									>Satyik Pritam Yogi</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/__saurav/"
									>Saurav Das</a
								>
							</div>
							<div>
								<a
									class="lead-link"
									href="/user/public-profile/jitulteron7"
									>Jitul Teron</a
								>
								<a
									class="lead-link"
									href="/user/public-profile/daniyal/"
									>Daniyal Mahmood</a
								>
							</div>
					</div>
				</div>
			</div>
			<!--CodeShare Ends-->
			
		</main>
		<%- include('partials/footer.ejs') %>
	</body>
	<script src="/js/darkmode.js"></script>
	<script src="/js/navbar.js"></script>
	<script src="/js/dscprojects/dscprojects.js"></script>
</html>
