<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="description" content="DSC NIT Silchar is under Developer Students Club, which is a
    worldwide developers community initiated by Google.The DSC NITS website is open for
    all student developers, who wish to improve their skills.
    Each user has separate profile page, where one can add his/her skills,
    projects and accomplishments." />
    <meta name="keywords" content="DSC, DSC NITS, Developer Student Club NIT Silchar, Blogs, 
    Profile, Forum, Events, Developers, NIT Silchar" />

    <link rel="stylesheet" href="/css/register/register.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/img/logo/dsc_logo.png"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/index/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />

    <title>DSC NITS | Login/SignUp</title>
  </head>

  <body>
    <!--Navbar Starts-->
    <%-include('partials/navbar')%>
    <!---Navbar Ends-->

    <div class="container" id="container">
      <div class="heading-block">
        <h1 id="label">
          SignUp
          <span style="color: #0f1923"></span>
        </h1>
      </div>
      <div class="signup-form" id="signupform">
        <h1 class="mobileheading">Sign Up</h1>
        <form
          action="/dsc/user/register"
          method="POST"
          onsubmit="return validate()"
          name="signupform"
          id="signupform"
        >
          <label for="codename">Full name</label
          ><input
            type="text"
            name="name"
            placeholder="Name"
            required
            minlength="6"
            maxlength="30"
            id="name"
          />

          <label for="hname">DSC Handle</label>

          <input
            id="hname"
            type="text"
            placeholder="Enter a unique DSC handle"
            name="dscHandle"
            required
            maxlength="20"
            onchange="return checkuniquedschandle()"
          />

          <p id="uniqueness"></p>

          <label for="email">Email</label
          ><input
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            type="email"
            name="email"
            placeholder="Email Address"
            required
          />
          <label for="sidearm">Password</label>
          <input
            type="password"
            id="password"
            type="password"
            name="password"
            placeholder="Password"
            required
          />

          <label for="sidearm">Confirm Password</label>
          <input
            type="password"
            id="cpassword"
            type="password"
            name="cpassword"
            placeholder="Retype Password"
            required
          />
          <br />
          <div
            class="flexRow"
            style="
              display: flex;
              align-items: center;
              height: auto;
              margin: -18px;
            "
          >
            <input
              onclick="showpasswordsignup()"
              type="checkbox"
              style="width: auto; margin: 0"
            />&nbsp&nbsp Show Password
          </div>
          <div class="button-box">
            <div class="button-mask button-mask-slide" style="padding: 0">
              <input type="submit" value="SignUp" id="" style="padding: 20px" />
            </div>
          </div>
          <div class="button-box">
            <div class="button-mask button-mask-slide" id="switchtologin">
              <span>Already have an account ? Login</span>
            </div>
          </div>
        </form>

        <p>
          <a href="/dsc/user/forgotpassword">Forget Password ?</a><br /><br />
          or use social account
        </p>

        <div class="social-login">
          <a href="#">
            <img src="/img/logo/fb.png" alt="facebook logo" />
            Signup with facebook
          </a>
          <a href="#">
            <img src="/img/logo/Google.png" class="google" alt="google logo" />
            Signup with Google
          </a>
        </div>
      </div>

      <div class="signup-form" id="loginform">
        <h1 class="mobileheading">Login</h1>
        <form action="/dsc/user/login" method="POST">
          <label for="email">Email/Username</label
          ><input
            type="text"
            name="email"
            placeholder="Email/Username"
            required
          />
          <label for="sidearm">Password</label>
          <input
            type="password"
            id="loginpassword"
            type="password"
            name="password"
            placeholder="Password"
            required
          />
          <br />
          <div
            class="flexRow"
            style="
              display: flex;
              align-items: center;
              height: auto;
              margin: -18px;
            "
          >
            <input
              onclick="showpasswordlogin()"
              type="checkbox"
              style="width: auto; margin: 0"
            />&nbsp&nbsp Show Password
          </div>
          <div class="button-box">
            <div class="button-mask button-mask-slide" style="padding: 0">
              <input type="submit" value="Login" id="" style="padding: 20px" />
            </div>
          </div>
          <div class="button-box">
            <div class="button-mask button-mask-slide" id="switchtosignup">
              <span>Don't have an account ? SignUp</span>
            </div>
          </div>
        </form>

        <p>
          <a href="/dsc/user/forgotpassword">Forget Password ?</a><br /><br />
          or use social account
        </p>

        <div class="social-login">
          <a href="#">
            <img src="/img/logo/fb.png" alt="facebook logo" />
            Login with facebook
          </a>
          <a href="#">
            <img src="/img/logo/Google.png" class="google" alt="google logo" />
            Login with Google
          </a>
        </div>
      </div>
    </div>

    <div class="bg-text-stroke">
      <span>Welcome to</span>
      <span>DSC Website</span>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/darkmode.js"></script>
  <script src="/js/anime.js"></script>
  <script src="/js/signup-in/register.js"></script>
</html>
