<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/index/register.css" />
    <title>Login/SignUp</title>
  </head>

  <body>
    <div class="container" id="container">
      <div class="heading-block">
        <div>
          <h1 id="label">
            SignUp
            <span style="color: #0f1923"></span>
          </h1>
        </div>
      </div>
      <div class="signup-form" id="signupform">
        <h1 class="mobileheading">Sign Up</h1>
        <form action="/dsc/user/register" method="POST">
          <label for="codename">Full name</label
          ><input type="text" name="name" placeholder="Name" required />
          <label for="email">Email</label
          ><input
            type="email"
            name="email"
            placeholder="Email Address"
            required
          />
          <label for="sidearm">Password</label>
          <input
            type="password"
            id="password-field"
            type="password"
            name="password"
            placeholder="Password"
          />
          <label for="sidearm">Confirm Password</label>
          <input
            type="password"
            id="cpassword-field"
            type="password"
            name="cpassword"
            placeholder="Retype Password"
          />
          <div class="button-box">
            <div class="button-mask button-mask-slide">
              <input type="submit" value="SignUp" id="" />
            </div>
          </div>
          <div class="button-box">
            <div class="button-mask button-mask-slide" id="switchtologin">
              <span>Already have an account ? Login</span>
            </div>
          </div>
        </form>

        <p>
          <a href="/dsc/user/forgotpassword">Forget Password ?</a><br /><br />
          or use social account
        </p>

        <div class="social-login">
          <a href="#">
            <img src="/img/logo/fb.png" alt="" />
            Signup with facebook
          </a>
          <a href="#">
            <img src="/img/logo/Google.png" alt="" />
            Signup with Google
          </a>
        </div>
      </div>
      <div class="signup-form" id="loginform">
        <h1 class="mobileheading">Login</h1>
        <form action="/dsc/user/login" method="POST">
          <label for="email">Email</label
          ><input
            type="email"
            name="email"
            placeholder="Email Address"
            required
          />
          <label for="sidearm">Password</label>
          <input
            type="password"
            id="password-field"
            type="password"
            name="password"
            placeholder="Password"
          />

          <div class="button-box">
            <div class="button-mask button-mask-slide">
              <input type="submit" value="Login" id="" />
            </div>
          </div>
          <div class="button-box">
            <div class="button-mask button-mask-slide" id="switchtosignup">
              <span>Don't have an account ? SignUp</span>
            </div>
          </div>
        </form>

        <p>
          <a href="/dsc/user/forgotpassword">Forget Password ?</a><br /><br />
          or use social account
        </p>

        <div class="social-login">
          <a href="#">
            <img src="/img/logo/fb.png" alt="" />
            Login with facebook
          </a>
          <a href="#">
            <img src="/img/logo/Google.png" alt="" />
            Login with Google
          </a>
        </div>
      </div>
    </div>

    <div class="bg-text-stroke">
      <span>Welcome to</span>
      <span>DSC Website</span>
    </div>
    <script src="/js/anime.js"></script>
    <script src="/js/signup-in/register.js"></script>
  </body>
</html>
