<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="../public/css/profile/profile_dashboard.css" />
    <link rel="stylesheet" href="../public/css/index/colors.css" />
    <link rel="stylesheet" href="../public/css/projects/cards.css" />
    <!-- <link rel="stylesheet" href="../public/css/profile/modal.css" /> -->
  </head>

  <body>
    <div class="container">
      <section class="accountbar">
        <input type="text" placeholder="Search" />
        <div class="accountbar__shortcut">
          <img
            class="bell"
            src="../public/img/logo/profile.png"
            alt="UserPhoto"
          />
          <img
            class="bell"
            src="../public/img/logo/bell.png"
            alt="Notification Logo"
          />
        </div>
      </section>

      <section class="accountdetails">
        <section class="dashboard__navbar">
          <ul class="side-nav">
            <li class="side-nav__item side-nav__item">
              <a href="#" class="side-nav__link">
                <span>Home</span>
              </a>
            </li>
            <li class="side-nav__item side-nav__item--active">
              <a href="#" class="side-nav__link">
                <span>Projects</span>
              </a>
            </li>
            <li class="side-nav__item side-nav__item">
              <a href="#" class="side-nav__link">
                <span>Achievements</span>
              </a>
            </li>
          </ul>
        </section>
        <section>
          <!-- CARD CONTAINER -->
          <div>
            <article class="card">
              <div class="card-body">
                <h1 class="card_heading">Project Title</h1>
                <p class="card_date">Tech Stack - NodeJS,React</p>
                <p class="card_date">18 May 2020 - 20 May 2020</p>
                <p class="card_text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Consequuntur eligendi repellat et cumque laborum ipsam
                  blanditiis magnam fuga saepe dolore, eum numquam ea ullam,
                  tempore repudiandae fugit dignissimos voluptatem sit!
                </p>

                <!-- To be Replaced with SVG, no library use -->

                <!-- <div class="badge-list">
                  <div class="badge badge-like">
                    <i class="fas fa-heart"></i>100
                  </div>
                </div> -->
              </div>
            </article>
          </div>
        </section>
      </section>
    </div>

    <!-- <script src="../public/js/profile/modal.js"></script> -->
  </body>
  <!-- <script src="../node_modules/a11ytab/dist/a11ytab.js"></script> -->
  <script src="../public/js/profile/profile.js"></script>
</html>
