<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Top Games</title>
    <link rel="stylesheet" href="scss/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="game">
      <div class="rank">DESIGN</div>
      <div class="front">
        <img class="thumbnail" src="img/rdj.jpg" alt="" />
        <h3 class="name icon">Robert Junior</h3>
        <p class="name persue">Undergraduate</p>
        <div class="stats">
          <p class="viewers icon">Developer</p>
          <div class="streamers">
            <img src="img/index.png" alt="" />
            <img src="img/git.png" alt="" />
            <img src="img/link.png" alt="" />
          </div>
        </div>
      </div>

      <div class="back">
        <p class="about">UI/UX Designer at DSC Club</p>
        <div class="streaming-info">
          <p class="game-stat">2019-23<span>Batch</span></p>
          <p class="game-stat">CSE<span>Branch</span></p>
        </div>
        <button class="btn">Visit Profile</button>
        <div class="streamers">
          <div class="streamer">
            <div class="icon"><img src="img/index.png" alt="" /></div>
            <!-- <p class="name">Gamer1</p>
            <p class="number">36.1k</p> -->
          </div>
          <div class="streamer">
            <div class="icon"><img src="img/git.png" alt="" /></div>
            <!-- <p class="name">Gamer 2</p>
            <p class="number">35.1k</p> -->
          </div>
          <div class="streamer">
            <div class="icon"><img src="img/link.png" alt="" /></div>
            <!-- <p class="name">Gamer 3</p>
            <p class="number">34.1k</p> -->
          </div>
        </div>
      </div>

      <div class="background"></div>
    </div>
    <div class="game">
      <div class="rank">CORE</div>

      <div class="front">
        <img class="thumbnail" src="img/bos.jpg" alt="" />
        <h3 class="name icon">Chadwick Boseman</h3>
        <p class="name">Undergraduate</p>
        <div class="stats">
          <p class="viewers icon">Developer</p>
          <div class="streamers">
            <img src="img/index.png" alt="" />
            <img src="img/git.png" alt="" />
            <img src="img/link.png" alt="" />
          </div>
        </div>
      </div>

      <div class="back">
        <p class="about">Executive Member at DSC Club</p>
        <div class="streaming-info">
          <p class="game-stat">2019-23<span>Batch</span></p>
          <p class="game-stat">CSE<span>Branch</span></p>
        </div>
        <button class="btn">Visit Profile</button>
        <div class="streamers">
          <div class="streamer">
            <div class="icon"><img src="img/index.png" alt="" /></div>
            <!-- <p class="name">Gamer1</p>
            <p class="number">36.1k</p> -->
          </div>
          <div class="streamer">
            <div class="icon"><img src="img/git.png" alt="" /></div>
            <!-- <p class="name">Gamer 2</p>
            <p class="number">35.1k</p> -->
          </div>
          <div class="streamer">
            <div class="icon"><img src="img/link.png" alt="" /></div>
            <!-- <p class="name">Gamer 3</p>
            <p class="number">34.1k</p> -->
          </div>
        </div>
      </div>

      <div class="background"></div>
    </div>
  </body>
</html>
