<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta
      name="description"
      content="DSC NIT Silchar is under Developer Students Club, which is a
    worldwide developers community initiated by Google.The DSC NITS website is open for
    all student developers, who wish to improve their skills.
    Each user has separate profile page, where one can add his/her skills,
    projects and accomplishments."
    />
    <meta
      name="keywords"
      content="DSC, DSC NITS, Developer Student Club NIT Silchar, Blogs, 
    Profile, Forum, Events, Developers, NIT Silchar"
    />
    <link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <link rel="stylesheet" href="/css/index/colors.css" />
    <link rel="stylesheet" href="/css/register/register.css" />
    <title>DSC NITS | Update Password</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/img/logo/dsc_logo.png"
    />
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
    #container {
      top: 55%;
      transform: translate(-50%, -55%);
      height: 70% !important;
    }
    .heading-block h1 {
      font: 700 38px/37px "Rajdhani", sans-serif;
    }
  </style>
  <body>
    <!--Navbar Starts-->
    <%-include('partials/navbar')%>
    <!---Navbar Ends-->
    <div class="container forgot" id="container">
      <div class="heading-block">
        <div>
          <h1 id="label">
            Update Password
            <span style="color: #0f1923"></span>
          </h1>
        </div>
      </div>
      <div class="signup-form">
        <h1 class="mobileheading">Update Password</h1>
        <form
          action="/user/update-password"
          method="POST"
          onsubmit="updatePasswordValidate()"
        >
          <label for="oldPassword">Old Password</label
          ><input
            type="password"
            name="oldPassword"
            id="oldPassword"
            placeholder="Enter your current password"
            required
          />
          <label for="newPassword">New Password</label
          ><input
            type="password"
            name="newPassword"
            id="newPassword"
            placeholder="Enter your new password"
            required
          />
          <label for="confirmPassword">Confirm Password</label
          ><input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            placeholder="Re-enter your new password"
            required
          />
          <div
            class="flexRow"
            style="
              display: flex;
              align-items: center;
              height: auto;
              margin: -18px;
            "
          >
            <input
              onclick="showpasswordupdate()"
              type="checkbox"
              style="width: auto; margin: 0"
            />&nbsp&nbsp Show Password
          </div>
          <div class="button-box">
            <div class="button-mask button-mask-slide">
              <input type="submit" value="Update Password" id="" />
            </div>
          </div>
          <!-- <div class="button-box">
            <div class="button-mask button-mask-slide" id="switchtosignup">
              <a
                style="text-decoration: none; color: inherit"
                href="/user/register"
                ><span>Don't have an account ? SignUp</span></a
              >
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </body>
  <script src="/js/darkmode.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/updatepassword/updatepassword.js"></script>
</html>
