<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index/verify.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/img/logo/dsc_logo.png"
    />
    <title>DSC - Email Verification</title>
  </head>
  <body>
    <div class="card">
      <div class="img-avatar">
        <img src="/img/logo/DSC_trans.png" alt="dsc logo" />
      </div>
      <div class="card-text">
        <div class="portada"></div>
        <div class="title-total">
          <div class="title">Email Verification</div>
          <h2>Your Email has been verified.</h2>

          <div class="desc">Click on the button below to log in.</div>
          <div class="actions">
            <button><a href="/dsc/user/login">Log In</a></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
