  
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index/verify.css">
  <title>DSC - Email Verification</title>
</head>
    <body>
        <div class="card">
            <div class="inner-card">
                <div class="content">
                  <div class="verify-logo">
                    <img src="/img/logo/DSC_trans.png" />
                  </div>
                        <p>Your email has been verified.<br />You may log in by clicking the button below.</p>

                        <div class="button">
                          <a href="/dsc/user/login">Login</a>
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>
<!-- partial -->
  
</body>
</html>