<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="DSC NIT Silchar is under Developer Students Club, which is a
    worldwide developers community initiated by Google.The DSC NITS website is open for
    all student developers, who wish to improve their skills.
    Each user has separate profile page, where one can add his/her skills,
    projects and accomplishments." />
  <meta name="keywords" content="DSC, DSC NITS, Error,Developer Student Club NIT Silchar, 
    Developers, NIT Silchar" />
  <link rel="shortcut icon" type="image/x-icon" href="/img/logo/dsc_trans_logo.png" />
  <title>DSC NITS | Registered</title>
  <link rel="stylesheet" href="/css/project-page/project.css" />
  <link rel="stylesheet" href="/css/404.css" />
</head>

<body>
  <div class="background">
    <div class="ground"></div>
  </div>

  <div class="container404">
    <div class="inner-content">
      <h1 class="heading">Web</h1>
      <h2 class="heading2">Blitz !!!</h2>
      <p class="subheading">
        You are successfully registered for Web Blitz.
      </p>
      <br /><br />
      <center>
        <a href="/" id="home-btn"> Home </a>
      </center>
    </div>
  </div>
</body>

</html>