<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website Developers</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/img/logo/dsc_logo.png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/teams/main.css" />
    <link rel="stylesheet" href="/css/teams/tabs.css" />
    <link rel="stylesheet" href="/css/teams/webdev.css" />
    <link rel="stylesheet" href="/css/index/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <!--Navbar Starts-->
    <%-include('partials/navbar')%>
    <!---Navbar Ends-->
    <main>
      <div class="centered">
        <div class="mainone maindsc">
          <p class="discoverone">
            Website<br />
            Developers
          </p>
        </div>

        <p class="discoverone first">Made with ❤️ by developers</p>
      </div>
      <div class="mainbgdsc">
        <img src="/img/illustrations/websitedev.png" alt="" />
      </div>
      <!-- <p style="z-index: 1" class="discovertwo">
        Developers at DSC NITS thrive towards innovations meant for the
        upliftment of our society.Our DSC focuses towards solving real life
        problems by developing meaningful solutions. So let's learn & develop
        for the collective good of our society.
      </p> -->
    </main>

    <!-- Year Wise -->
    <div class="tab-container">
      <!-- Founders -->
      <h3 class="heading2">Developers</h3>
      <div class="category_item">
        <div class="card_holder">
          <!-- Shaswat Priyadarshy -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/Shashwat_Priyadarshy.png"
                alt=""
              />
              <h3 class="name icon">Shashwat Priyadarshy</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img src="/img/teams_potraits/index.png" alt="" />
                  <img src="/img/teams_potraits/git.webp" alt="" />
                  <img src="/img/teams_potraits/link.png" alt="" />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Full Stack Web Developer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button class="btn">Visit Profile</button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a href="https://www.facebook.com/shashwat.priyadarshy.3/">
                      <img src="/img/teams_potraits/index.png" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a href="https://github.com/reverope/">
                      <img src="/img/teams_potraits/git.webp" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a href="https://www.linkedin.com/in/shashwatpriyadarshy/">
                      <img src="/img/teams_potraits/link.png" alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Shaswat Priyadarshy ends -->
          <!-- Kavii Starts -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/Kavii_Suri.jpeg"
                alt=""
              />
              <h3 class="name icon">Kavii Suri</h3>
              <p class="name persue">Developer</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img src="/img/teams_potraits/index.png" alt="" />
                  <img src="/img/teams_potraits/git.webp" alt="" />
                  <img src="/img/teams_potraits/link.png" alt="" />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">ML Engineer, Web Developer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button class="btn">Visit Profile</button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a href="https://www.facebook.com/kavii.suri.54">
                      <img src="/img/teams_potraits/index.png" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a href="https://github.com/KaviiSuri">
                      <img src="/img/teams_potraits/git.webp" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a href="https://www.linkedin.com/in/kavii-suri-a23286194">
                      <img src="/img/teams_potraits/link.png" alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- KaviiEnds -->
          <!-- Vishal Pandey -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/vishal_pandey.jpg"
                alt=""
              />
              <h3 class="name icon">Vishal Pandey</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img src="/img/teams_potraits/index.png" alt="" />
                  <img src="/img/teams_potraits/git.webp" alt="" />
                  <img src="/img/teams_potraits/link.png" alt="" />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Web Developer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button class="btn">Visit Profile</button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a href="https://www.facebook.com/bishal.panday.9275">
                      <img src="/img/teams_potraits/index.png" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a href="https://github.com/vishalpandeyvip">
                      <img src="/img/teams_potraits/git.webp" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      href="https://www.linkedin.com/in/vishal-pandey-63262b1a0/"
                    >
                      <img src="/img/teams_potraits/link.png" alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Vishal Pandey end -->

          <!-- Biley Roy  -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/Biley Roy.jpeg"
                alt=""
              />
              <h3 class="name icon">Biley Roy</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img src="/img/teams_potraits/index.png" alt="" />
                  <img src="/img/teams_potraits/git.webp" alt="" />
                  <img src="/img/teams_potraits/link.png" alt="" />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Web Developer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button class="btn">Visit Profile</button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a href="https://www.facebook.com/biley.roy.5">
                      <img src="/img/teams_potraits/index.png" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a href="https://github.com/biley02">
                      <img src="/img/teams_potraits/git.webp" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a href="https://www.linkedin.com/in/biley-roy-783595199/">
                      <img src="/img/teams_potraits/link.png" alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Biley Roy ends -->

          <!-- Arkadeep Kashyap -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/Arkadeep Kashyap.jpg"
                alt=""
              />
              <h3 class="name icon">Arkadeep Kashyap</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img src="/img/teams_potraits/index.png" alt="" />
                  <img src="/img/teams_potraits/git.webp" alt="" />
                  <img src="/img/teams_potraits/link.png" alt="" />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Web Developer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button class="btn">Visit Profile</button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a href="https://www.facebook.com/arko.kashyap">
                      <img src="/img/teams_potraits/index.png" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a href="https://github.com/kashyaparka">
                      <img src="/img/teams_potraits/git.webp" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      href="https://www.linkedin.com/in/arkadeep-kashyap-8a186b1a7"
                    >
                      <img src="/img/teams_potraits/link.png" alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Arkadeep Kashyap ends -->

          <!-- Millind Barman -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/Milind Barman.jpg"
                alt=""
              />
              <h3 class="name icon">Milind Barman</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img src="/img/teams_potraits/index.png" alt="" />
                  <img src="/img/teams_potraits/git.webp" alt="" />
                  <img src="/img/teams_potraits/link.png" alt="" />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Designer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">EIE<span>Branch</span></p>
              </div>

              <button class="btn">Visit Profile</button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a href="https://m.facebook.com/milind.barman.7">
                      <img src="/img/teams_potraits/index.png" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a href="https://github.com/milibar30">
                      <img src="/img/teams_potraits/git.webp" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      href="https://www.linkedin.com/mwlite/in/milind-barnan-729958166"
                    >
                      <img src="/img/teams_potraits/link.png" alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Millind barman ends -->
        </div>
      </div>
      <h3 class="heading2">Designers</h3>
      <div class="category_item">
        <div class="card_holder">
          <!-- Sarmistha Das -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/Sharmistha Das.jpeg"
                alt=""
              />
              <h3 class="name icon">Sharmistha Das</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img src="/img/teams_potraits/index.png" alt="" />
                  <img src="/img/teams_potraits/git.webp" alt="" />
                  <img src="/img/teams_potraits/link.png" alt="" />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Designer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button class="btn">Visit Profile</button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a href="https://www.facebook.com/smiriti.das.798">
                      <img src="/img/teams_potraits/index.png" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a href="https://github.com/sharmistha412">
                      <img src="/img/teams_potraits/git.webp" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      href="https://www.linkedin.com/in/sharmistha-das-1626311a0"
                    >
                      <img src="/img/teams_potraits/link.png" alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Sarmistha Das ends -->

          <!-- Nihar Jyoti Basistha -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/Nihar Jyoti Basisth.jpg"
                alt=""
              />
              <h3 class="name icon">Nihar Jyoti Basistha</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img src="/img/teams_potraits/index.png" alt="" />
                  <img src="/img/teams_potraits/git.webp" alt="" />
                  <img src="/img/teams_potraits/link.png" alt="" />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Designer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button class="btn">Visit Profile</button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a href="https://www.facebook.com/nihar.basisth.7">
                      <img src="/img/teams_potraits/index.png" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a href="https://github.com/nightfury874">
                      <img src="/img/teams_potraits/git.webp" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      href="https://www.linkedin.com/in/nihar-basisth-121b2319b"
                    >
                      <img src="/img/teams_potraits/link.png" alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- NIhar Jyoti Basistha ends -->

          <!-- Rishav Anand -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/Rishav Anand.jpg"
                alt=""
              />
              <h3 class="name icon">Rishav Anand</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img src="/img/teams_potraits/index.png" alt="" />
                  <img src="/img/teams_potraits/git.webp" alt="" />
                  <img src="/img/teams_potraits/link.png" alt="" />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Designer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">EE<span>Branch</span></p>
              </div>

              <button class="btn">Visit Profile</button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a
                      href="https://www.facebook.com/profile.php?id=100010267725162"
                    >
                      <img src="/img/teams_potraits/index.png" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a href="https://github.com/Rishav1709">
                      <img src="/img/teams_potraits/git.webp" alt=""
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      href="https://www.linkedin.com/in/rishav-anand-156993199"
                    >
                      <img src="/img/teams_potraits/link.png" alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Rishav Anand ends -->
        </div>
      </div>
    </div>
    <section class="lead">
      <div class="lead_container">
        <div class="lead_title">
          <!-- <p>A special thanks to</p>
          <h1>
            <span class="firstleadname"></span>

            Our 3rd & 4th DSC Members
          </h1>
          <br /><br /> -->
          <p>Under the supervision of current 3rd and 4th year DSC members.</p>
          <br />

          <!-- <p class="lead_about">
            Founder, DSC Club <br /><br />
            Alumni of National Institute of Technology, Silchar graduated in the
            year 2019.
          </p> -->
        </div>
      </div>
    </section>
    <!-- Year Wise -->
    <%-include('partials/footer')%>
  </body>

  <script src="/js/navbar.js"></script>
  <script src="/js/darkmode.js"></script>
  <script src="/js/profile/profile.js"></script>
  <script src="/js/a11ytab.js"></script>
</html>
