<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="DSC NIT Silchar is under Developer Students Club, which is a
    worldwide developers community initiated by Google.The DSC NITS website is open for
    all student developers, who wish to improve their skills.
    Each user has separate profile page, where one can add his/her skills,
    projects and accomplishments."
    />
    <meta
      name="keywords"
      content="DSC, DSC NITS, Developer Student Club NIT Silchar, Blogs, 
    Profile, Forum, Events, Developers, NIT Silchar"
    />

    <title>DSC NITS | Website Developers</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/img/logo/dsc_logo.png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/teams/main.css" />
    <link rel="stylesheet" href="/css/teams/tabs.css" />
    <link rel="stylesheet" href="/css/teams/webdev.css" />
    <link rel="stylesheet" href="/css/index/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <!--Navbar Starts-->
    <%-include('partials/navbar')%>
    <!---Navbar Ends-->
    <main>
      <div class="centered">
        <div class="mainone maindsc">
          <p class="discoverone">
            Website<br />
            Developers
          </p>
        </div>

        <p class="discoverone first">Made with ❤️ by developers</p>
      </div>
      <div class="mainbgdsc">
        <img src="/img/illustrations/websitedev.png" alt="website dev team" />
      </div>
      <!-- <p style="z-index: 1" class="discovertwo">
        Developers at DSC NITS thrive towards innovations meant for the
        upliftment of our society.Our DSC focuses towards solving real life
        problems by developing meaningful solutions. So let's learn & develop
        for the collective good of our society.
      </p> -->
    </main>

    <!-- Year Wise -->
    <div class="tab-container">
      <!-- Founders -->
      <h3 class="heading2">Developers</h3>
      <div class="category_item">
        <div class="card_holder">
                     <!-- Ankit Bhaiya  -->
                     <div class="game">
                      <div class="rank">Head</div>
                      <div class="front">
                        <img
                          class="thumbnail"
                          src="/img/teams_potraits/ankit-srivastava.png"
                          alt="Ujjawal Jain"
                        />
                        <h3 class="name icon">Ankit Srivastava</h3>
                        <p class="name persue">Ex Moderator</p>
                        <div class="stats">
                          <p class="viewers icon">Undergraduate</p>
                          <div class="streamers">
                            <img
                              src="/img/teams_potraits/facebook.png"
                              alt="facebook logo"
                            />
                            <img
                              src="/img/teams_potraits/git.webp"
                              alt="github logo"
                            />
                            <img
                              src="/img/teams_potraits/linkedin.png"
                              alt="linkedin logo"
                            />
                          </div>
                        </div>
                      </div>
          
                      <div class="back">
                        <p class="about">Full Stack Web Developer</p>
          
                        <div class="streaming-info">
                          <p class="game-stat">2017-21<span>Batch</span></p>
                          <p class="game-stat">EE<span>Branch</span></p>
                        </div>
          
                        <button
                          class="btn"
                          onclick="window.location.href='';"
                        >
                          Visit Profile
                        </button>
          
                        <div class="streamers">
                          <div class="streamer">
                            <div class="icon">
                              <a
                                target="__blank"
                                href="https://www.facebook.com/ankitsri215/"
                              >
                                <img
                                  src="/img/teams_potraits/facebook.png"
                                  alt="facebook logo"
                              /></a>
                            </div>
                          </div>
          
                          <div class="streamer">
                            <div class="icon">
                              <a
                                target="__blank"
                                href="https://github.com/ank-21"
                              >
                                <img
                                  src="/img/teams_potraits/git.webp"
                                  alt="github logo"
                              /></a>
                            </div>
                          </div>
          
                          <div class="streamer">
                            <div class="icon">
                              <a
                                target="__blank"
                                href="https://www.linkedin.com/in/ankit-srivastava-oa68oa/"
                              >
                                <img
                                  src="/img/teams_potraits/linkedin.png"
                                  alt="linkedin logo"
                              /></a>
                            </div>
                          </div>
                        </div>
                      </div>
          
                      <div class="background"></div>
                    </div>
                    <!-- Ankit Bhaiya  ends -->
           <!-- Ujjawal Bhaiya  -->
           <div class="game">
            <div class="rank">Project Lead</div>
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/ujjawal-jain.jpg"
                alt="Ujjawal Jain"
              />
              <h3 class="name icon">Ujjawal Jain</h3>
              <p class="name persue">Moderator</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img
                    src="/img/teams_potraits/facebook.png"
                    alt="facebook logo"
                  />
                  <img
                    src="/img/teams_potraits/git.webp"
                    alt="github logo"
                  />
                  <img
                    src="/img/teams_potraits/linkedin.png"
                    alt="linkedin logo"
                  />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Full Stack Web Developer</p>

              <div class="streaming-info">
                <p class="game-stat">2018-22<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button
                class="btn"
                onclick="window.location.href='/user/public-profile/ujjawal-1999';"
              >
                Visit Profile
              </button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://www.facebook.com/jainujjawal1999"
                    >
                      <img
                        src="/img/teams_potraits/facebook.png"
                        alt="facebook logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://github.com/ujjawal-1999"
                    >
                      <img
                        src="/img/teams_potraits/git.webp"
                        alt="github logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://www.linkedin.com/in/jainujjawal1999/"
                    >
                      <img
                        src="/img/teams_potraits/linkedin.png"
                        alt="linkedin logo"
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Ujjawal Bhaiya  ends -->
          <!-- Sameer bhaiya  -->
          <div class="game">
            <div class="rank">Project Lead</div>
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/sameer-shrivastava.jpg"
                alt="Sameer Shrivastava"
              />
              <h3 class="name icon">Sameer Shrivastava</h3>
              <p class="name persue">Moderator</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img
                    src="/img/teams_potraits/facebook.png"
                    alt="facebook logo"
                  />
                  <img
                    src="/img/teams_potraits/git.webp"
                    alt="github logo"
                  />
                  <img
                    src="/img/teams_potraits/linkedin.png"
                    alt="linkedin logo"
                  />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Full Stack Web Developer</p>

              <div class="streaming-info">
                <p class="game-stat">2018-22<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button
                class="btn"
                onclick="window.location.href='/user/public-profile/sameer46';"
              >
                Visit Profile
              </button>
              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://www.facebook.com/sameershrivastava46/"
                    >
                      <img
                        src="/img/teams_potraits/facebook.png"
                        alt="facebook logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://github.com/knight-18/"
                    >
                      <img
                        src="/img/teams_potraits/git.webp"
                        alt="github logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://www.linkedin.com/in/sameer-shrivastava-b648a2175/"
                    >
                      <img
                        src="/img/teams_potraits/linkedin.png"
                        alt="linkedin logo"
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Sameer bhaiya ends -->
          <!-- Shaswat Priyadarshy -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/shashwat-priyadarshy.png"
                alt="Shashwat Priyadarshy"
              />
              <h3 class="name icon">Shashwat Priyadarshy</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img
                    src="/img/teams_potraits/facebook.png"
                    alt="facebook logo"
                  />
                  <img src="/img/teams_potraits/git.webp" alt="github logo" />
                  <img
                    src="/img/teams_potraits/linkedin.png"
                    alt="linkedin logo"
                  />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Web Developer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button
                class="btn"
                onclick="window.location.href='/user/public-profile/iamthedarwin';"
              >
                Visit Profile
              </button>
              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://www.facebook.com/shashwat.priyadarshy.3/"
                    >
                      <img
                        src="/img/teams_potraits/facebook.png"
                        alt="facebook logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a target="__blank" href="https://github.com/reverope/">
                      <img src="/img/teams_potraits/git.webp" alt="github logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://www.linkedin.com/in/shashwatpriyadarshy/"
                    >
                      <img
                        src="/img/teams_potraits/linkedin.png"
                        alt="linkedin logo"
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Shaswat Priyadarshy ends -->
          <!-- Kavii Starts -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/kavii-suri.jpeg"
                alt="Kavii Suri"
              />
              <h3 class="name icon">Kavii Suri</h3>
              <p class="name persue">Developer</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img
                    src="/img/teams_potraits/facebook.png"
                    alt="facebook logo"
                  />
                  <img src="/img/teams_potraits/git.webp" alt="github logo" />
                  <img
                    src="/img/teams_potraits/linkedin.png"
                    alt="linkedin logo"
                  />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Web Developer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button
                class="btn"
                onclick="window.location.href='/user/public-profile/kavii_suri';"
              >
                Visit Profile
              </button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://www.facebook.com/kavii.suri.54"
                    >
                      <img
                        src="/img/teams_potraits/facebook.png"
                        alt="facebook logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a target="__blank" href="https://github.com/KaviiSuri">
                      <img src="/img/teams_potraits/git.webp" alt="github logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://www.linkedin.com/in/kavii-suri-a23286194"
                    >
                      <img
                        src="/img/teams_potraits/linkedin.png"
                        alt="linkedin logo"
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- KaviiEnds -->
          <!-- Vishal Pandey -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/vishal-pandey.jpg"
                alt="Vishal Pandey"
              />
              <h3 class="name icon">Vishal Pandey</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img
                    src="/img/teams_potraits/facebook.png"
                    alt="facebook logo"
                  />
                  <img src="/img/teams_potraits/git.webp" alt="github logo" />
                  <img
                    src="/img/teams_potraits/linkedin.png"
                    alt="linkedin logo"
                  />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Web Developer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button
                class="btn"
                onclick="window.location.href='/user/public-profile/vishalpandeynits';"
              >
                Visit Profile
              </button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://www.facebook.com/bishal.panday.9275"
                    >
                      <img
                        src="/img/teams_potraits/facebook.png"
                        alt="facebook logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://github.com/vishalpandeyvip"
                    >
                      <img src="/img/teams_potraits/git.webp" alt="github logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      href="https://www.linkedin.com/in/vishal-pandey-63262b1a0/"
                    >
                      <img
                        src="/img/teams_potraits/linkedin.png"
                        alt="linkedin logo"
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Vishal Pandey end -->

          <!-- Biley Roy  -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/biley-roy.jpeg"
                alt="Biley Roy"
              />
              <h3 class="name icon">Biley Roy</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img
                    src="/img/teams_potraits/facebook.png"
                    alt="facebook logo"
                  />
                  <img src="/img/teams_potraits/git.webp" alt="github logo" />
                  <img
                    src="/img/teams_potraits/linkedin.png"
                    alt="linkedin logo"
                  />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Web Developer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button
                class="btn"
                onclick="window.location.href='/user/public-profile/biley02';"
              >
                Visit Profile
              </button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://www.facebook.com/biley.roy.5"
                    >
                      <img
                        src="/img/teams_potraits/facebook.png"
                        alt="facebook logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a target="__blank" href="https://github.com/biley02">
                      <img src="/img/teams_potraits/git.webp" alt="github logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://www.linkedin.com/in/biley-roy-783595199/"
                    >
                      <img
                        src="/img/teams_potraits/linkedin.png"
                        alt="linkedin logo"
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Biley Roy ends -->

          <!-- Arkadeep Kashyap -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/arkadeep-kashyap.jpg"
                alt="Arkadeep Kashyap"
              />
              <h3 class="name icon">Arkadeep Kashyap</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img
                    src="/img/teams_potraits/facebook.png"
                    alt="facebook logo"
                  />
                  <img src="/img/teams_potraits/git.webp" alt="github logo" />
                  <img
                    src="/img/teams_potraits/linkedin.png"
                    alt="linkedin logo"
                  />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Web Developer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button
                class="btn"
                onclick="window.location.href='/user/public-profile/kashyaparka';"
              >
                Visit Profile
              </button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://www.facebook.com/arko.kashyap"
                    >
                      <img
                        src="/img/teams_potraits/facebook.png"
                        alt="facebook logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a target="__blank" href="https://github.com/kashyaparka">
                      <img src="/img/teams_potraits/git.webp" alt="github logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      href="https://www.linkedin.com/in/arkadeep-kashyap-8a186b1a7"
                    >
                      <img
                        src="/img/teams_potraits/linkedin.png"
                        alt="linkedin logo"
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Arkadeep Kashyap ends -->

          <!-- Millind Barman -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/milind-barman.jpg"
                alt="Milind Barman"
              />
              <h3 class="name icon">Milind Barman</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img
                    src="/img/teams_potraits/facebook.png"
                    alt="facebook logo"
                  />
                  <img src="/img/teams_potraits/git.webp" alt="github logo" />
                  <img
                    src="/img/teams_potraits/linkedin.png"
                    alt="linkedin logo"
                  />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Web Developer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">EIE<span>Branch</span></p>
              </div>

              <button
                class="btn"
                onclick="window.location.href='/user/public-profile/milibar';"
              >
                Visit Profile
              </button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://m.facebook.com/milind.barman.7"
                    >
                      <img
                        src="/img/teams_potraits/facebook.png"
                        alt="facebook logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a target="__blank" href="https://github.com/milibar30">
                      <img src="/img/teams_potraits/git.webp" alt="github logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      href="https://www.linkedin.com/mwlite/in/milind-barnan-729958166"
                    >
                      <img
                        src="/img/teams_potraits/linkedin.png"
                        alt="linkedin logo"
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Millind barman ends -->
        </div>
      </div>
      <h3 class="heading2">Designers</h3>
      <div class="category_item">
        <div class="card_holder">
          <!-- Sarmistha Das -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/sharmistha-das.jpeg"
                alt="Sharmistha Das"
              />
              <h3 class="name icon">Sharmistha Das</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img
                    src="/img/teams_potraits/facebook.png"
                    alt="facebook logo"
                  />
                  <img src="/img/teams_potraits/git.webp" alt="github logo" />
                  <img
                    src="/img/teams_potraits/linkedin.png"
                    alt="linkedin logo"
                  />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Designer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button
                class="btn"
                onclick="window.location.href='/user/public-profile/sharmistha412';"
              >
                Visit Profile
              </button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://www.facebook.com/smiriti.das.798"
                    >
                      <img
                        src="/img/teams_potraits/facebook.png"
                        alt="facebook logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a target="__blank" href="https://github.com/sharmistha412">
                      <img src="/img/teams_potraits/git.webp" alt="github logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      href="https://www.linkedin.com/in/sharmistha-das-1626311a0"
                    >
                      <img
                        src="/img/teams_potraits/linkedin.png"
                        alt="linkedin logo"
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Sarmistha Das ends -->

          <!-- Nihar Jyoti Basistha -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/nihar-jyoti-basisth.jpg"
                alt="Nihar Jyoti Basistha"
              />
              <h3 class="name icon">Nihar Jyoti Basistha</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img
                    src="/img/teams_potraits/facebook.png"
                    alt="facebook logo"
                  />
                  <img src="/img/teams_potraits/git.webp" alt="github logo" />
                  <img
                    src="/img/teams_potraits/linkedin.png"
                    alt="linkedin logo"
                  />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Designer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">CSE<span>Branch</span></p>
              </div>

              <button
                class="btn"
                onclick="window.location.href='/user/public-profile/nightfury';"
              >
                Visit Profile
              </button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a
                      target="__blank"
                      href="https://www.facebook.com/nihar.basisth.7"
                    >
                      <img
                        src="/img/teams_potraits/facebook.png"
                        alt="facebook logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a target="__blank" href="https://github.com/nightfury874">
                      <img src="/img/teams_potraits/git.webp" alt="github logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      href="https://www.linkedin.com/in/nihar-basisth-121b2319b"
                    >
                      <img
                        src="/img/teams_potraits/linkedin.png"
                        alt="linkedin logo"
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- NIhar Jyoti Basistha ends -->

          <!-- Rishav Anand -->
          <div class="game">
            <div class="front">
              <img
                class="thumbnail"
                src="/img/teams_potraits/rishav-anand.jpg"
                alt="Rishav Anand"
              />
              <h3 class="name icon">Rishav Anand</h3>
              <p class="name persue">Member</p>
              <div class="stats">
                <p class="viewers icon">Undergraduate</p>
                <div class="streamers">
                  <img
                    src="/img/teams_potraits/facebook.png"
                    alt="facebook logo"
                  />
                  <img src="/img/teams_potraits/git.webp" alt="github logo" />
                  <img
                    src="/img/teams_potraits/linkedin.png"
                    alt="linkedin logo"
                  />
                </div>
              </div>
            </div>

            <div class="back">
              <p class="about">Designer</p>

              <div class="streaming-info">
                <p class="game-stat">2019-23<span>Batch</span></p>
                <p class="game-stat">EE<span>Branch</span></p>
              </div>

              <button
                class="btn"
                onclick="window.location.href='/user/public-profile/rishav17';"
              >
                Visit Profile
              </button>

              <div class="streamers">
                <div class="streamer">
                  <div class="icon">
                    <a
                      href="https://www.facebook.com/profile.php?id=100010267725162"
                    >
                      <img
                        src="/img/teams_potraits/facebook.png"
                        alt="facebook logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a target="__blank" href="https://github.com/Rishav1709">
                      <img src="/img/teams_potraits/git.webp" alt="github logo"
                    /></a>
                  </div>
                </div>

                <div class="streamer">
                  <div class="icon">
                    <a
                      href="https://www.linkedin.com/in/rishav-anand-156993199"
                    >
                      <img
                        src="/img/teams_potraits/linkedin.png"
                        alt="linkedin logo"
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="background"></div>
          </div>
          <!-- Rishav Anand ends -->
        </div>
      </div>
    </div>
    <!-- <section class="lead">
      <div class="lead_container">
        <div class="lead_title">
          <p>Under the supervision of current 3rd and 4th year DSC members.</p>
          <br />
        </div>
      </div>
    </section> -->
    <!-- Year Wise -->
    <%-include('partials/footer')%>
  </body>

  <script src="/js/navbar.js"></script>
  <script src="/js/darkmode.js"></script>
  <script src="/js/profile/profile.js"></script>
  <script src="/js/a11ytab.js"></script>
</html>
