@import url("../public/css/blogs/fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  /*      Theme colors        */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;
  --yellow-tags:#f8e682;
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --blogfont: "Open Sans", sans-serif;
}

/* ---------------- Global Classes ---------------*/

a {
  text-decoration: none;
  color: var(--text-gray);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: var(--blogfont);
  font-size: 2.2rem;
  color: var(--Grey-dark-1);
}

h2 {
  font-family: var(--blogfont);
  font-size: 2rem;
  color: var(--Grey-dark-1);
}

h3 {
  font-family: var(--blogfont);
  font-size: 1.3rem;
}
h4 {
  font-family: var(--blogfont);
  font-size: 1.1rem;
}

button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--blogfont);
  cursor: pointer;
}

span {
  font-family: var(--blogfont);
}

.container {
  margin: 0 5vw;
}

section {
  background-color: var(--primary-light) !important;
}

.text-gray {
  color: var(--text-gray);
}

p {
  font-family: var(--Lexend);
  color: var(--Grey-dark-2);
}

/* ------x------- Global Classes -------x-------*/

/* popular post css */

#popular-post {
  width: 25vw;
  background-color: var(--primary-light) !important;
  padding: 2rem;
  border-radius: 20px;
}

#heading {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6em;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.popular-posts .content {
  justify-content: flex-end;
  font-family: "Times New Roman", Times;
}

.popular-posts {
  display: flex;
  margin-bottom: 20px;
}

.popular-posts .title {
  font-size: 1.2em;
  /* line-height: 2em; */
  margin-bottom: 5px;
}

.content .intro {
  color: #717171;
  font-family: "Times New Roman", Times;
  font-size: 1.1em;
}

.content .date {
  color: #717171;
  font-size: 0.8em;
  font-family: "Times New Roman", Times;
}
.content .topic {
  font-family: "Open Sans", sans-serif;
}
.content span {
  color: var(--Grey-dark-1) !important;
}
.display-tags
{
  border: none;
  border-radius: 6rem;
  margin-top: 0.75rem;
  padding: 0.15rem 1.5rem ;
  font-size: 1rem;
  font-family: var(--blogfont);
}

.numbering {
  font-style: normal;
  font-weight: bolder;
  font-size: 1.3em;
  /* margin: 10px 10px 10px 5px; */
  text-align: justify;
  color: #9a9a9a;
  margin-right: 3px;
}

@media screen and (max-width: 415px) {
  #popular-post {
    width: 100%;
  }
  .popular-posts {
    width: 95%;
  }
}

#popular-post {
  /* width: 25vw; */
  width: 100%;
  justify-self: center;
  padding: 1rem;
  margin-top: 3rem;
  font-family: "Times New Roman", Times;
}

#popular-post .intro {
  /* width: 25vw; */
  justify-content: flex-start;
}

section.popular {
  justify-self: end;
}

/* Cards css */

main {
  padding-top: 2rem;
  display: grid;
  background-color: var(--primary-light) !important;
  grid-template-areas: "cards search" "cards  popular";
  grid-template-columns: 4fr 1fr;
  padding-left: 2%;
  padding-right: 2%;
  grid-template-rows: fit-content(200px) 1fr;
}

section.cards {
  grid-area: cards;
}

section.blog-search {
  grid-area: search;
}

section.popular {
  grid-area: popular;
}

ul.blog-search-results {
  color: white;
  display: none;
  list-style-type: none;
}

ul.blog-search-results li {
  color: white;
}

.blog-search button {
  background: #1246cd;
  height: 3em;
  color: white;
  border-radius: 20px;
  margin: 0;
  padding-left: 1em;
  width: 120px;
  border: 1px solid #1246cd;
}

.blog-search .inner-search {
  width: 95%;
  display: flex;
  margin-top: 1rem;
  padding: 2em;
  border-radius: 10px;
  background-color: var(--Grey-light-1);
  justify-content: space-around;
  align-content: center;
  box-shadow: 0px 19px 96px -41px rgba(0, 0, 0, 0.35);
}

@media (min-width: 1200px) {
  .inner-search {
    width: 100%;
  }
}

.blog-search .fa-filter {
  color: white;
}

.fndp {
  border: 1px solid;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-family: sans-serif;
  border-radius: 3px;
  width: fit-content;
  transition: all 0.2s;
  color: var(--Grey-dark-1);
  background-color: var(--primary-light);
}

.fndp:hover {
  cursor: pointer;
  color: var(--Grey-light-1);
  background-color: var(--Grey-dark-1);
  border-color: var(--Grey-dark-1);
}

.blog-search-row {
  display: flex;
  justify-content: space-between;
}

#card-container {
  /* border-radius: 5px; */
  border-radius: 6%;
}

@media (max-width: 1300px) {
  main {
    grid-template-areas: "search" "cards" "popular";
  }
  .popular {
    width: 100vw;
  }
  #popular-post {
    width: 90%;
    margin-bottom: 3rem;
  }
  .card-image {
    width: 100%;
    min-width: unset;
  }
  section.cards {
    width: 95vw;
  }
}

.sidebarblog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  align-items: center;
  padding: 1rem;
}
.moreblogoption {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 5rem;
}
.dropdownblog {
  position: relative;
  display: inline-block;
}

.dropdownblog-content {
  display: none;
  position: absolute;
  background-color: inherit;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  right: -200%;
}
.dropdownblog-content a {
  font-size: 12px;
  color: var(--Grey-dark-2);
  padding: 6px 0;
}
.dropdownblog:hover .dropdownblog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.fa-heart {
  transition: all 0.2s;
}

.fa-heart:hover {
  opacity: 0.6;
}

@media (max-width: 750px) {
  .cards .card .content {
    width: 70%;
  }
  .moreblogoption {
    width: auto;
    flex-direction: column;
  }
  .dropdownblog-content {
    right: -180%;
  }
}
