@import url("../public/css/blogs/fonts.css");
html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  /*      Theme colors        */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;
  /* gradient color   */
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  /*      theme font-family   */
  /* --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive; */
  --blogfont: "Arial", "Sans-serif";
}


/* ---------------- Global Classes ---------------*/

a {
  text-decoration: none;
  color: var(--text-gray);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: var(--blogfont);
  font-size: 2.5rem;
}

h2 {
  font-family: var(--blogfont);
}

h3 {
  font-family: var(--blogfont);
  font-size: 1.3rem;
}

button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--blogfont);
  cursor: pointer;
}

span {
  font-family: var(--blogfont);
}

.container {
  margin: 0 5vw;
}

.text-gray {
  color: var(--text-gray);
}

p {
  font-family: var(--Lexend);
  color: var(--text-light);
}


/* ------x------- Global Classes -------x-------*/


/* popular post css */

#popular-post {
  width: 25vw;
  background: #F8F8FF;
  padding: 10px;
  font-family: 'Fira Sans', sans-serif;
}

#heading {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6em;
  text-align: center;
  color: #4E4E4E;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.popular-posts .content {
  justify-content: flex-end;
}

.popular-posts {
  display: flex;
  margin-bottom: 20px;
}

.popular-posts .title {
  font-size: 1.5em;
  line-height: 0.9em;
}

.content .intro {
  color: #717171;
}

.content .date {
  color: #717171;
  font-size: 0.8em;
}

.numbering {
  font-style: normal;
  font-weight: bolder;
  font-size: 1.9em;
  margin: 10px 15px 10px 5px;
  text-align: justify;
  color: #9A9A9A;
}

@media screen and (max-width: 415px) {
  #popular-post {
    width: 100%;
  }
  .popular-posts {
    width: 95%;
  }
}


/* Popular posts css ends */


/* Cards css */

.card-container {
  margin: 5em auto;
  box-shadow: 0px 19px 96px -41px rgba(0, 0, 0, 0.35);
  border-radius: 45px;
  display: flex;
  max-width: 1000px;
  padding: 2em;
  justify-content: space-between;
  width: 90%;
}

.card-container .author>img:nth-child(1) {
  width: 5em;
  border-radius: 50%;
  height: 5em;
}

.card-container h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.card-container .author>h3:nth-child(2) {
  margin: 0;
}

.card-container .card-details {
  margin-left: 1em;
}

.card-details {
  padding-right: 1%;
  padding-left: 1%;
}

@media (min-width:1300px) {
  .card-details {
    padding-right: 2%;
    padding-left: 1%;
  }
}

@media (max-width:1300px) {
  .card-details {
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 2%;
  }
}

.card-image {
  /* display: inline-block; */
  position: relative;
  overflow: hidden;
  height: 30rem;
  float: left;
  width: 250%;
  border-radius: 30px;
  /* margin: 1rem; */
}

.card-img {
  transition: transform 0.3s ease-in-out;
  object-fit: contain;
  object-position: center;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 0;
  object-fit: contain;
  display: inline-block;
}

.card-img :hover {
  transform: scale(1.2);
}

.card-container img {
  width: 100%;
  height: 100%;
}

.card-image:hover .card-info {
  transform: translateX(0);
}

.card-image:hover img {
  transition: all 0.8s ease-in-out;
}

.card-image:hover img {
  transform: scale(1.2, 1.2);
}

.card-details {
  display: grid;
  grid-template-areas: "text text""author buttons";
}

.card-text {
  grid-area: text;
}

.card-author {
  grid-area: author;
  align-self: end;
  padding-bottom: 1em;
}

.card-buttons {
  grid-area: buttons;
  align-self: end;
  padding: 1em;
}

.card-buttons button {
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
}

.card-author>img:nth-child(1) {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

.card-author>h3:nth-child(2) {
  margin: 0;
}

@media (max-width: 1300px) {
  .card-container {
    flex-direction: column;
    width: 80%;
  }
}

#popular-post {
  /* width: 25vw; */
  width: 100%;
  justify-self: center;
  padding-right: 1%;
  padding-left: 1%;
}

#popular-post .intro {
  /* width: 25vw; */
  justify-content: flex-start;
}

section.popular {
  justify-self: end;
}


/* Cards css */

main {
  display: grid;
  background: #F8F8FF;
  grid-template-areas: "cards search""cards  popular";
  grid-template-columns: 4fr 1fr;
  padding-left: 2%;
  padding-right: 2%;
}

section.cards {
  grid-area: cards;
}

section.blog-search {
  grid-area: search;
}

section.popular {
  grid-area: popular
}

ul.blog-search-results {
  color: white;
  display: none;
  list-style-type: none;
}

ul.blog-search-results li {
  color: white;
}

.blog-search button {
  background: #1246CD;
  height: 3em;
  color: white;
  border-radius: 20px;
  margin: 0;
  padding-left: 1em;
  width: 120px;
  border: 1px solid #1246CD;
}

.blog-search .inner-search {
  margin: 2em;
  padding: 2em;
  border-radius: 40px;
  background-color: #4478FF;
  box-shadow: 0px 19px 96px -41px rgba(0, 0, 0, 0.35);
}

.blog-search .fa-filter {
  color: white;
}

#search2 {
  border-radius: 45px;
  height: 2em;
  padding-left: 1em;
}

.blog-search-row {
  display: flex;
  justify-content: space-between;
}

#card-container {
  /* border-radius: 5px; */
  border-radius: 6%;
}

@media (max-width: 1300px) {
  main {
    grid-template-areas: "search""cards""popular";
  }
  .popular {
    width: 100%;
  }
  #popular-post {
    width: 100%;
  }
  .card-image {
    width: 100%;
  }
  section.cards {
    width: 100vw;
  }
}

@media (max-width: 650px) {
  main {
    margin-top: 4em;
  }
}