body {
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    color: var(--Grey-dark-1);
    background-color: var(--primary-light);
}

.head {
    font-family: "Times New Roman", Times;
    margin: 1rem 0;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 800px) {
    .head {
        margin-top: 90px;
    }
}

#card-container {
    /* box-shadow: 0 15px 30px 1px rgba(241, 241, 241, 0.31); */
    color: var(--Grey-dark-1);
    background-color: var(--Grey-light-1);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    width: 60%;
    padding: 10px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-person {
    display: flex;
    justify-content: center;
}

.card-product-details {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 30px;
    width: 40%;
    font-family: "Times New Roman", Times;
    font-size: 20px;
}

#card-container .card-product-details>p {
    font-family: "Times New Roman", Times;
    text-align: center;
    /*  font-size: 20px;*/
    color: #7d7d7d;
}


/* the Button */

.card-btn {
    transform: translateY(0px);
    transition: 0.3s linear;
    background: #49c608;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;
}

.card-btn:hover {
    transform: translateY(-4px);
}


/* product image  */

.card-product-image {
    /* display: inline-block; */
    position: relative;
    overflow: hidden;
    height: 30rem;
    float: left;
    width: 50%;
    border-radius: 30px;
    margin: 1rem;
}

.card-prod-img {
    transition: transform 0.3s ease-in-out;
    object-fit: contain;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-top: 0;
    object-fit: contain;
    display: inline-block;
}

.card-prod-img :hover {
    transform: scale(1.2);
}

#card-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-product-image:hover .card-info {
    transform: translateX(0);
}

.card-product-image:hover img {
    transition: all 0.8s ease-in-out;
}

.card-product-image:hover img {
    transform: scale(1.2, 1.2);
}

.card-author {
    margin-top: 10px;
    width: 67px;
    height: 67px;
}

.card-author img {
    border-radius: 50%;
}

@media (max-width: 800px) {
    .card-product-details {
        width: 95%;
        padding: 10px;
        text-align: center;
        align-content: center;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    #card-container {
        flex-direction: column;
        width: 95%;
        height: fit-content;
        margin: auto;
        margin-top: 1.4rem;
    }
    .card-product-image {
        width: 90%;
        display: inline-block;
        border-radius: 10px;
    }
    @media (min-width: 800px) {
        .card-product-details {
            width: 40%;
            text-align: center;
            height: -webkit-fill-available;
            margin-top: 10%;
        }
        #card-container {
            width: 90%;
            height: 70vh;
            display: flex;
        }
        .card-product-details p {
            font-family: "Times New Roman", Times;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 35px;
            color: #000000;
        }
    }
}