@import url("../public/css/blogs/fonts.css");
@import url("../public/css/blogs/Style.css");
@import url("https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
body {
  background-color: var(--primary-light) !important;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main {
  min-height: 90vh;
}
.cards .card {
  width: 65%;
}
.cards .card .content .topic {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}
.cards .card .socialactivity img {
  width: 5rem;
}
.cards .card .content .images {
  width: 100%;
}
.cards .card .content .images .image-container img {
  width: 100% !important;
}
.cards .card .content {
  width: 80% !important;
  font-family: "Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial,sans-serif";
}
.cards .card .content .description {
  padding: 2rem 0;
  font-size: 1.1rem;
  font-family: "Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial,sans-serif";
}
.display-tags
{
  border: none;
  border-radius: 6rem;
  margin-top: 0.75rem;
  padding: 0.15rem 1.5rem ;
  font-size: 1rem;
  font-family: var(--blogfont);
}

.ql-syntax {
  width: 95%;
  word-wrap: anywhere;
  content: counters;
  white-space: pre-wrap;
  background: var(--Grey-light-2);
  margin: 1em 0;
  padding: 5px;
}

@media (max-width: 1300px) {
  .cards .card {
    width: 75%;
  }
}
@media (max-width: 700px) {
  .cards {
    width: 100vw;
  }
  .cards .card {
    width: 95%;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .cards .card p {
    text-align: justify;
  }
  .cards .card .socialactivity,
  .content {
    width: 86%;
    align-items: center;
  }
  .moredetails {
    width: 100%;
    flex-direction: row !important;
  }
}
.sidebarblog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  align-items: center;
  padding: 1rem;
}
.moreblogoption {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 5rem;
}
.dropdownblog {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdownblog-content {
  display: none;
  position: absolute;
  background-color: inherit;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  right: -200%;
}
.dropdownblog-content a {
  font-size: 12px;
  color: var(--Grey-dark-2);
  padding: 6px 0;
}
.dropdownblog:hover .dropdownblog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.fa-heart {
  transition: all 0.2s;
}

.fa-heart:hover {
  opacity: 0.6;
}

@media (max-width: 750px) {
  .cards .card .content {
    width: 70%;
  }
  .moreblogoption {
    width: 66%;
  }
  .cards .card .socialactivity {
    height: 10rem;
  }
  .dropdownblog-content {
    right: -424%;
  }
  .sidebarblog {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
