@import url("../public/css/blogs/fonts.css");
@import url("../public/css/blogs/Style.css");
@import url("https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web");
body {
  background-color: var(--primary-light) !important;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.rectangle-2 {
  display: flex;
  justify-content: center;
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  color: var(--Grey-dark-1) !important;
  position: relative;
  align-items: center;
  align-content: center;
  text-align: center;
}

.card-author {
  margin-top: 10px;
  /* width: 67px;
    height: 67px; */
}

.card-author img {
  border-radius: 50%;
  /* height: inherit;
    width: inherit; */
  object-fit: cover;
  width: 67px;
  height: 67px;
}

.card-person {
  display: flex;
}

.name {
  color: var(--Grey-dark-1) !important;
  float: right;
}

main {
  width: 60%;
  margin: 1rem 0;
  padding: 2rem 0;
  background-color: var(--Grey-light-1) !important;
  box-shadow: 0px 19px 96px -41px rgba(0, 0, 0, 0.35);
}
i {
  color: var(--Grey-dark-1);
}

.content {
  width: 90%;
  margin: auto;
  font-family: Product Sans;
  font-style: normal;
  color: var(--Grey-dark-1) !important;
  font-size: 1.2rem;
}

.card-img {
  overflow-y: hidden;
  border-radius: 10px;
}

.author {
  display: flex;
  flex-wrap: wrap;
}

.card-img img {
  width: 100%;
  z-index: -1;
  /* height: 60vh; */
  object-fit: contain;
  border-radius: 10px;
}

.name {
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.fa {
  font-size: 30px;
}

@media (max-width: 800px) {
  .main {
    margin-top: 70px;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .name {
    float: none;
    padding: 0;
  }
  .main h1 {
    font-size: 30px;
  }
  .card-person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .card-author {
    margin: 2rem auto;
  }
  .share {
    margin-top: 10px;
    justify-content: center;
    display: flex;
  }
  .rectangle-2 h1 {
    margin-top: 10px;
    padding-top: 20px;
  }
  .card-img {
    height: auto;
  }
  .author {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }
  .fa {
    font-size: 24px;
  }
}

@media (min-width: 800px) {
  main {
    margin: 0;
    padding-right: 2%;
    padding-left: 2%;
  }
  .name {
    float: right;
    margin-top: 18px;
  }
  .author {
    width: 80%;
    margin: auto;
  }
  .card-person {
    width: 80%;
    margin: auto;
  }
  .content {
    margin-top: 10px;
    padding-bottom: 30px;
  }
  .card-person {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* justify-content: center; */
    width: 100%;
  }
}

@media (max-width: 1000px) {
  main {
    margin-left: 20%;
    margin-right: 20%;
  }
}
