:root {
  --color-primary: #ff184a;
  --white: #ffffff;
  --navButtons: #123d82;
  --greany: #1ebea5;
  --primary-light: #ffffff;
  --primary-dark: #f5f5f5;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999;
  --Grey-dark-4: rgb(27, 27, 27);
  --Grey-dark-5: rgb(61, 61, 61);
  --loginButton: #2b65ec;

  //   --color-primary: #ff184a;
  //   --white: #ffffff;
  //   --navButtons: #123d82;
  //   --greany: #1ebea5;
  //   --primary-light: #1f1f1f;
  //   --primary-dark: #141414;
  //   --Grey-light-1: #303030;
  //   --Grey-light-2: rgb(117, 117, 117);
  //   --Grey-light-3: #b6b6b6;
  //   --Grey-light-4: #ccc;
  //   --Grey-dark-1: rgb(238, 238, 238);
  //   --Grey-dark-2: rgb(218, 218, 218);
  //   --Grey-dark-3: #999;
  //   --Grey-dark-4: rgb(252, 252, 252);
  //   --Grey-dark-5: rgb(240, 240, 240);
  //   --loginButton: #2b65ec;
}
