.nav_main {
  display: flex;
  flex-direction: column;
  background-color: var(--Grey-dark-4);
  color: var(--white);
  width: 100%;
}

.nav_mainmenu {
  display: flex;
  flex-direction: row;
  padding-top: 4vh;
  justify-content: space-around;
  align-items: center;
}

.contentnav {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  color: var(--white);
  width: max-content;
}

.divider {
  width: 1px;
  align-self: center;
  height: 15rem;
  margin: 0 2rem;
  border-right: 2px solid var(--Grey-dark-5);
}

.nav_column_left {
  width: 100%;
  padding: 2rem 0;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.nav_column {
  width: 100%;
  padding: 2rem 0;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.nav_heading {
  font-family: var(--global-font);
  font-size: 1.4rem !important;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
  font-weight: 500;
  opacity: 0.6;
  color: var(--Grey-light-1);
}

.x {
  cursor: pointer;
  font-family: var(--global-font);
  font-size: 1rem !important;
  padding: 0.25rem 0;
  font-weight: 500;
  transition: all 0.2s;
  color: var(--primary-light);
}

.x:hover {
  opacity: 0.6;
}

.nav_column a:link,
.nav_column a:visited {
  font-family: var(--global-font);
  padding: 0.5rem 0;
  text-decoration: none !important;
  font-size: 1rem !important;
  transition: all 0.2s;
  color: var(--primary-light);
}

.nav_column a:link:hover,
.nav_column a:visited:hover {
  color: var(--Grey-dark-3);
}

.nav_column h3 {
  font-family: var(--global-font);
  font-size: 1rem !important;
  padding: 0.5rem 0;
  font-weight: 100;
}

.nav_column_left a:link,
.nav_column_left a:visited {
  color: var(--white);
  font-family: var(--global-font);
  padding: 0.5rem 0;
  text-decoration: none !important;
  font-size: 1rem !important;
  transition: all 0.2s;
}

.nav_column_left a:link:hover,
.nav_column_left a:visited:hover {
  color: var(--Grey-dark-3);
}

.nav_column_left h3 {
  font-family: var(--global-font);
  font-size: 1rem !important;
  padding: 0.5rem 0;
}

.nav_google {
  display: flex;
  flex-direction: row;
  /* padding: 1rem; */
  /* height: 12rem; */
  justify-content: space-around;
  align-items: center;
}

.nav-banner {
  width: 30%;
}

.fadedText {
  padding-top: 1rem;
  font-size: 1em !important;
  opacity: 0.6;
}

.footimg {
  width: 30%;
}

.footer-image {
  width: 30%;
}

@media screen and (max-width: 700px) {
  .contentnav {
    margin: 1rem;
  }
  .nav-banner {
    width: 50%;
  }
  .footimg {
    width: 90%;
  }
  .fadedText {
    font-size: 0.6rem !important;
  }
  .footer-image {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .nav_column {
    flex-direction: column;
  }
  .divider {
    display: none;
  }
  .contentnav {
    width: 100%;
    align-self: center;
    text-align: center;
    margin: 1rem 0;
  }
}
