.footer{
  width:100%;
  background: midnightblue;
  display:block;
  
  }
  
  .inner-footer{
    width:100%;
    height: 310px;
    margin:auto auto;
    padding:20px 10px;
    display:inline-flex;
    box-sizing:border-box;
    justify-content:center;
  
  }
  
  
  .footer-items{
    width:33.3%;
    height: 100%;
    padding:0px 20px;
    box-sizing:border-box;
  
  }
  
  .footer-items h1{
  font-size:20px;
  padding: 10px 0px;
    color:whitesmoke;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
      justify-content: center;
    text-align: center;
    align-items: center;
  
  }

  .image{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 12% 0px;
  }

  .logo{
    height: 150px;
    width: 150px;
  }

  .image h2 {
  color: cyan;
  margin-top: 15px;
  }
  
  
  ul li h2{
    margin: 0px 0;
    color:grey;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
  
  }
  
  
  
  .border{
    height: 2px;
    width: 100%;
    background:deepskyblue;
    margin-bottom: 1.5em;
  }
  
  
  ul{
    padding: 0px 0px;
    list-style: none;
    color: whitesmoke;
    font-size: 15px;
    letter-spacing: 0.5px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  
  ul a{
    text-decoration: none;
    outline: none;
    color:whitesmoke;
    transition: 0.3s;
  
  }
  
  ul a li{
    margin: 2px auto;
  
  }
  
  ul a:hover{
    color:cyan;
  }
  
  
  ul li{
    margin:23px 0;
    height:25px;
  
  }
  
  li i{
    margin-right:20px;
  
  }
  
  ul li h2 {
    line-height: 20px;
    color: cyan;
  }
  
  
  
  .social-icons{
    padding:10px 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  
  
  .social-icons a{
    display:inline-block;
    width: 45px;
    height: 45px;
    text-align:center;
    background: indigo;
    color:whitesmoke;
    text-decoration:none;
    border-radius:50%;
    transition:0.5s;
  
  }
  
  .social-icons a .fa{
    line-height:45px;
    font-size: 25px;
  
  }
  
  .social-icons a:hover {
    background: deepskyblue;
  }
  
  
  
  .footer-bottom{
    padding:10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:darkSlategray;
    color:whitesmoke;
    font-size: 12px;
  
  }
  

  @media only screen and (max-width: 800px) {

      [class*="inner-footer"] {
        display: block;
        height: 1100px;
        width: 100%;
      }
      [class*="footer-items"] {
          display: block;
          height: 310px;
          width: 100%;
    
        }
    
        body {
          width: 100%;
        }
    
      }