@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  background: #eceffc;
}

.form-control {
  --default-color: currentColor;
  --invalid-color: #ff2e63;
  --valid-color: #0d7377;
  --border-bottom-color: currentColor;

  position: relative;
  border-bottom: 1px solid var(--border-bottom-color);


}
.form-control::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background: var(--valid-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s;
  }

  .form-control:focus-within::after {
    transform: scaleX(1);
  }

  input {
    margin-top: 30px;
    padding: 8px 0;
    font-size: 20px;
    font-weight: inherit;
    color: currentColor;
    background: transparent;
    border: none;
    outline: none;
  }
  input:invalid ~ label {
    color: var(--invalid-color);
  }

  input:valid ~ label {
    color: var(--valid-color);
  }

  /* input:placeholder-shown ~ label {
    color: var(--default-color);
  } */


  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    transform: translateY(-120%) scale(1.5);
  }

  label {
    position: absolute;
    top: 8px;
    left: 0;
    transition: 0.3s;
    transform-origin: left;
  }

.btn {
  position: relative;
  width: 100%;
  padding: 6px 0;
  font-size: 16px;
  color: currentColor;
  background: transparent;
  border: 1px solid #0d7377;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transition: 0.6s;
  color: #0d7377;
  border-radius: 8px;
}


  .btn:hover {
    background-color: #0d7377;
    border: 1px solid #c8e6f5;
    color: white;
  }

  .login-form {
    display: flex;
    height: 280px;
    width: 250px;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: black;
    background: #c8e6f5;
    border-radius: 10px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109), 0 1px 1px rgba(128, 128, 128, 0.155), 0 2.1px 2.1px rgba(128, 128, 128, 0.195), 0 4.4px 4.4px rgba(128, 128, 128, 0.241), 0 12px 12px rgba(128, 128, 128, 0.35);
}

.login-form h1 {
    margin: 0 0 24px 0;
    font-size: 33px;
  }

  .login-form .form-control {
    margin: 38px 0;
  }

  .login-form .btn {
    width: 100%;
    margin: 10px 0 9px 0;
  }