.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 76vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
         
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../../img/illustrations/video_transparent.png);
  background-size: 50rem;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.video #left-button,
.video #right-button {
  border: none;
  width: 3rem;
  outline: none;
  background: transparent;
}

.video #left-button img,
.video #right-button img {
  opacity: 0.5;
  width: 3rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.video #left-button img:hover,
.video #right-button img:hover {
  cursor: pointer;
  opacity: 1;
}

.video #left-button .inv,
.video #right-button .inv {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.video__secondary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-weight: 600;
}

.video__instruction {
  font-size: 0.8rem;
  color: var(--Grey-dark-1: #333;);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 200;
}
@media (max-width: 900px) {
  .video__secondary {
    margin-top: 3rem;
    font-weight: 200;
    font-family: "Open Sans", sans-serif;
    font-size: 4rem;
    font-weight: 600;
  }
  
  .video__instruction {
    font-size: 0.8rem;
    color: var(--Grey-light-4);
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 200;
  }
}
.video .contain {
  width: 95%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video .row {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-x: scroll;
  height: 100%;
}

.video .row::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.video .row::-webkit-scrollbar-track {
  width: 0;
  height: 0;
}

.video .row::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
}

.video .row__inner {
  -webkit-transition: 450ms -webkit-transform;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 10px;
}

.video .tile {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  position: relative;
  display: inline-block;
  margin-right: 3px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.video iframe {
  width: 20rem;
  height: 15rem;
}

.video .tile:hover .tile__details {
  opacity: 1;
}

.video .tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.video .row__inner:hover .tile {
  opacity: 0.3;
}

.video .row__inner:hover .tile:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.video .tile:hover ~ .tile {
  -webkit-transform: translate3d(80px, 0, 0);
          transform: translate3d(80px, 0, 0);
}

@media screen and (max-width: 768px) {
  .video {
    height: 70vh;
  }
  .video iframe {
    width: 20rem;
    height: 15rem;
  }
  .video__contain {
    width: 100%;
  }
  .video__background {
    display: none;
  }
  .video__secondary {
    font-size: 2rem;
  }
  .video__instruction {
    font-size: 0.8rem;
   
  }
}
/*# sourceMappingURL=index_videos.css.map */