* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  overflow-y: visible;
}
body::-webkit-scrollbar {
  width: 0.7em;
}
@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
.loaderr {
  position: fixed;
  height: 100vh;
  width: 100%;
  // background-color: #131417;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--Grey-dark-3);
  outline: 1px solid var(--Grey-dark-1);
}

.bold {
  font-weight: 700;
  background: transparent;
}

.animate {
  animation: reveal 0.6s forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: scale(0.5);
    transform: translateX(-100px);
  }
  to {
    transform: scale(1);
    opacity: 1;
    transform: translateX(0);
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  // margin-top: -5rem;

  &__logo {
    align-self: center;
    width: 4rem;
    margin-left: 2rem;
  }
  &__bar {
    margin-right: 1rem;
    justify-self: end;
    align-self: center;
  }

  &__links {
    background: transparent;
    margin-right: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    border-bottom: 1px solid;
    border-radius: 2px;
    // font-weight: 900;
    transition: all 0.2s;
    z-index: 20;
    &:hover {
      background-color: var(--navButtons);
      color: var(--white);
    }
  }
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../../img/illustrations/dashboards.png);
  background-size: 30rem;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .dsclogo {
    width: 8rem;
    opacity: 0;
    border-radius: 100%;
    transform: translateY(-10px);
  }

  .heading {
    &__primary {
      background: transparent;
      opacity: 0;
      margin: 1rem;
      font-size: 2rem;
      color: var(--Grey-dark-2);
      font-family: "Century Gothic";
      font-weight: 400;
      letter-spacing: 0.5rem;
      transform: translateY(-10px);
    }
    &__secondary {
      opacity: 0;
      font-size: 4rem;
      margin: 0.5rem;
      color: var(--Grey-dark-1);
      font-family: sans-serif;
      font-weight: 500;
      z-index: 20;
      background: transparent;
      transform: translateY(-10px);
    }

    &__background {
      background: transparent;
      font-family: sans-serif;
      position: fixed;
      font-size: 18rem;
      transform: rotate(270deg) translateY(80vh);
      color: var(--Grey-light-4);
      opacity: 0.3;
    }

    &__illustration {
      position: absolute;
      width: 30rem;
      top: 30vh;
      left: 0;
      background: transparent;
      // opacity: 0.3;
    }
  }

  .getStarted {
    background: transparent;
    opacity: 0;
    transform: translateY(-10px);

    margin-top: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid;
    border-radius: 2px;
    // font-weight: 900;
    transition: all 0.2s;
    z-index: 20;
    &:hover {
      background-color: var(--navButtons);
      color: var(--white);
    }
  }
}
#ScrolltoTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--navButtons);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: var(--white);
  border: none;
  outline: none;
  cursor: pointer;
  // display: none;
  &:active {
    color: var(--loginButton);
  }
  i {
    color: var(--white);
  }
}

@media screen and (max-width: 1110px) {
  .header {
    background-image: none;
  }
}

@media screen and (max-width: 600px) {
  .header {
    background-image: none;
  }
  .header .heading__background {
    display: none;
  }
  .header .heading__illustration {
    opacity: 0.15;
  }
}
@media screen and (max-width: 350) {
  .header .heading__secondary {
    font-size: 1rem !important;
  }
}
// ?????????????????????????
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.flash {
  margin: 0px 20%;
}

.alert {
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-bottom: 0px;
}
.alert {
  opacity: 1;
  transition: opacity 0.6s;
}
#success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}
#error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

/*The Close Button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
