* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: sans-serif;
  color: #4d5053;
}

.bold {
  font-weight: 700;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;

  &__logo {
    align-self: center;
    width: 4rem;
    margin-left: 2rem;
  }
  &__bar {
    margin-right: 1rem;
    justify-self: end;
    align-self: center;
  }

  &__links {
    margin-right: 1rem;
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    transition: all 0.2s;
    z-index: 20;
    &:hover {
      background-color: #123d82;
      color: #ffffff;
    }
  }
}

.header {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .dsclogo {
    width: 8rem;
    border-radius: 100%;
  }

  .heading {
    &__primary {
      margin: 1rem;
      font-size: 2rem;
      color: #4d5053;
      font-family: "Century Gothic";
      font-weight: 400;
      letter-spacing: 0.5rem;
    }
    &__secondary {
      font-size: 4rem;
      margin: 0.5rem;
      color: #4d5053;
      font-family: sans-serif;
      font-weight: 500;
    }

    &__background {
      background: transparent;
      font-family: sans-serif;
      position: absolute;
      font-size: 18rem;
      transform: rotate(270deg) translateY(80vh);
      color: rgba($color: #c4ceda, $alpha: 0.3);
    }

    &__illustration {
      position: absolute;
      width: 30rem;
      top: 30vh;
      left: 0;
      background: transparent;
      opacity: 0.3;
    }
  }

  .getStarted {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.2s;
    z-index: 20;
    &:hover {
      background-color: #123d82;
      color: #ffffff;
    }
  }
}
