/* variables */
:root {
  --img_transition: all 0.5s ease;
}

#features {
  position: relative;
  min-height: 100h;
}
#feature-main-heading {
  text-align: center;
  padding: 5px;
  margin-top: 2rem;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 600;
}
/* Expanded Card */
.feature-black {
  width: 100%;
  min-height: 100vh;
  max-height: 200vh;
  align-items: center;
  opacity: 0.9;
  z-index: 3;
  animation-name: animate;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.feature-card-expanded {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#heading-expanded {
  color: var(--white);
  text-align: center;
  font-size: 2em;
  margin-top: 50px;
}
#para-expanded {
  color: var(--black);
  padding: 20px;
  text-align: justify;
  font-size: 1.1rem;
  letter-spacing: 2px;
}
#feature-close {
  color: var(--white);
  background-color: var(--Grey-dark-1);
  padding: 15px;
  padding-top: 20px;
  z-index: 50;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}
/* Expanded Card end */

#feature-card-container {
  position: relative;
  width: 100%;
  top: 0px;
  min-height: 100vh;
}
#mini-feature-card-container {
  position: relative;
  top: 0px;
  min-height: 100vh;
  padding-top: 20px "";
}

.feature-card-column {
  /* width: 50%;
    float: left; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  padding: 4%;
  box-sizing: border-box;
  overflow: hidden;
}

.feature-column-1 {
  padding-top: 100px;
}

.feature-card-column .card {
  width: 100%;
  max-width: 340px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  cursor: pointer;
  margin-bottom: 80px;
  margin-top: 50px;
  padding-bottom: 30px;
  border-radius: 43px;
  /* lower card after hover is  */
  transform: translateY(0);
  transition: var(--img_transition);
}
.feature-black .card {
  width: 100%;
  max-width: 340px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  cursor: pointer;
  margin-bottom: 80px;
  padding-bottom: 30px;
  border-radius: 43px;
  /* lower card after hover is  */
  transform: translateY(0);
  transition: var(--img_transition);
}

/* Raise card upon hover */
.card:hover {
  transform: translateY(-20px);
  transition: var(--img_transition);
}

.feature-card-column .border {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 60px;
  border-radius: 43px;
  background: white;
  box-shadow: 0px 25px 94px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.041);
  transition: var(--img_transition);
  z-index: -1;
}

.feature-black .border {
  position: absolute;
  width: 100%;
  height: 60%;
  padding: 60px;
  border-radius: 43px;
  background: white;
  box-shadow: 0px 25px 94px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.041);
  transition: var(--img_transition);
  z-index: -1;
}

/* Make border sharp on hover */
.card:hover .border {
  border-radius: 0%;
  box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.25);
  transition: var(--img_transition);
}

.featured-para1,
.featured-para2,
.featured-para3,
.featured-para4,
.featured-para5,
.featured-para6 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  z-index: 1;
  padding-right: 20px;
  padding-left: 40px;
  color: #0f6db1;
}

.feature-card-column .card h1,
.feature-black .card h1 {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 280px;
  padding-bottom: 10px;
  width: 100%;
}

.feature-card-column .card > img,
.feature-black .card > img {
  min-width: 90%;
  max-width: 100%;
  min-height: 50%;
  max-height: 60%;
  position: absolute;
  display: flex;
  justify-content: center;
}
#image-expanded {
  width: 80%;
  height: auto;
}
#img-expanded-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-black {
  display: none;
}
.feature-bg-black {
  background-color: #000;
}
.featureBg-blue1 {
  /* background-color: #84859ef3; */
  color: var(--Grey-dark-1);
}
.featureBg-blue2 {
  /* background-color: #2b65ec; */
  color: var(--Grey-dark-1);
}
.featureBg-blue {
  /* background-color: rgb(177, 209, 235); */
  color: var(--Grey-dark-1);
}
.featureBlack-border {
  border-color: #000;
}
.featureWhite-border {
  border-color: var(--white) !important;
}
/* Media Queries */
@media screen and (max-width: 768px) {
  .feature-main-heading {
    font-size: 2rem;
  }
  .feature-card-column {
    /* width: 90%;*/
    grid-template-columns: 1fr;
  }
  .feature-card-expanded {
    grid-template-columns: 1fr;
  }

  .feature-column-1 {
    padding-top: 0px;
  }
  .feature-card-column .card:nth-child(2n) {
    top: 0px;
  }

  .feature-black .card > .img-expanded {
    margin: 5px;
  }
}
@media screen and (min-width: 769px) and (max-width:1000px) {
  .feature-main-heading {
    font-size: 2rem;
  }
  .feature-card-column {
    grid-template-columns: 1fr 1fr;
  }
  .feature-card-expanded {
    grid-template-columns: 1fr 1fr;
  }
  .feature-column-1 {
    padding-top: 0px;
  }
  .feature-black .card > .img-expanded {
    margin: 5px;
  }
}

@keyframes animate{
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}