.main {
  .about {
    display: flex;
    height: 100vh;
    padding: 3rem;
    justify-content: space-evenly;
    align-items: center;

    .background {
      &__image {
        width: 35rem;
      }
    }

    .content {
      width: 35rem;

      .heading {
        &__primary {
          font-size: 2rem;
          font-family: "Open Sans", sans-serif;
        }
        &__secondary {
          margin-top: 2rem;
          font-weight: 200;
          font-family: "Times New Roman", Times;
          font-size: 1.2rem;
          line-height: 2rem;
          opacity: 0.9;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .main {
    .about {
      // padding: 4rem;
      flex-direction: column;
      // height: 80vh;

      .background {
        &__image {
          display: none;
        }
      }

      .content {
        padding-bottom: 0rem;
        .heading {
          &__primary {
            padding: 0 3rem 0 3rem;
            margin-top: 1rem;
            font-size: 2rem;
            text-align: center;
          }
          &__secondary {
            text-align: center;
            // padding: 0 3rem 0 3rem;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px), (max-height: 720px) {
  .main {
    .about {
      height: auto;
      .content {
        .heading {
          &__primary {
            padding: 0rem;
          }
          &__secondary {
            padding: 0 !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .main {
    .about {
      .content {
        .heading {
          &__primary {
            padding: 0rem;
          }
          &__secondary {
            line-height: 1.4rem;
            padding: 0 8rem 0 8rem;
          }
        }
      }
    }
  }
}
