.video {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../../img/illustrations/video_transparent.png);
  background-size: 50rem;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background: linear-gradient(
  //   rgba(255, 255, 255, 0.8),
  //   rgba(255, 255, 255, 0.8)
  // );

  #left-button,
  #right-button {
    border: none;
    width: 3rem;
    outline: none;
    background: transparent;
    img {
      opacity: 0.5;
      width: 3rem;
      transition: all 0.2s;

      &:hover {
        opacity: 1;
      }
    }
    .inv {
      transform: scaleX(-1);
    }
  }
  &__secondary {
    margin-top: -2rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 600;
  }
  &__instruction {
    font-size: 0.8rem;
    color: var(--Grey-light-4);
    margin-top: -5rem;
    font-weight: 200;
  }

  .contain {
    width: 80%;
    z-index: 3;
    display: flex;
    justify-content: center;
  }

  .row {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-x: scroll;
    height: 100%;
  }
  .row::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .row::-webkit-scrollbar-track {
    width: 0;
    height: 0;
  }

  .row::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
  }
  .row__inner {
    -webkit-transition: 450ms -webkit-transform;
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    height: 100%;
    width: fit-content;
    // margin: 70.3125px 0;
    padding-bottom: 10px;
  }
  .tile {
    transform: scale(0.9);
    position: relative;
    display: inline-block;
    // width: 250px;
    // height: 140.625px;
    margin-right: 3px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: 450ms all;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  iframe {
    width: 20rem;
    height: 15rem;
  }

  .tile:hover .tile__details {
    opacity: 1;
  }
  .tile__title {
    position: absolute;
    bottom: 0;
    padding: 10px;
  }

  .row__inner:hover .tile {
    opacity: 0.3;
  }
  .row__inner:hover .tile:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  .tile:hover ~ .tile {
    transform: translate3d(80px, 0, 0);
  }
}

@media screen and (max-width: 768px) {
  .video {
    height: 70vh;
    iframe {
      width: 10rem;
      height: 10rem;
    }
    &__contain {
      width: 100%;
    }
    &__background {
      display: none;
    }
    &__secondary {
      font-size: 2rem;
    }
    &__instruction {
      font-size: 0.8rem;

      margin-top: -5rem;
    }
  }
}
