* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--Grey-dark-1);
  // overflow-x: hidden;
}

section {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--Grey-dark-3);
  outline: 1px solid var(--Grey-dark-1);
}

.bold {
  font-weight: 700;
  background: transparent;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;

  &__logo {
    align-self: center;
    width: 4rem;
    margin-left: 2rem;
  }
  &__bar {
    margin-right: 1rem;
    justify-self: end;
    align-self: center;
  }

  &__links {
    background: transparent;
    margin-right: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    border-bottom: 1px solid;
    border-radius: 2px;
    // font-weight: 900;
    transition: all 0.2s;
    z-index: 20;
    &:hover {
      background-color: var(--navButtons);
      color: var(--white);
    }
  }
}

.header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../../img/illustrations/dashboards.png);
  background-size: 30rem;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .dsclogo {
    width: 8rem;
    opacity: 0;
    border-radius: 100%;
    transform: translateY(-10px);
    animation: fadeIn 1s forwards;
  }

  .heading {
    &__primary {
      background: transparent;
      opacity: 0;
      margin: 1rem;
      font-size: 2rem;
      color: var(--Grey-dark-2);
      font-family: "Century Gothic";
      font-weight: 400;
      letter-spacing: 0.5rem;
      transform: translateY(-10px);
      animation: fadeIn 1s 1s forwards;
    }
    &__secondary {
      opacity: 0;
      font-size: 4rem;
      margin: 0.5rem;
      color: var(--Grey-dark-1);
      font-family: sans-serif;
      font-weight: 500;
      z-index: 20;
      background: transparent;
      transform: translateY(-10px);
      animation: fadeIn 1s 0.5s forwards;
    }

    &__background {
      background: transparent;
      font-family: sans-serif;
      position: fixed;
      font-size: 18rem;
      transform: rotate(270deg) translateY(80vh);
      color: var(--Grey-light-4);
      opacity: 0.3;
    }

    &__illustration {
      position: absolute;
      width: 30rem;
      top: 30vh;
      left: 0;
      background: transparent;
      // opacity: 0.3;
    }
  }

  .getStarted {
    background: transparent;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 1s 1.5s forwards;
    margin-top: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid;
    border-radius: 2px;
    // font-weight: 900;
    transition: all 0.2s;
    z-index: 20;
    &:hover {
      background-color: var(--navButtons);
      color: var(--white);
    }
  }
}
#ScrolltoTop{
  position:fixed;
  right:10px;
  bottom: 10px;
  width:50px;
  height:50px;
  border-radius:50%;
  background-color: var(--navButtons);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color:var(--white);
  border:none;
  outline:none;
  cursor:pointer;
  &:active{
    color:var(--loginButton);
  }
  i{
    color:var(--white);
  }
}

@media screen and (max-width: 600px) {
  .header {
    background-image: none;
  }
  .header .heading__background {
    display: none;
  }
  .header .heading__illustration {
    opacity: 0.15;
  }
}
