.contact_us {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;

  .cu {
    padding: 3rem;
    background-color: var(--Grey-light-1);
    display: flex;
    align-items: center;
    border-radius: 10px;
  }

  .progress {
    transition: all 0.2s;
  }

  progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    align-self: center;
    height: 20px;
  }

  .heading {
    &__primary {
      font-family: "Open Sans", sans-serif;
      text-align: center;
      font-size: 3rem;
    }
  }

  h4 {
    font-family: "Times New Roman", Times;
    font-weight: 400;
    font-size: 20px;
    color: var(--Grey-light-4);
    line-height: 1.5;
  }

  /* ///// inputs /////*/

  input:focus ~ label,
  textarea:focus ~ label,
  input:valid ~ label,
  textarea:valid ~ label {
    font-size: 0.75em;
    color: var(--Grey-light-4);
    top: -2px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
  }
  .inputfile {
    display: none;
    cursor: pointer;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    transition: ease 0.5s;
    transform: scale(1);
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
      background-color: var(--Grey-dark-1);
      color: var(--primary-light);
      border: 1px solid;
      border-radius: 2px;
    }
  }

  .styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
  }

  @media only screen and (max-width: 768px) {
    .styled-input {
      width: 100%;
    }
    .contact_us {
      overflow-x: hidden;
    }
  }

  .styled-input label {
    font-size: 1rem;
    // color: var(--Grey-light-4);
    padding: 0.5rem 1rem;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
  }

  .styled-input.wide {
    width: 650px;
    max-width: 100%;
  }

  input,
  textarea {
    padding: 30px;
    border: 0;
    font-size: 1rem;
    background-color: var(--Grey-light-2);
    color: var(--Grey-dark-1);
    border-radius: 4px;
  }
  .full {
    width: 100%;
    border: 1px solid lightgray;
  }

  input:focus,
  textarea:focus {
    outline: 0;
  }

  input:focus ~ span,
  textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
  }

  .message {
    min-height: 8em;
  }

  .input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
  }

  .submit-btn {
    transform: translateY(-10px);
    font-family: "Times New Roman", Times, serif;
    margin-top: 2rem;
    padding: 0.8em 1.5rem 0.8em 1.5rem;
    border: 1px solid;
    border-radius: 2px;
    font-size: 1rem;
    transition: all 0.2s;
    z-index: 20;
    background-color: var(--Grey-dark-1);
    color: var(--primary-light);
    border-color: var(--Grey-dark-1);

    &:hover {
      background-color: var(--primary-light);
      color: var(--Grey-dark-1);
    }
  }

  @media (max-width: 768px) {
    progress[value] {
      width: 12rem !important;
    }

    .submit-btn {
      width: 60%;
      float: none;
      text-align: center;
    }
    .input-container {
      // width: 650px;
      max-width: 50%;
      // margin: 20px 0 25px 0;
    }
    .styled-input.wide {
      width: 100%;
      max-width: 100%;
    }

    // input:focus ~ label,
    // textarea:focus ~ label,
    // input:valid ~ label,
    // textarea:valid ~ label {
    //   font-size: 0.75em;
    //   top: 0px;
    //   left: 0px;
    // }

    input,
    textarea {
      // padding: 1rem 1.2rem;
      font-size: 1rem;
    }
  }

  input[type="checkbox"] + label {
    color: var(--Grey-light-4);
    font-style: italic;
  }

  input[type="checkbox"]:checked + label {
    color: var(--color-primary);
    font-style: normal;
  }
}
@media screen and (max-width: 768px) {
  .contact_us .heading__primary {
    text-align: center;
    font-size: 2rem;
  }
}
