.main {
  .about {
    display: flex;
    height: 100vh;
    padding: 3rem;
    justify-content: space-evenly;
    align-items: center;

    .background {
      &__image {
        width: 40rem;
      }
    }

    .content {
      width: 30rem;

      .heading {
        &__primary {
          font-size: 2rem;
          font-family: sans-serif !important;
        }
        &__secondary {
          margin-top: 2rem;
          font-weight: 200;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1rem;
          line-height: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    .about {
      padding: 4rem;
      flex-direction: column;

      .background {
        &__image {
          display: none;
        }
      }

      .content {
        padding-bottom: 3rem;
        .heading {
          &__primary {
            padding: 0 3rem 0 3rem;
            margin-top: 1rem;
            font-size: 2rem;
            text-align: center;
          }
          &__secondary {
            padding: 0 3rem 0 3rem;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .main {
    .about {
      .content {
        .heading {
          &__primary {
            padding: 0 5rem 0 5rem;
          }
          &__secondary {
            padding: 0 5rem 0 5rem;
          }
        }
      }
    }
  }
}
