/* GENERAL RESETS */
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #4fda8c;
}

/* BODY */
body {
  position: relative;
  background-color: #ddf3f5;
  font: 16px/26px "Raleway", sans-serif;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

/* BUTTON */
a.button {
  position: absolute;
  left: 20px;
  top: 20px;
  height: auto;
  padding: 0.8rem 1rem;
  font-size: 0.8rem;
  line-height: normal;
  text-transform: uppercase;
  font-family: var(--global-font);
  font-weight: 700;
  letter-spacing: 0;
  border-radius: 0;
  border: 1px solid #2d515c;
  text-decoration: none;
  color: #fff;
}
a.button:hover {
  border-color: #2d515c;
  color: #fff;
  padding: 1rem 3.2rem;
}
@media only screen and (min-width: 22em) {
  a.button {
    padding: 1rem 2.8rem;
    font-size: 1rem;
  }
}

/* LOGIN */
.login {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

/* WRAP */
.wrap {
  position: static;
  margin: auto;
  width: 100%;
  box-shadow: 3px 3px 10px grey;
  height: auto;
  overflow: hidden;
}
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* LOGO */
.logo {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.logo img {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.logo a {
  width: 100%;
  height: 100%;
  display: block;
}

/* USER (FORM WRAPPER) */
.user {
  position: relative;
  z-index: 0;
  float: none;
  margin: 0 auto;
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: #b2ebf2; /* fallback for old browsers */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border-top: 1px solid #1cb5e0;
}
.user .actions {
  margin: 1em 0 0;
  padding-right: 10px;
  width: 100%;
  display: block;
  text-align: center;
}
.user .actions a {
  margin: 1em 0;
  width: 90px;
  display: inline-block;
  padding: 0.2em 0em;
  background-color: #5c6576;
  border: none;
  /* color: #999; */
  cursor: pointer;
  text-align: center;
  font-size: 0.8em;
  border-radius: 30px 0 0 30px;
  -webkit-box-shadow: 0px 0px 27px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 27px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 27px -9px rgba(0, 0, 0, 0.75);
}
.user .actions a:last-child {
  color: #fff;
  border-radius: 0 30px 30px 0;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* CONTENT */
.content {
  position: fixed;
  z-index: 1;
  float: none;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
}

/* SLIDESHOW */
#slideshow {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px 0 0 10px;
}
#slideshow h2 {
  margin: 0.5em auto 0em auto;
  text-align: center;
  font-size: 2.4em;
  color: #fff;
  line-height: 0.5em;
}
#slideshow p {
  color: #fff;
  display: none;
}
#slideshow div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em 3em;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#slideshow .one {
  background-image: url("http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/dots.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
#slideshow .two {
  background-image: url("http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/gears.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
#slideshow .three {
  background-image: url("http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/splat.png");
  background-repeat: no-repeat;
  background-position: 0% 5%;
}
#slideshow .four {
  background-image: url("http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/ray.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

/* FORM ELEMENTS */
input {
  font: 16px/26px "Raleway", sans-serif;
}
.form-wrap {
  width: 100%;
  margin: 2em auto 0;
}
.form-wrap a {
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #00204a;
}
.form-wrap a:hover {
  color: #00204a;
}
.form-wrap .tabs {
  overflow: hidden;
}
.form-wrap .tabs * {
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.form-wrap .tabs h3 {
  float: left;
  width: 50%;
}
.form-wrap .tabs h3 a {
  padding: 0.5em 0;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  display: block;
  color: black;
  border: 0;
}
.form-wrap .tabs h3 a.active {
  color: #00204a;
}
.form-wrap .tabs h3 a.active span {
  padding-bottom: 4px;
  border-bottom: 1px solid #00204a;
}
.form-wrap .tabs-content {
  padding: 1.5em 3em;
  text-align: left;
  width: auto;
}
.help-action {
  padding: 0.4em 0 0;
  font-size: 0.93em;
}
.form-wrap .tabs-content div[id$="tab-content"] {
  display: none;
}
.form-wrap .tabs-content .active {
  display: block !important;
}
.form-wrap form .input {
  margin: 0 0 0.8em 0;
  padding: 0.8em 2em 10px 0;
  width: 100%;
  font-size: 18px;
  display: inline-block;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #00204a;
  outline: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: var(--global-font);
  color: #00204a;
}
.form-wrap form button {
  margin: 1em 0;
  padding: 0.5em 3em;
  width: auto;
  display: block;
  background-color: black;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  border-radius: 30px;
  background: #000046; /* fallback for old browsers */
  -webkit-box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
}
.form-wrap form button:hover {
  background-color: black;
}

.form-wrap form .checkbox:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.form-wrap form label[for] {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}
.form-wrap form label[for]:before {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 0px;
  left: -14px;
  content: "";
  border: 1px solid #5a6374;
}
.form-wrap form label[for]:after {
  position: absolute;
  top: 1px;
  left: -10px;
  width: 15px;
  height: 8px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: "";
  background-color: transparent;
  border: solid #67dac6;
  border-width: 0 0 3px 3px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.form-wrap .help-text {
  margin-top: 0.6em;
}
.form-wrap .help-text p {
  text-align: left;
  font-size: 14px;
}

/* MEDIUM VIEWPORT */
@media only screen and (min-width: 40em) {
  .wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 600px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
  }
  /* LOGO */
  .logo {
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    background: none;
  }
  .logo img {
    width: 100px;
    height: 100px;
  }

  /* SLIDESHOW */
  #slideshow h2 {
    margin: 4.5em 0 1em;
    font-size: 2em;
  }
  #slideshow h2 span {
    padding: 5px 0;
    border: solid #b6ede3;
    border-width: 1px 0;
  }
  #slideshow p {
    display: block;
  }
  #slideshow div {
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
  }
  #slideshow .one {
    background-position: 50% 130%;
  }
  #slideshow .two {
    background-position: 50% 200%;
  }
  #slideshow .three {
    background-position: 50% 300%;
  }
  #slideshow .four {
    background-position: -40% -80%;
  }

  /* CONTENT */
  .content,
  .content.full {
    position: relative;
    float: left;
    width: 50%;
    height: 500px;
    -webkit-box-shadow: -3px 0px 45px -6px rgba(56, 75, 99, 0.61);
    -moz-box-shadow: -3px 0px 45px -6px rgba(56, 75, 99, 0.61);
    box-shadow: -3px 0px 45px -6px rgba(56, 75, 99, 0.61);
    border-radius: 10px 0 0 10px;
  }

  /* USER (FORM WRAPPER) */
  .user {
    padding-top: 0;
    float: left;
    width: 50%;
    height: 500px;
    -webkit-box-shadow: -3px 0px 45px -6px rgba(56, 75, 99, 0.61);
    -moz-box-shadow: -3px 0px 45px -6px rgba(56, 75, 99, 0.61);
    box-shadow: -3px 0px 45px -6px rgba(56, 75, 99, 0.61);
    border-radius: 0 10px 10px 0;
    border: 0;
  }
  .user .actions {
    margin: 0;
    text-align: right;
  }
  /* FORM ELEMENTS */
  .form-wrap {
    margin: 4em auto 0;
  }
  .form-wrap .tabs-content {
    padding: 1.5em 2.5em;
  }
  .tabs-content p {
    position: relative;
  }
}
/* LARGE VIEWPORT */
@media only screen and (min-width: 60em) {
  /* WRAP */
  .wrap {
    width: 900px;
    height: 550px;
  }
  /* CONTENT */
  .content,
  .content.full {
    height: 550px;
  }
  /*SLIDESHOW */
  #slideshow h2 {
    margin: 4em 0 1em;
    font-size: 3em;
  }
  #slideshow .four {
    background-position: -82% -330%;
  }
  /* USER (FORM WRAPPER) */
  .user {
    height: 550px;
  }
  .form-wrap {
    margin: 5em auto 0;
  }
  .form-wrap .tabs-content {
    padding: 1.5em 4.9em;
  }
}

/* CSS */
.element {
  opacity: 0;
  transform: scale(0.95) translate3d(0, 100%, 0);
  transition: transform 400ms ease, opacity 400ms ease;
}
.element.active {
  opacity: 1;
  transform: scale(1) translate3d(0, 0, 0);
}
.element.inactive {
  opacity: 0;
  transform: scale(1) translate3d(0, 0, 0);
}

/* eye */
.login-form img {
  height: 30px;
  width: 30px;
  margin-top: -52px;
  margin-left: 84%;
}

.signup-form img {
  height: 30px;
  width: 30px;
  margin-top: -52px;
  margin-left: 84%;
}
