@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap");
/* COLORS */
/* FONT */
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  /* border: 10px solid #ff4654; */
  color: #0f1923;
  font: 400 18px/22px "Rajdhani", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  width: 50%;
  height: 70%;
  background-color: rgb(250, 250, 250);
  overflow: hidden;
}
.container div {
  box-sizing: border-box;
  padding: 20px;
}
.container div.heading-block {
  height: 100%;
  width: 40%;
  padding: 2rem;
  display: flex;
  background-image: url("../../img/illustrations/loginillus.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container:hover > .heading-block {
  transform: scale(1.05);
}

.container div.signup-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: space-around;
  padding: 1.5rem;
}

.heading-block {
  background-color: #3bb9ff;
  color: white;
}
.heading-block h1 {
  margin: 0;
  font: 700 64px/66px "Rajdhani", sans-serif;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.signup-form p {
  margin: 0;
  text-align: center;
}
.signup-form form {
  margin: 30px 0;
}
.signup-form form * {
  font-family: "Rajdhani", sans-serif;
}
.signup-form label,
.signup-form .button-box {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.signup-form label {
  margin: 8px 0;
}
.signup-form input {
  width: 90%;
  height: 40px;
  margin-bottom: 25px;
  padding: 0 8px;
  font: 400 18px "Rajdhani", sans-serif;
  opacity: 0.8;
}
.signup-form select {
  width: 95%;
  height: 48px;
  margin-bottom: 30px;
  padding: 0 8px;
  font: 400 18px "Rajdhani", sans-serif;
}
.signup-form div.button-box {
  display: inline-block;
  width: 95%;
  padding: 0px;
  text-align: center;
  border: 1px solid;
  transition: all 0.1s;
}
.signup-form div.button-box:hover {
  background-color: #3bb9ff;
  color: white;
}

/* .signup-form div.button-box .button-mask {
  cursor: pointer;
  position: relative;
  padding: 18px 60px;
  display: block;
  overflow: hidden;
  color: white;
  background-color: #ff4654;
  margin: 0rem;
}
.signup-form div.button-box .button-mask:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -5%;
  width: 130%;
  height: 100%;
  background-color: #0f1923;
  transform: translateX(-100%) skew(-15deg);
  transition: transform 0.4s ease;
}
.signup-form div.button-box .button-mask:hover:before {
  transform: translateX(0) skew(-15deg);
}
.signup-form div.button-box .button-mask span {
  position: relative;
  z-index: 1;
} */

/* Outlined text background */
.bg-text-stroke {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 72px 48px;
  z-index: -1;
}
.bg-text-stroke span {
  font: 700 21rem "Teko", sans-serif;
  line-height: 0.8;
  text-transform: uppercase;
  -webkit-text-fill-color: rgba(255, 255, 255, 1);
  -webkit-text-stroke-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 1px;
}

@media screen and (max-width: 800px) {
  .container div {
    height: auto;
  }
  .container {
    width: 90%;
    height: 80vh;
  }
  .container div.signup-form {
    width: auto;
  }
  .container div.heading-block {
    display: none;
  }
  .social-login {
    flex-direction: column;
  }
  .social-login a {
    width: auto !important;
  }
}

.social-login {
  position: relative;
  display: flex !important;
  justify-content: space-between;
  width: 100%;
  transform: translateY(0px);
}

.social-login a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  width: 40%;
  height: 2rem;
  transition: all 0.2s;
}
.social-login a:hover {
  opacity: 0.9;
}

.social-login a img {
  position: relative;
  float: left;
  width: 20px;
  border-radius: 50%;
}
.social-login a:first-child {
  background-color: #4267b2;
}
.social-login a:last-child {
  color: #0f1923;
  background-color: rgb(248, 248, 248);
}
