/* Hiding Styles for Computer Screen */
.computer {
	display: none;
}


@media (max-width: 1024px){
/* Styles for whole web page */
.colored-section {
  background-color: black;

}

.white-section {
  background-color: grey;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
h1 {
	font-weight: bold;
	margin: 0;
}

span {
	font-size: 12px;
}
a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;

  display:inline-block;

  background:#f1f1f1;
  margin:10px;

  box-shadow:0 5px 15px -5px #00000070;
  color:#3498db;
  overflow:hidden;
  position:relative;
}
button {
	border-radius: 20px;
	border: 1px solid  #3BB9FF;
	background-color:  #3BB9FF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  position: relative;
  top: 10px;
  right: 10px;

}
.forgotPassword{
  position: relative;
  left: 80px;

}
.forgotPassword a{
	border-radius: none;
}

.clickhere{
	position: relative;
	top: 10px;
}
button:focus {
	outline: none;
}
form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
.form-container {
	position: absolute;
	top: 0;
	height: 100%;

}
.sign-in-container {

	width: 100%;

}
.social-container-1{
	position: relative;
	right: 40px;
}
.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
a .fab {
  line-height:90px;
  font-size:26px;
  transition:0.2s linear;
}

a:hover .fab {
  transform:scale(1.3);
  color:#f1f1f1;
}

a:before{
  content:'';
  position:absolute;
  width:120%;
  height:120%;
  background:#3498db;
  transform:rotate(45deg);
  left:-110%;
  top:90%;
}

a:hover::before{
  animation:rotate 0.7s 1;
  top:-10%;
  left:-10%;
}
}
