.heading-block h1 {
  margin: 0;
  font-family: var(--global-font);
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: -2px;
  font-size: 2.5em;
  transform: translateX(-10px);
}
.container div.heading-block {
  height: 100% !important;
}
.forgot {
  height: 70% !important;
}
@media screen and (max-width: 800px) {
  .container {
    top: 55%;
    overflow-x: hidden;
  }
}
