.heading-block h1 {
    margin: 0;
    font: 700 3rem/3.5rem "Rajdhani", sans-serif  !important;
    text-transform: uppercase;
    letter-spacing: -2px;
}
.container div.heading-block {
    height: 100% !important;
}
.forgot{
    height: 70% !important;
}
@media screen and (max-width: 800px){
.container {
    top: 55%;
    overflow-x: hidden;
    }
}